<div>
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Search and Modify Master Instrument Detail</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchMasterForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row " style="background-color:white;">


            <div class="col-sm-6 spaceleft spaceTopBottom">
              <label>Search Master Instrument By Master Name</label> <br>
              <input style="display: inline;" class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="&#61442; Type here to filter records from table below.." formControlName="searchDocument">
              <button class="w3-btn  box-1 btn btn-one margin-right1" type="button"
              (click)="searchData()">Search</button>
            </div>


            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <br>
              <table class="w3-table  w3-bordered">
                <tr>

                  <th style="text-align:center;">MASTER NAME</th>
                  <th style="text-align:center;">SERIAL NO</th>
                  <th style="text-align:center;">MAKE</th>
                  <th style="text-align:center;">MODEL</th>
                  <th style="text-align:center;">MI OWNER</th>
                  <th style="text-align:center;">PREVIEW</th>
                </tr>
                <tr *ngIf="masterInstruArray==0">
                  <td  width="100%" colspan="6">
                    <span>Enter Criteria To Search Records(s).</span>
                  </td>
                </tr>

                <tr *ngFor="let mastInstru of masterInstruArray| paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">
                  <td><a class="a1" (click)="moveToMIUpdateScreen(i)">{{mastInstru[4]}}</a></td>
                  <td>{{mastInstru[7]}}</td>
                  <td>{{mastInstru[10]}}</td>
                  <td>{{mastInstru[13]}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

              <br>

              <div style="color:red;" id="trial"></div>
              <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
              <label>Items per page:
                <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </label>

            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
