<div>
  <div>

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Specification Details Of NABL Scope
          Master
        </label><br>
      </div>

      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterSpecificationForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">


            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
                Specification Details
              </label>
              <br>
            </div>
            <br>

            <div class="form-row " style="background-color:white;">
              <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">

                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-3 spaceleft1">
                    <label>Calibration Lab/Discipline Name</label>
                    <select class="w3-input form-control w3-border inputsmallsize30"
                      [(ngModel)]="calibrationLabParameter" formControlName="calibrationLabParameter"
                      (click)="onChange1()">
                      <option [ngValue]="calibrationLabTypeName"
                        *ngFor="let calibrationLabTypeName of arrayOfCalibrationLabTypeName">
                        {{calibrationLabTypeName}}</option>
                    </select>

                  </div>

                  <div class="col-sm-3 spaceleft1">
                    <label>Group</label>
                    <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="groupParameter"
                      formControlName="groupParameter">
                      <option [value]="groupName" *ngFor="let groupName of arrayGroupNameAccorToLab1">{{groupName}}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-4 spaceleft1">
                    <label>Parameter</label>
                    <select class="w3-input form-control w3-border inputsmallsize35" [(ngModel)]="selectParameter"
                      formControlName="selectParameter" (click)="onChange()">
                      <option [value]="paraName" *ngFor="let paraName of arrayParameterNames">{{paraName}}</option>
                    </select>
                  </div>
                  <div class="col-sm-2 spaceleft">
                    <label>Status</label>
                    <select class="form-control inputsmallsize15" [(ngModel)]="status" (click)="paraSpecifications()"
                      name="status" id="status" formControlName="status" required>
                      <option value="null" disabled selected>--Select Status--</option>
                      <option value="Draft">Draft</option>
                      <option value="Approved">Approved</option>
                      <option value="Submitted">Submitted</option>
                      <option value="Rejected">Rejected</option>
                      <option value="Archieved">Archieved</option>
                    </select>
                  </div>
                </div>
                <br>

                <table class="w3-table  w3-bordered">
                  <thead>
                    <tr>

                      <th style="text-align:center;">NABL SCOPE NAME</th>
                      <th style="text-align:center;">RANGE FROM</th>
                      <th style="text-align:center;">RANGE TO</th>
                      <th style="text-align:center;">RANGE UOM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">FREQUENCY FROM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">UOM OF FREQ FROM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">FREQUENCY TO</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">UOM OF FREQ TO </th>
                      <th style="text-align:center;">LEAST COUNT </th>
                      <th style="text-align:center;">LEAST COUNT UOM</th>
                      <th style="text-align:center;">UNC VALUE </th>
                      <th style="text-align:center;">UNC FORMULA</th>
                      <th style="text-align:center;">UNC UOM</th>
                      <th style="text-align:center;">TEMP CHART TYPE</th>
                      <th style="text-align:center;">MODE</th>
                      <th style="text-align:center;">AMENDMENT DATE</th>
                      <th style="text-align:center;">LOCATION OF CALIBRATION</th>
                      <th>SAVE</th>

                    </tr>
                  </thead>
                  <tbody formArrayName="Rows">
                    <tr
                      *ngFor="let itemrow of  createMasterSpecificationForm.controls.Rows.controls | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                      [formGroupName]="fieldGlobalIndex(i)">
 
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize30" formControlName="nablScopeId">
                          <option [value]="paraName1" *ngFor="let paraName1 of arrayOfNablScopeNames">{{paraName1}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeFrom"
                          type="text" name="rang1" id="rang1" size="10">
                      </td>
                      <td> <input class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeTo"
                          type="text" name="rangeto1" id="rangeto1" size="5">
                      </td>
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeUom">
                          <option hidden selected>{{itemrow.get('rangeUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayUomNameAccorToParam1">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td *ngIf="showFreq==1">
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="freqFrom"
                          type="text" type="text" name="frqFrom1" id="frqFrom1" size="5">
                      </td>
                      <td *ngIf="showFreq==1">
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="freqFromUom">
                          <option hidden selected>{{itemrow.get('freqFromUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayOfFrequencyUomNames">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td *ngIf="showFreq==1"> <input class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="freqTo" type="text" name="frqTo1" id="frqTo1" size="5">
                      </td>
                      <td *ngIf="showFreq==1">
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="freqToUom">
                          <option hidden selected>{{itemrow.get('freqToUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayOfFrequencyUomNames">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="leastCount"
                          type="text" name="leastCount1" id="leastCount1" size="5">
                      </td>
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="leastCountUom">
                          <option hidden selected>{{itemrow.get('leastCountUom').value}}</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </select>
                      </td>


                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="uncValue"
                          name="accuracy11" id="accuracy11" size="5" style="width:100px">
                      </td>

                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="uncFormulaId"
                          (change)="accuracyValue(i)" (click)="accuracyValue(i)" id="selectTag1-{{i}}">
                          <option hidden selected>{{itemrow.get('uncFormulaId').value}}</option>
                          <option [value]="uncFormula" *ngFor="let uncFormula of arrayOfUncFormulaNames">{{uncFormula}}
                          </option>
                        </select>
                      </td>


                      <td>
                        <select id="selectTag-{{i}}" class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="uncUom" (change)="accuracyValue1(i)" (click)="accuracyValue1(i)"
                          id="selectTag-{{i}}">
                          <option hidden selected>{{itemrow.get('uncUom').value}}</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="tempChartType"
                          type="text" name="tmpChart1" id="tmpChart1" style="width:100px">
                          <option hidden selected>{{itemrow.get('tempChartType').value}}</option>
                          <option [value]="tempChart" *ngFor="let tempChart of arrayTempChartTypeNames">{{tempChart}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" type="text" name="mode"
                          id="mode" formControlName="modeType">
                          <option [value]="modeName" *ngFor="let modeName of arrayModeTypeListName">{{modeName}}
                          </option>
                        </select>
                      </td>


                      <td>
                        <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                          formControlName="amendmentDate">
                        </ejs-datepicker>
                      </td>

                      <td>

                        Inhouse: <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                          formControlName="inhouse" name="calibratedprocedure" id="calibratedprocedure" value="1">
                        Onsite: &nbsp;&nbsp; <input style="display:inline-block;" class="form-control checkboxsize"
                          type="checkbox" name="calibratedprocedure" id="calibratedprocedure" value="1"
                          formControlName="onsite"><br>


                      </td>

                      <TD>
                        <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                          style="width:50px; height:30px;" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                      </TD>

                      <td>
                        <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <br>
                <div style="color:red;" id="trial"></div>
                <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                <label>Items per page:
                  <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                    formControlName="itemsPerPage">
                    <option value="30" selected>30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>

            </div>

            <div class="form-row " style="background-color:white;">

              <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                (click)="addNewRow()">Add </button>


            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
