<div>
  <div>

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create NABL Scope Master</label><br>
      </div>

      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createNABLScopeMastersForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);"> NABL Scope Master</label><br>
            </div>
            <br>

            <div class="form-row spaceTopBottom" style="background-color:white;">

              <div class="col-sm-4 spaceleft1">
                <label class="required">NABL Certificate No.</label><br>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" placeholder="NABL Certificate No" formControlName="nablCertificateNo"
                  [(ngModel)]="nablCertificateNo" (ngModelChange)="change()" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createNABLScopeMastersForm.controls['nablCertificateNo'].touched && createNABLScopeMastersForm.controls['nablCertificateNo'].hasError('required')">
                  Please enter NABL Certificate No.</div>

              </div>

              <div class="col-sm-4 spaceleft">
                <label class="required">Lab Location</label>
                <select class="w3-input form-control w3-border inputsmallsize30" formControlName="labLocation" required>
                  <option selected disabled value="null">--Select Lab Location--</option>
                  <option>0</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createNABLScopeMastersForm.controls['labLocation'].touched && createNABLScopeMastersForm.controls['labLocation'].hasError('required')">
                  Please select Lab Location</div>

              </div>

              <div class="col-sm-3 adjustleft">
                <label>Status</label>
                <select class="w3-input form-control w3-border inputsmallsize30" formControlName="status">
                  <option>Draft</option>
                  <option>Submitted</option>
                  <option>Approved</option>
                  <option>Archieved</option>
                  <option>Submitted</option>
                </select>
              </div>
              <br>
            </div>

            <div class="form-row spaceTopBottom" style="background-color:white;">
              <div class="col-sm-4 spaceleft1">
                <label>Date of Issue</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  [(ngModel)]="dateValue" formControlName="dateOfIssue" (ngModelChange)="change()">
                </ejs-datepicker>
              </div>

              <div class="col-sm-4 adjustleft">
                <label>Valid upto</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  id='datepicker' [(ngModel)]="dateValue1" formControlName="validUpTo" (ngModelChange)="change()">
                </ejs-datepicker>
              </div>

              <div class="col-sm-4 spaceleft">
                <label>System Certificate Number</label>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" formControlName="systemCertificateNo" [(ngModel)]="systemCertificateNo" disabled>
              </div>
            </div>

            <br>

            <div class="flex-parent jc-center ">
              <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="button"
                (click)="saveData()">Create</button>
            </div>

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge">
                  NABL Scope Details
                </label>
              </a> <br>
            </div>

            <br>

          </div>
        </form>
      </div>
    </div>
  </div>


  <form name="f1">
    <input type="hidden" id="id1" name="p_name" size="10" [(ngModel)]="p_name" (input)="hello1($event)">

    <input type="hidden" id="id2" name="m_name" size="10" [(ngModel)]="m_name" (ngModelChange)="hello2($event)">
  </form>
