html,
body,
.container-full,
.navbar {

  height: 100%;
  width: 100%;
}

.navbar {
  margin: 0px;
}

.setspace {
  margin-left: 3%;
}

.align-center {
  width: 25%;
  margin: auto;
  height: 50%;
  margin-top: 10%;
}

.login-card {
  margin-top: 5%;
  border-radius: 15px;
}

.add {
  padding-bottom: 20px;
}

.left {
  text-align: left;
}


/*Created By : PoojaG MechLean */


/* ...trial css animation......*/




.btn {
  line-height: 30px;
  height: 40px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

/* 
  ========================
		BUTTON ONE
  ========================
  */
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 15;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 10);
}


.box-1 {
  background-color: green;
  height: 40px;
  width: 100px;
}

.logo {
  width: 100%;
  margin-right: 300%;
  margin-left: -2px;
  ;
}


.login-card {
  margin-top: 5%;
  border-radius: 15px;
}

a {
  color: blue;
}

.w3-panel {
  font-size: 15px;
  font-family: 'Calibri';
  margin-top: -5px;
  margin-left: -15px;
}

.w3-paneltermlink {
  font-size: 13px;
  font-family: 'Calibri';

}

.form-group {
  font-size: 15px;
}

.checkbox-inline {
  font-size: 15px;

}

.termslink {
  margin-left: 70px;
}

.termslinkleft {
  margin-left: -1px;
}

.termslinkleft1 {
  margin-left: -1px;
}

.termslinkleft2 {
  margin-left: 0px;
}

.termslinkleft3 {
  margin-left: 0px;
}

.btn-css {
  width: 1000px;
  margin-right: -15px;
}

.btn-Signin {
  width: 400px;
  margin-left: -2%;
}



.box-1 {
  background-color: #0093f5;
  height: 40px;
  width: 100px;
}


.btn {
  line-height: 30px;
  height: 43px;
  text-align: center;
  width: 380px;
  cursor: pointer;
  font-size: 15px;
  background-color: #028679;

}

.flex-parent {
  display: flex;
  margin-bottom: 1%;

}

.jc-center {
  justify-content: center;
  margin-bottom: 1%;
}

button.margin-right {
  margin-right: -2px;
}




@media only screen and (max-width: 400px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
  }


}


/* for mobile view */
@media only screen and (max-width: 700px) {

  .setspace {
    margin-left: -4%;
  }

  .spaceTopBottom {
    margin-bottom: -25%;
  }

  .spaceadjust {
    margin-bottom: -25%;
  }

  .box {
    width: 50%;

  }

  .btn-css {
    width: 400px;
    margin-right: 10px;
  }


  .popup {
    width: 70%;
  }

  .centercard {
    width: 10%;
    height: 15%;
    margin-left: 1%;
    margin-right: 2%;


  }

  .btn-Signin {
    width: 400px;
    margin-left: -2%;


  }

  .logo {
    width: 90%;
    margin-right: 300%;
    margin-top: -50px;

  }

  .w3-panel {
    font-size: 15px;
    font-family: 'calibri';

  }

  .w3-card {

    width: 395px;
    height: 640px;
  }

  body {

    position: fixed;
  }

  html {

    position: fixed;
  }



  .termslink {
    display: inline;
    margin-left: 0px;
  }

  .termslink1 {
    display: inline;
    margin-left: 0px;
  }

  .termslinkleft1 {
    margin-left: -1px;
  }

  .termslinkleft2 {
    margin-left: 0px;
  }

  .termslinkleft3 {
    margin-left: -1px;
  }
}



/************************** Button CSS ********************************************************/


/* ...trial css animation......*/

.box-1 {
  background-color: #008080;
  height: 40px;
  width: 100px;
}

.btn {
  line-height: 30px;
  height: 40px;
  text-align: center;
  width: 130px;
  cursor: pointer;
  font-size: 16px;
  background-color: #008080;

}

.flex-parent {
  display: flex;
  margin-bottom: 1%;

}

.jc-center {
  justify-content: center;
  margin-bottom: 1%;
}

button.margin-right {
  margin-right: 20px;
}

/* 
  ========================
        BUTTON ONE
  ========================
  */
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(27, 25, 25, 0.5);
  border-bottom-color: rgba(29, 27, 27, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 15;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(14, 13, 13, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 10);
}
