<div class="row">
  <div class="col-12">

    <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card">


      <div class="w3-container w3-center  register-card centercard" style="background-color:white;">

      </div>
      <div style="background-color:white;" class="w3-container w3-center  register-card">
        <img src="assets/Universal_image.jpg" class="logo"><br>
      </div>



      <div class="w3-container container-fluid  register-card register-card1 spaceadjust"
        style="background-color:white;">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">


          <div class="form-group" style="background-color:white;">


            <div class="w3-row-padding  space" style="background-color:white;">
              <div class="setspace" style=" width: 340px; text-align: center; border: 2px solid black; ">
                <label style="font-size: small;">Forgot Password</label>
              </div>
              <br><br>
              <div class="col-sm-4">
                <label style="font-size: 14px;">User Name:</label>
              </div>
              <div class="col-sm-8">
                <input class="w3-input w3-border inputsmallsize30" type="text" placeholder="User Name"
                  [(ngModel)]="userName" (keyup)="userNameValid()" formControlName="userName" name="username"
                  id="username" style="display: inline-block;">
              </div>
            </div>

            <div class="w3-row-padding  space" style="background-color:white;">
              <div class="form-group Adjustspace ">
                <div style="color:red;" id="userNameValidation"></div>
              </div>
            </div>



            <br>
            <div class="w3-row-padding space add flex-parent jc-center" style="background-color:rgb(255, 255, 255);">

              <button class="w3-btn  box-1 btn btn-one " type="submit" *ngIf="userStatus==1">Submit</button> &emsp;
              <a (click)="backToLogin()" class="w3-btn  box-1 btn btn-one ">Login</a>

            </div>

            <div class="form-row spaceTopBottom" style="text-align:center">
              <label class="w3-text-red " style="font-size: small;">only for Active Users</label>
            </div>
          </div>
        </form>


      </div>
    </div>


  </div>
</div>
