<div style="background-color: rgb(248, 248, 248);">
  <div style="background-color: rgb(248, 248, 248);">
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge w3-text-blue ">Request For Onsite Calibration</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="ReqOnsiteCaliform">

          <div class="form-group w3-row-padding space" style="background-color:white;">
            <div class="form-row spaceTopBottom" style="background-color:white;">

              <div class="col-sm-6 spaceleft">
                <label class="required"> Requested Date</label><br>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="RequestedDate">
                </ejs-datepicker> <br>
              </div>

              <div class="col-sm-6 adjustleft">
                <label class="required">Customer</label><br>
                <label> <i class="w3-medium custom-icon fa fa-user-plus" required (click)="selectcustomer()"></i>
                  (Select Customer)</label>
              </div>
            </div>

            <div class="form-row col-sm-12 spaceTopBottom" style="background-color:white;">
              <div class="col-sm-6 spaceleft">
                <div>
                  <label class="required">Contact Person Mobile No</label><br>
                  <input type="text" class="w3-input form-control w3-border inputsmallsize15" formControlName="phoneno"
                    required>
                  <div class="w3-panel w3-text-red"
                    *ngIf="ReqOnsiteCaliform.controls.phoneno.invalid && (ReqOnsiteCaliform.controls.phoneno.dirty || ReqOnsiteCaliform.controls.phoneno.touched)">
                    Please enter valid phone no</div> <br>

                </div>

                <div>
                  <label class="required">Customer Person Name</label><br>
                  <input type="text" class="w3-input form-control w3-border inputsmallsize15"
                    formControlName="CustomerName" required>
                  <div class="w3-panel w3-text-red"
                    *ngIf="ReqOnsiteCaliform.controls.CustomerName.invalid && (ReqOnsiteCaliform.controls.CustomerName.dirty || ReqOnsiteCaliform.controls.CustomerName.touched)">
                    Please enter valid name</div> <br>

                </div>

                <div>
                  <label class="required">Requested Quantity</label><br>
                  <input type="text" class="w3-input form-control w3-border inputsmallsize15"
                    formControlName="RequestedQuantity" required>
                  <div class="w3-panel w3-text-red"
                    *ngIf="ReqOnsiteCaliform.controls['RequestedQuantity'].touched && ReqOnsiteCaliform.controls['RequestedQuantity'].hasError('required')">
                    Please enter Requested Quantity</div> <br>

                </div>
              </div>



              <div class="col-sm-6">
                <label>Attachments</label><br>
                <div class="upload-button">
                  <input type="file" #file formControlName="attachedfile1">
                </div>
                <div class="upload-button">
                  <input type="file" #file formControlName="attachedfile2">
                </div>
                <div class="upload-button">
                  <input type="file" #file formControlName="attachedfile3">
                </div>
                <div class="upload-button">
                  <input type="file" #file formControlName="attachedfile4">
                </div>
                <div class="upload-button">
                  <input type="file" #file formControlName="attachedfile5">
                </div> <br>
              </div>

            </div>

          </div>




          <div class="flex-parent jc-center ">
            <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #186CFB" type="button"
              (click)="functionname()">Request For Onsite Calibration</button>
          </div>


        </form>
      </div>
    </div>
  </div>



  <div class="w3-lobster container-fluid mt-3 w3-container  align-center1 w3-card register-card"
    style="background-color:rgb(233,233,233)">
    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="Searchform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-3 spaceleft">

              <label> From Date</label><br>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="fromDate">
              </ejs-datepicker>
            </div>

            <div class="col-sm-3 spaceleft">
              <label>To Date</label><br>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="toDate">
              </ejs-datepicker>
            </div>

            <div class=" form-group col-sm-2 spaceleft">
              <label>Region</label>
              <select id="department" class="form-control inputsmallsize15" formControlName="region" required>
                <option selected disabled value="null">--Select Region--</option>
                <option selected>BHOSARI</option>
                <option>CHAKAN</option>
                <option>CHIKHALI</option>
                <option>CHINCHWAD</option>
                <option>HINJAWADI</option>
                <option>KOLHAPUR</option>
                <option>MAVAL</option>
                <option>MULASHI</option>
                <option>MUMBAI</option>
                <option>OUT OF MAHARASHTRA</option>
                <option>OUT OF PUNE</option>
                <option>PIMPRI CHINCHWAD</option>
                <option>PUNE</option>
                <option>RANJANGAON</option>
                <option>SANASWADI</option>
                <option>TALAWADE</option>
              </select>
            </div>

            <div class=" form-group col-sm-2 spaceleft">
              <label class="required">Status</label>
              <select id="department" class="form-control inputsmallsize15" formControlName="status" required>
                <option selected disabled value="null">--Select Status--</option>
                <option>Active</option>
                <option>Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="Searchform.controls['status'].touched && Searchform.controls['status'].hasError('required')">
                Please select status</div>
            </div>

            <div class=" form-group col-sm-2">
              <div class="flex-parent jc-center">
                <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #186CFB" type="button"
                  (click)="Search()">Search</button>
              </div>
            </div>
          </div>
          <br>

          <div class="form-row " style="background-color:white;">


            <div class="input-icons spaceleft">
              <label class="search">Search</label>
              <input class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="Type here to filter records from table below..">
            </div>

            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <table class="w3-table  w3-bordered">
                <tr>
                  <th>SR No.</th>
                  <th style="text-align:center;">COLLECTION DATE</th>
                  <th style="text-align:center;">CUSTOMER</th>
                  <th style="text-align:center;">BRANCH</th>
                  <th style="text-align:center;">CONTACT NAME</th>
                  <th style="text-align:center;">CONTACT MOBILE</th>
                  <th style="text-align:center;">DELIVERY PERSON</th>
                  <th style="text-align:center;">ATTACHMENT</th>
                  <th style="text-align:center;">COLLECTION QTY.</th>
                  <th style="text-align:center;">COLLECTED QTY.</th>
                  <th style="text-align:center;">DATE COLLECTED</th>
                  <th style="text-align:center;">INWARD QTY.</th>
                  <th style="text-align:center;">REMARK</th>
                  <th style="text-align:center;">STATUS</th>
                  <th style="text-align:center;"></th>
                </tr>
                <tr>

                  <td width="100%" colspan="15">
                    <span>Your search did not return any result</span>
                  </td>


                </tr>
              </table>
            </div>


          </div>

        </div>
      </form>
    </div>
  </div>

  <div>.</div>

</div>
