
<div class = 'container projects'>
	<h1>Animations</h1>
 <div class="overlay"></div>
 </div>




<div class="w3-container w3-border">
	<div class="w3-panel w3-round-small ">
		<h3 class="w3-lobster w3-xxxlarge w3-text-teal">Student Registration Details <button routerLink="/" class="w3-button w3-teal custom-button margin-right"> <i class="w3-medium fa fa-chevron-left"></i> Back</button></h3>
	</div>
	<div class=" w3-panel w3-light-grey w3-padding-16 w3-card-2"><br>
		<h3 class="text-center"></h3>
		
		<table class="w3-table w3-bordered">
			<tr>
				<td><i class="w3-medium custom-icon fa fa-user"></i>Full Name</td>
				<td>: <b>{{firstname | titlecase}}  {{middlename | titlecase}}  {{lastname | titlecase}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-birthday-cake"></i>Birthdate</td>
				<td>: <b>{{birthdate | date:'yyyy-MM-dd'}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-male"></i>Gender</td>
				<td>: <b>{{gender}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-home"></i>Address</td>
				<td>: <b>{{address}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-envelope-o"></i>Email Address</td>
				<td>: <b>{{email}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-phone"></i> Phone</td>
				<td>: <b>{{phoneno}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-book custom"></i> Course</td>
				<td>: <b>{{course}}</b></td>
			</tr>
		</table>
	</div>
</div>


