<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Invoice Detail Report</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="InvoiceDetailReport">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label>Invoice Type</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="invoicetype">

            </div>


            <div class="col-sm-4 adjustleft ">
              <label>Company Prefix</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                formControlName="companyprefix">
            </div>

            <div class="col-sm-4 adjustleft ">
              <label>Invoice Number</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                formControlName="invoicenumber">
            </div>

          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 spaceleft">
              <label>Customer Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Type Here To Search Customer" formControlName="customername">
            </div>



            <div class="col-sm-2 spaceleft">
              <label></label><br>
              <button class="w3-btn btn btn-one margin-right firstbtn" style="background-color: #186CFB" type="button"
                (click)="functionname()">Find Customer</button>
            </div>



            <div class="col-sm-5 adjustleft">
              <label></label>
              <select class="form-control inputsmallsize65" formControlName="customer1">
                <option selected value="null">--All Customer--</option>
                <option>1..</option>
                <option>2..</option>
              </select>

            </div>


          </div>


          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-3 spaceleft">
              <label>Branch</label>
              <select class="form-control inputsmallsize15" formControlName="branch">
                <option selected disabled value="null">--Select Branch--</option>
                <option>KOLHAPUR</option>
                <option>MUMBAI</option>
                <option>PUNE</option>
              </select>
            </div>


            <div class="col-sm-3 adjustleft">
              <label>Item Type</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" formControlName="itemtype">
            </div>

            <div class="col-sm-3 adjustleft">
              <label>Status</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" formControlName="status">
            </div>

            <div class="col-sm-3 adjustleft">

              <label>Sort By</label><br>
              <select class="form-control inputsmallsize15" formControlName="sortby">
                <option>Company Prefix</option>
                <option> Invoice Number</option>
                <option>Date</option>
                <option>Invoice Type</option>
                <option> Customer Name</option>
                <option> Branch</option>
                <option> Item Type</option>
                <option> Status</option>


              </select>

            </div>
          </div>

          <br>
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 adjustleft">
              <label> Date (Greater than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="Date1"></ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label> Date (less than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="Date2"></ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label>Report Format</label>
              <select class="form-control inputsmallsize30" formControlName="reportformat">
                <option>Web Report</option>
                <option>Excel Report</option>

              </select>
            </div>

          </div>


        </div>


        <div class="flex-parent jc-center ">
          <button class="w3-btn  btn box-2 btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Run Report</button>
          <button class="w3-btn  btn box-2 btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Reset</button>
        </div>


      </form>
    </div>
  </div>
</div>
