<div>
  <div>
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Calibration Result Data </label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <!-- <form [formGroup]="createMasterSpecificationForm"> -->

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
            style="background-color:rgb(233,233,233);">
            <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
              Calibration Data
            </label>
          </div>

          <div class="form-row " style="background-color:white;">
            <div class="form-row  adjusttable" style="background-color:white;">
              <div class="form-row spaceTopBottom " style="background-color:white;">
                <div class="col-sm-4 adjustleft">
                  <label>Parameter</label>
                  <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="selectParameter"
                    (ngModelChange)="onChange()">
                    <!-- <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="selectParameter" 
                      > -->
                    <option [value]="paraName" *ngFor="let paraName of approvedParametersAvailable">{{paraName}}
                    </option>
                  </select>
                </div>
              </div>
              <!-- <table> -->

              <div *ngFor="let itemRow of dynamicParaNames; let pp=index">
                <!-- <td>Parameter : {{itemRow[0][0][pp].nameofparameter}}</td>
                  <td>Range from : {{itemRow[0][0][pp].rangeFrom}}</td>
                  <td>Range To : {{itemRow[0][0][pp].rangeTo}}</td>
                  <td>Frequency from : {{itemRow[0][0][pp].freqFrom}}</td>
                  <td>Frequency To : {{itemRow[0][0][pp].freqTo}}</td>
                  <td>Temp Chart Type : {{itemRow[0][0][pp].tempchartType}}</td>
                  <td>Mode : {{itemRow[0][0][pp].mode}}</td> -->

                <div class="bgForDiv col-sm-11" style="display: inline block;"><b class="bBgColor">
                    Parameter </b> : {{dynamicParaNames[pp].nameofparameter}}
                  <b class="bBgColor"> Range from</b> : {{dynamicParaNames[pp].rangeFrom}}
                  <b class="bBgColor"> Range To </b> :{{dynamicParaNames[pp].rangeTo}}
                  <span *ngIf="showFreq==1" style="display: inline block;"><b class="bBgColor"> Frequency From </b>:
                    {{dynamicParaNames[pp].freqFrom}}
                    <b class="bBgColor"> Frequency To </b>: {{dynamicParaNames[pp].freqTo}} </span>
                  <b class="bBgColor" *ngIf="itemRow.tempchartType!= '--Select --'"> Temp Chart Type </b>: <i
                    *ngIf="itemRow.tempchartType!= '--Select --'">{{dynamicParaNames[pp].tempchartType}}</i>
                  <b class="bBgColor"> Mode </b>: {{dynamicParaNames[pp].mode}}

                </div>
                <div class="col-sm-1 bgForDiv">
                  <!-- <button type="button" class="setButton1" (click)="addReading(pp)">Add Reading</button> -->
                  <button type="button" class="w3-btn box-2 setButton1" (click)="addReading(pp)">Add Reading</button>
                  <!-- <button type="button" class="setButton" (click)="saveData(pp)">Save</button> -->
                </div>



                <table class="w3-table  w3-bordered">
                  <tr>
                    <th>Std Reading</th>
                    <th>UUC Reading</th>
                    <th>Error</th>
                    <th>UNC</th>
                    <th>UNC Formula</th>
                    <th>UNC UOM</th>
                    <th *ngIf="showFreq==1">AC Frequency</th>
                    <th *ngIf="showFreq==1">AC UOM Of Frequency</th>
                    <th>Save</th>
                    <th>Delete</th>
                  </tr>
                  <tr *ngFor="let item of dynamicAT1[pp]; let ppp=index">
                    <td> <input class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.stdReading"
                        (ngModelChange)="findErrorField(pp,ppp)" name="stdReading" id="stdReading" size="5"
                        style="width:100px"></td>

                    <td> <input class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.uucReading"
                      (ngModelChange)="findErrorField(pp,ppp)" name="uucReading" id="uucReading" size="5" style="width:100px"></td>

                    <td> <input class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.error"
                        name="error" id="error" size="5" style="width:100px"></td>

                    <td> <input class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.unc"
                        name="unc" id="unc" size="5" style="width:100px"></td>

                    <td>
                      <select class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.uncFormula"
                        (change)="accuracyValue(pp,ppp)" (click)="accuracyValue(pp,ppp)" id="selectTag1-{{pp}}{{ppp}}">
                        <option [value]="uncFormula" *ngFor="let uncFormula of arrayOfUncFormulaNames">{{uncFormula}}
                        </option>
                      </select>
                    </td>


                    <td>
                      <select class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.uncUom"
                        (change)="accuracyValue1(pp,ppp)" (click)="accuracyValue1(pp,ppp)" id="selectTag-{{pp}}{{ppp}}">
                        <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                        </option>
                      </select>
                    </td>

                    <td *ngIf="showFreq==1">
                      <input class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.acFrequency"
                        name="acFrequency" id="acFrequency" size="5" style="width:100px">
                    </td>

                    <td *ngIf="showFreq==1">
                      <select class="w3-input form-control w3-border inputsmallsize7" [(ngModel)]="item.acFrequencyUom">
                        <option [value]="acFreqUom" *ngFor="let acFreqUom of arrayOfFrequencyUomNames">{{acFreqUom}}
                        </option>
                      </select>
                    </td>

                    <td>
                      <button type="button"
                        class=" w3-btn box-2 btn btn-one margin-right button1  button11 noprint setButton"
                        style="width:50px; height:30px;" (click)="saveData(pp,ppp)">Save</button>
                    </td>

                    <td>
                      <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(pp,ppp)"></i></span>
                    </td>

                    <!-- <td>{{item[0].name}}</td>
                    <td>{{item[0].id}}</td> -->

                  </tr>
                </table>
              </div>
              <!-- </tr>
              </table> -->
              <div class="spaceTopBottom">
                <br>

              </div>

            </div>

            <div class="form-row " style="background-color:white;">
              <!-- <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
              (click)="addNewRow()">Add </button> -->
            </div>

          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
