<div class="bgcolorcomponent">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Create Challan Cum Invoice Document</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="createInvoiceChallanForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class=" form-row spaceTopBottom">
            <div class="col-sm-8 spaceleft">
          <div class="form-row spaceTopBottom" style="background-color:white;">
           
            <div class="col-sm-6 spaceleft">
              <label class="required">Group Type</label><br>
              <select class="form-control inputsmallsize25" [(ngModel)]="documentType" formControlName="documentType"
                name="document_type" id="document_type" required style="display: inline-block;">
                <option selected disabled value="null">--Select Doc Type--</option>
                <option [ngValue]="documentType" *ngFor="let documentType of documentTypeName" [disabled]="documentType === 'UCSPL INVOICE BY ID'">{{documentType}}</option>
              </select>&nbsp;
              <span data-tip="For UCSPL INVOICE BY ID first select UCSPL GROUPED BY NAME"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray; display: inline-block;"></i> </span>

              <div class="w3-panel w3-text-red"
                *ngIf="createInvoiceChallanForm.controls['documentType'].touched && createInvoiceChallanForm.controls['documentType'].hasError('required')">
                Please select Group Type</div>
            </div>





            <div class="col-sm-6 adjustleft">
              <label class="required">Document Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="documentDate">
              </ejs-datepicker>
            </div> 
          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class=" form-group col-sm-6  spaceleft">
              <label>Customer Dc Number</label>
              <input type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="customerDcNumber" name="documentname" [(ngModel)]="customerDcNumber" required>
            </div>

            <div class="col-sm-6 adjustleft">
              <label class="required">Select Customer Po No</label>
              <!-- <input type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="poNo" name="poNo" [(ngModel)]="poNo" required> -->
                <input list="poList" type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="poNo" name="poNo" [(ngModel)]="poNo"  autocomplete="off" required> 
                        <datalist id="poList" required>
                          <option [ngValue]="poNumber1" *ngFor="let poNumber1 of uniquePoNumbersArray">{{poNumber1}}</option>
                   </datalist>
                <div class="w3-panel w3-text-red"
                  *ngIf="createInvoiceChallanForm.controls['poNo'].touched && createInvoiceChallanForm.controls['poNo'].hasError('required')">
                  Please select PO Number</div>
                  <a id="openModalButton12" data-toggle="modal" data-target="#openModal12"
                          (click)="editQuantity()">Check Po Amount Or Quantity</a>
             </div>

             

        </div>
        <br>

       <div class="form-row spaceTopBottom" style="background-color:white;">
        <div class="col-sm-6 adjustleft">
          <label class="required">Charges Type</label>
          <select class="form-control inputsmallsize30" [(ngModel)]="invoiceType" formControlName="invoiceType"
            name="invoiceType" id="invoiceType" required>
            <option selected disabled value="null">--Select Invoice Type--</option>
            <option [ngValue]="invoiceType" *ngFor="let invoiceType of invoiceTypeName">{{invoiceType}}</option>
          </select>
          <div class="w3-panel w3-text-red"
          *ngIf="createInvoiceChallanForm.controls['invoiceType'].touched && createInvoiceChallanForm.controls['invoiceType'].hasError('required')">
          Please select Charges Type</div>
        </div>

        <div class="form-group  col-sm-6 spaceleft">
          <label class="required">Branch</label>
          <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="branchName"
            formControlName="branchName" name="branchname" id="branchname" required>
            <option value="null" disabled selected>--Select--</option>
            <option [ngValue]="branch1" *ngFor="let branch1 of branches">{{branch1}}</option>
          </select>
          <div class="w3-panel w3-text-red"
          *ngIf="createInvoiceChallanForm.controls['branchName'].touched && createInvoiceChallanForm.controls['branchName'].hasError('required')">
          Please select Branch</div>
          
        </div>


      </div>
      </div>
    
        <div class="col-sm-4 adjustleft ">
        <div class="form-row spaceTopBottom" style="background-color:white;">
          <div class="col-sm-12 adjustleft ">
            <label class="required">Select Request Numbers </label>
            <ng-multiselect-dropdown-angular7 class="w3-input form-control w3-border inputsmallsize50" [placeholder]="'Request Number'" [data]="dropdownList"
              [(ngModel)]="selectedItems" formControlName="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)"
              (onDeSelect)="onItemDeSelect($event)" required>
            </ng-multiselect-dropdown-angular7>
           
          </div>


          </div>
        </div>
        </div>
      </div>
         
        <div class="flex-parent jc-center spaceTopBottom2">
          <button class="w3-btn  box-1 btn btn-one margin-right " style="background-color: #008080"
            (click)="onSubmit()" [disabled]="!createInvoiceChallanForm.valid" >Create</button>
          <button class="w3-btn  box-1 btn btn-one margin-right small" style="background-color: #008080"
            (click)="backToCreateDeliveryChallan()">Back To Search Customer</button>
            <button class="w3-btn  box-1 btn btn-one margin-right small" style="background-color: #008080"
            (click)="backToSearchRequest()">Back To Search Request</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!----------------------- code for edit quantity------------------------------>

<div id="openModal12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup12">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <!-- <div style="text-align:center;">
              <label style="font-size: 30px;"> CHALLAN CUM INVOICE DOCUMENT </label>
            </div> -->

            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <div style="text-align: center; font-size: 30px;">
                  <label style=" color:#008080"> Check PO Quantity OR Amount </label>
                </div>
                  <!-- <div class=" form-row spaceTopBottom">

                    <div class="col-sm-4 adjustleft ">
                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-12 adjustleft ">
                          <label class="required">Select Request Numbers </label>
                         
                          <select class="form-control inputsmallsize30"  (ngModelChange)="editQuantityFun($event)" (click)="editQuantityFun($event)" [(ngModel)]="selectedRequestNumberEdit"
                             name="selectedRequestNumberEdit" id="selectedRequestNumberEdit" required>
                          
                            <option [ngValue]="invoiceType.itemText" *ngFor="let invoiceType of requestNumbersCollectionArray">{{invoiceType.itemText}}
                            </option>

                          </select>
                        </div>
                      </div>
                    </div>

                  </div><br><br><br> -->

                 

                  <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
                    <div *ngIf="docType1=='Customer PO Closed'"><label>Po Type : &nbsp;&nbsp;</label>Customer PO Closed</div>
                    <div *ngIf="docType1=='Customer PO Open'"><label>Po Type : &nbsp;&nbsp;</label>Customer PO Open</div>
                    <br>
                    <table class="w3-table  w3-bordered">
                      <tr *ngIf="docType1=='Customer PO Closed'">
                        <th style="text-align:center;">Instrument Name</th>
                        <th>Range</th>
                        <th style="text-align:center;">Remaining Quantity</th>
          
                      </tr>
                      <tr *ngIf="docType1=='Customer PO Open'">
                        
                        <th style="text-align:center;">PO Value</th>
                        <th style="text-align:center;">Remaining PO Value</th>

                      </tr>
                      <tbody>
        
                      
        
                        <ng-container *ngFor="let check of checkQuantityArray; let i = index;">
                        <tr *ngIf="check.docTypePO=='Customer PO Closed'">
                          <td style="text-align:center;">{{check.instruName}}</td>
                          <td style="text-align:center;">{{check.rangeFromPo}}-{{check.rangeToPo}}</td>
                          <td style="text-align:center;">{{check.remQuantity}}</td>
                         
                        </tr>
                      </ng-container>

                        <ng-container *ngFor="let check of checkAmountArray1; let i = index;">
                         <tr *ngIf="check.docTypePO=='Customer PO Open'">
                          <td style="text-align:center;">{{check.poValue}}</td>
                          <td style="text-align:center;">{{check.remPOValue}}</td>
                        </tr>
                        </ng-container>
                       
                      </tbody>
        
                    </table>
                    <br>
                    <!-- <div style="color:red;" id="trial"></div>
                    <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                    <label>Items per page:
                      <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                      </select>
                    </label> -->
        
                  </div>





                </div>
                <!-- <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div> -->

              
            </div>
          </div>
          <div>.</div>
        </div>

      </div>
    </div>
  </div>
</div>

