<div>
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">Create UOM Calculator</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="CreateUOMcalculatorform">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="w3-container w3-center w3-card register-card centercard1"
            style="background-color:rgb(233,233,233);">
            <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">UOM Calculator</label><br>
          </div>
          <br>
          <div class="form-row " style="background-color:white;">

            <!-- <div class="col-sm-8 spaceleft">
                <label> Parameter</label><br>
                <select class="w3-input form-control w3-border inputsmallsize50" style="display:inline-block;"
                  formControlName="parameter" required>
                  <option selected disabled value="null">--Select--</option>
                  <option>%CP</option>
                  <option>HUMIDITY</option>
                  <option>(%)</option>
                  <option>MULTI PARAM</option>
                  <option>AC CURRENT</option>
                  <option>DC CURRENT</option>
                  <option>PRESSURE</option>
                  <option>LENGTH</option>
                  <option>COUNT</option>
                  <option>TIME</option>
                  <option>SOUND</option>
                  <option>ANGLE</option>
                  <option>TEMPERATURE</option>
                  <option>CAPACITANCE</option>
                  <option>MASS</option>
                  <option>SPEED</option>
                  <option>VOLUME</option>
                  <option>RESISTANCE</option>
                  <option>INDUCTANCE</option>
                  <option>FREQUENCY</option>
                  <option>AC VOLT</option>
                  <option>DC VOLT</option>
                  <option>POWER</option>
                  <option>KAT</option>
                  <option>TORQUE</option>
                  <option>AIRFLOW</option>
                  <option>FLOW</option>
                  <option>LUX</option>
                  <option>ACCELERATION</option>
                  <option>CONDUCTIVITY</option>
                  <option>PH</option>
                  <option>RPM</option>
                  <option>VELOCITY</option>

                </select>

              </div> -->

            <div class="col-sm-5 adjustleft">
              <label>Parameter</label>
              <!-- <select class="w3-input form-control w3-border inputsmallsize50" [(ngModel)]="selectParameter"
                  formControlName="selectParameter" >
                  <option [value]="paraName" *ngFor="let paraName of arrayParameterNames">{{paraName}}</option>
                </select> -->

              <input class="w3-input form-control w3-border inputsmallsize30" list="uncname" type="text"
                placeholder="Search Parameter" formControlName="selectParameter" [(ngModel)]="selectParameter">

              <datalist id="uncname" required>
                <option [ngValue]="paraName" [value]="paraName" selected *ngFor="let paraName of arrayParameterNames">
                </option>
              </datalist>


              <div class="w3-panel w3-text-red"
                *ngIf="CreateUOMcalculatorform.controls['selectParameter'].touched && CreateUOMcalculatorform.controls['selectParameter'].hasError('required')">
                Please Select Parameter</div>

            </div>

            <div class="col-sm-4 adjustleft">
              <label>Status</label><br>
              <select class="w3-input form-control w3-border inputsmallsize15"  [(ngModel)]="status"  formControlName="status" required>
                <option selected value="Draft">Draft</option>
                <option value="Submitted">Submitted</option>
                <option value="Approved">Approved</option>
              </select>

              <div class="w3-panel w3-text-red"
                *ngIf="CreateUOMcalculatorform.controls['status'].touched && CreateUOMcalculatorform.controls['status'].hasError('required')">
                Please select status</div>

            </div>

            <div class="col-sm-3 adjustleft">

              <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                (click)="create()">Create</button>
              <p id="demo"></p>
            </div>

          </div>

          <br> <br>

          <br>


          <div class="w3-container w3-center w3-card register-card centercard1"
            style="background-color:rgb(233,233,233);">
            <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge">UOM Calculator Detail</label></a>


          </div>
          <br>

        </div>





      </form>


    </div>
  </div>
