<div class="container-fluid bgcolorcomponent">

  <div class=" row forwholenavbar" id="mainHeader ">
    <!-- Sidebar -->



    <div>
    <nav id="sidebar" class="forwholenavbar col-1 menu nav navbar-nav printMe">
      <!--   class="col-sm-2 menu nav navbar-nav"       -->

      <img class="imagebg" src="assets/UCSPL_logo14.jpg" />

      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-list"></i>
      </label>
      <div class="accordion">
      <ul class="list-unstyled components">

        <li>
          <a href="#home" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"  routerLink="home">Home</a>
      </li>
      
        <li>
          <a href="#UserSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;User</h5></a>
          <ul class="collapse list-unstyled" id="UserSubmenu">
            <li>
              <a href="#UserSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;User
                Master</h5></a>
              <ul class="collapse list-unstyled" id="UserSubmenu1">
                <li routerLinkActive="active"><a tabindex="-1" routerLink="usrcreate">Create User</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="usrsearch">Search & Modify User</a></li>
               <!-- <li routerLinkActive='active'><a tabindex="-1" routerLink="usrmanage">Manage Approvers</a></li>-->
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#CustomerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Customer</h5></a>
          <ul class="collapse list-unstyled" id="CustomerSubmenu">
            <li>
              <a href="#CustomerSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Customer
               Master</h5></a>
              <ul class="collapse list-unstyled" id="CustomerSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="custcreate">Create Customer</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="custsearch">Search and Modify Customer</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchptm">Search and Modify Payment
                    Receipt</a></li>
              </ul>
            </li>
            <li>
              <a href="#CustomerSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Customer
                Purchase Order</h5></a>
              <ul class="collapse list-unstyled" id="CustomerSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createpo">Create Customer Purchase Order</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchpo">Search and Modify Customer Purchase
                    Order</a></li>
              </ul>
            </li>
            <li>
              <a href="#CustomerSubmenu3" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Calibration Summary Report</h5></a>
              <ul class="collapse list-unstyled" id="CustomerSubmenu3">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="smryrep">Search and Modify Customer Summary
                    Report</a></li>
                <li routerLinkActive='active'><a tabindex="-1" href="#">Print Calibration Summary Report</a></li>
                <li routerLinkActive='active'><a tabindex="-1" href="#">Print Calibration Due Letter report</a></li>
              </ul>
            </li>
            <li>
              <a href="#CustomerSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Customer
                Ledger</h5></a>
              <ul class="collapse list-unstyled" id="CustomerSubmenu4">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="ledger">Customer Ledger</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Request &
            Inward</h5></a>
          <ul class="collapse list-unstyled" id="requestSubmenu">
            <li>
              <a href="#requestSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Request
                Collection</h5></a>
              <ul class="collapse list-unstyled" id="requestSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="reqcolle">Request For Collection</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="myreqcol">My Request For Collection</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="incolinstru">Inward Collected Instruments</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="reqoscali">Request for Onsite Calibration</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="myreqos">My Request for Onsite
                    Calibration</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="inoscali">Inward Onsite Calibration</a></li>
              </ul>
            </li>
            <li>
              <a href="#requestSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Request
                Inwards</h5></a>
              <ul class="collapse list-unstyled" id="requestSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createreq">Create Request and Inward</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchreq">Search and Modify Request &
                    Inward</a></li>
              </ul>
            </li>
            <li>
              <a href="#requestSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;To Do
                List</h5></a>
              <ul class="collapse list-unstyled" id="requestSubmenu3">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="servlist">To Do List For Service</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="servsearch">Search Pending Request and Inward
                    for Service</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="calilist">To Do List For Calibration</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="calisearch">Search Pending Request and Inward
                    for Calibration</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="certilist">To Do List For Certification</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="certisearch">Search Pending Request and
                    Inward for Certification</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="delilist">To Do List For Delivery</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="delisearch">Search Pending Request and Inward
                    for Delivery</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="replist">To Do List For Repair</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="repsearch">Search Pending Request and Inward
                    for Repair</a></li>

              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#DefinitionSubmenu" data-toggle="collapse" aria-expanded="false"
            class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Definition</h5></a>
          <ul class="collapse list-unstyled" id="DefinitionSubmenu">
            <li>
              <a href="#DefinitionSubmenu1" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Configuration Master</h5></a>
              <ul class="collapse list-unstyled" id="DefinitionSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="defcreate">Add Definition</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="defsearch">Search And Modify Definition</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>


        <li>
          <a href="#InvoiceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Invoice</h5></a>
          <ul class="collapse list-unstyled" id="InvoiceSubmenu">
            <li>
              <a href="#InvoiceSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Billing &
                Invoice</h5></a>
              <ul class="collapse list-unstyled" id="InvoiceSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="srhcustinv">Create Invoice/Proforma
                    Invoice</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchinvoice">Search & Modify Delivery
                    Challan Cum Invoice</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchproinc">Search & Modify Proforma
                    Invoice</a></li>
                    <li routerLinkActive='active'><a tabindex="-1" routerLink="searchDeliChn">Search & Modify Delivery
                      Challan</a></li>
              </ul>
            </li>
          </ul>
        </li>


        <li>
          <a href="#CertificationSubmenu" data-toggle="collapse" aria-expanded="false"
            class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Certificate</h5></a>
          <ul class="collapse list-unstyled" id="CertificationSubmenu">
            <li>
              <a href="#CertificationSubmenu1" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Master Instrument Details</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createinstru">Create Master Instrument
                    Details</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchinstru">Search and Modify Master
                    Instrument Details</a></li>
              </ul>
            </li>
            <li>
              <a href="#CertificationSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;UUC
                Name Masters</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createuuc">Create UUC Name</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchuuc">Search and Modify UUC Name</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createenv">Create Environmental Master</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchenv">Search and Modify Environmental
                    Master</a></li>
              </ul>
            </li>
            <li>
              <a href="#CertificationSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;UNC
                Name Masters</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu3">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createunc">Create UNC Master Details</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchunc">Search and Modify UNC Master
                    Details</a></li>
              </ul>
            </li>
            <li>
              <a href="#CertificationSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;UOM
                Calculator</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu4">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createuom">Create UOM Calculator</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchuom">Search and Modify UOM
                    Calculator</a></li>
              </ul>
            </li>
            <li>
              <a href="#CertificationSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;NABL
                Scope Master</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu5">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createnabl">Create NABL Scope Masters</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchnabl">Search and Modify NABL Scope
                    Masters</a></li>
              </ul>
            </li>
            <li>
              <a href="#CertificationSubmenu6" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Thermocouple Details</h5></a>
              <ul class="collapse list-unstyled" id="CertificationSubmenu6">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchthermo">Search and Modify Thermocouple
                    Chart</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#SupplierSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Supplier</h5></a>
          <ul class="collapse list-unstyled" id="SupplierSubmenu">
            <li>
              <a href="#SupplierSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Supplier
                Master</h5></a>
              <ul class="collapse list-unstyled" id="SupplierSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createsupp">Add Supplier</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchsupp">Search and Modify Supplier</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#SupplierSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Delivery
                Challan/Purchase Order Document</h5></a>
              <ul class="collapse list-unstyled" id="SupplierSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createdcpo">Create Delivery Challan/Purchase
                    Order</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchdcpo">Search Delivery Challan/Purchase
                    Order</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#PurchaseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Purchase</h5></a>
          <ul class="collapse list-unstyled" id="PurchaseSubmenu">
            <li>
              <a href="#PurchaseSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Home
                1</h5></a>
              <ul class="collapse list-unstyled" id="PurchaseSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" href="#">2nd level dropdown</a></li>
                <li routerLinkActive='active'><a tabindex="-1" href="#">2nd level dropdown</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#SalesandQuotationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus">▶</span>&nbsp;Sales
            & Quotation</h5></a>
          <ul class="collapse list-unstyled" id="SalesandQuotationSubmenu">
            <li>
              <a href="#SalesandQuotationSubmenu1" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Sales Quotation</h5></a>
              <ul class="collapse list-unstyled" id="SalesandQuotationSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createsales">Create Sales Quotation</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchsales">Search and Modify Sales
                    Quotation</a></li>
              </ul>
            </li>

          </ul>
        </li>
        <li>
          <a href="#ReportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Report</h5></a>
          <ul class="collapse list-unstyled" id="ReportSubmenu">
            <li>
              <a href="#ReportSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Invoice and
                Purchase Report</h5></a>
              <ul class="collapse list-unstyled" id="ReportSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="detrep">Invoice Detail Report</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="smryreport">Invoice Summary Report</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="taxrep">Invoice Taxes Report</a></li>
              </ul>
            </li>
            <li>
              <a href="#ReportSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Quotation
                Report</h5></a>
              <ul class="collapse list-unstyled" id="ReportSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="quotder">Sales Quotation Detail Report</a>
                </li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="quotsmr">Sales Quotation Summary Report</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#PaymentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Payments</h5></a>
          <ul class="collapse list-unstyled" id="PaymentsSubmenu">
            <li>
              <a href="#PaymentsSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Payment
                Receipt</h5></a>
              <ul class="collapse list-unstyled" id="PaymentsSubmenu1">
                <li routerLinkActive='active'><a tabindex="-1" routerLink="createptm">Create Payment Receipt</a></li>
                <li routerLinkActive='active'><a tabindex="-1" routerLink="searchptmrecpt">Search and Modify Payment
                    Receipt</a></li>
              </ul>
            </li>
            <li>
              <a href="#PaymentsSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span class="plus1">▶</span>&nbsp;Bank
                Deposite</h5></a>
              <ul class="collapse list-unstyled" id="PaymentsSubmenu2">
                <li routerLinkActive='active'><a tabindex="-1" href="#">2nd level dropdown</a></li>
                <li routerLinkActive='active'><a tabindex="-1" href="#">2nd level dropdown</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li>
          <a href="#CalibrationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Calibration</h5></a>
          <ul class="collapse list-unstyled" id="CalibrationSubmenu">

                <!-- <li routerLinkActive='active'><a tabindex="-1" routerLink="createptm">Set Calibration</a></li> -->
                <li routerLinkActive='active'><a tabindex="-1" routerLink="sreqForCaliTag">Search and Modify Request And Inward
                   </a></li>

          </ul>
        </li>
        
        <li>
          <a href="#HomeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
            class="plus">▶</span>&nbsp;Home</h5></a>
          <ul class="collapse list-unstyled" id="HomeSubmenu">
            <li>
              <a href="#HomeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><h5><span
                class="plus1">▶</span>&nbsp;Trial</h5></a>
              <ul class="collapse list-unstyled" id="HomeSubmenu1">
                <li><a tabindex="-1" routerLink="emailus">home1</a></li>
                <li><a tabindex="-1" routerLink="address">tablepaging</a></li>
                <li><a tabindex="-1" routerLink="GetinTouch">nav bar Demo</a></li>
                <li><a tabindex="-1" routerLink="callus"> CallUs Component</a></li>
                <li><a tabindex="-1" routerLink="UploadCsvFileToHtml">Upload csv to html</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </nav>
    </div>


    <!--background-image: linear-gradient(to right top, #008080, #4f9898, #7db1b1, #a8caca, #d3e3e3);-->
    <div class="navbar col-sm-10 navbarstyle gradiantcolor">
      <div class="form-row spaceTopBottom">
        <div class="form-group Adjustspace col-sm-9">
          <span class="w3-xlarge w3-text-white">Calibration Management System </span><br><span class=" w3-text-white">
            Logged In : {{loginUserName  | titlecase }}</span>
        </div>
        <div class="form-group  Adjustspace col-sm-3">
          <button class="w3-btn w3-round-large  box-1 btn btn-one  rightbtn "
            style="background-color: white; font-size: 20px; color:black" (click)="myFunction()">Logout&nbsp;<i
              class="fa fa-sign-out"></i></button>
              <p id="demo"></p>
        </div>
      </div>
    </div>



    <div class="col-sm-10 bgcolorcomponent" style="height:990px;">
      <!--    <div id="content" class="col-sm-9" >   -->
      <!-- <div class="scroll" (scroll)="divScroll($event)" style="background-color: rgb(223, 223, 223) ;">-->
      <div class="container-fluid yscroll" style="height:990px;">
        <router-outlet></router-outlet>
      </div>


    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
  </div>

</div>
