@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.plus{
  font-size: 13px;
  font-weight: bold;
}
.plus1{
  font-size: 13px;
  font-weight: bold;
}
.yscroll {
  overflow-y: auto;
}

.forwholenavbar {
  font-family: 'calibri';
}


.imagebg {

  margin-bottom: 10px;
  margin-left: -14px;
  margin-top: -15px;
  height: 130%;
  width: 116%;

}


.p {
  margin-top: 0px;
}

.sidebar1 {
  /*  background: #008080;
 background:  #0489B1;
  background:  #0490a0;   previous   */
  background: #008080;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #008080;
  min-height: 100vh;

  margin-left: 1px;

  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #008080;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
  height: 80%;

}

#sidebar ul p {
  color: #fff;
  padding: 10px;

}

#sidebar ul li a {
  padding: 1px;
  font-size: 1.3em;
  display: block;
  /*  color: rgb(240, 231, 231);*/

}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;

}

/*
#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #0a7e8c;
}
*/
/*
#sidebar ul li.after>a {
  color: rgb(24, 22, 22);
  background: #e6f0f7;
}


#sidebar ul li a:focus {
  color: #0a7e8c;
  background-color: #f7f3f3;
}
*/
ul ul a {
  font-size: 1.1em !important;
  padding-left: 10px !important;
  /* background: #0a7e8c;*/
  height: 80%;
}


.dropdown-submenu {
  position: relative;
}


#responsiveLogo {
  width: 100%;
}

#responsiveLogo img {
  max-height: 100%;
  max-width: 100%;
}

/**************************** trial for navigation mobile view ***************************************/



nav ul {
  list-style-type: none;
  padding: 0;
  height: 80%;
  background: #008080;
}



nav ul li a {

  /*  background: #0a7e8c;*/
  border-radius: 10px;
  border: thin solid #fff;
  color: #fff;
  display: block;
  height: 1em;
  line-height: 1.6em;
  text-align: left;
  text-decoration: none;
  width: 100%;
  height: 80%;
  font-size: 1.3em;

}


/* navigation end */



* {
  box-sizing: border-box;

}

.row::before {
  content: "";
  clear: both;
  display: block;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "calibri";
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: -80%;
  border-radius: 10px;

}

.menu li {
  height: -80%;
  padding: 8px;
  margin-bottom: 7px;
  /* background-color: #008080;
  color: #ffffff;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;

}

.menu li:hover {
  background-color: #008080;
  /*  border:1px solid white;  */
}

.aside {
  background-color: #008080;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #008080;
  color: #ffffff;
  text-align: center;
  font-size: 0.94em;
  padding: 15px;
}

/* For desktop: */

.col-1 {
  width: 12.50%;
}

/* .col-1 {width: 8.33%;}  */
.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 89.93%;
}

/* .col-10 {width: 83.33%;}  */
.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-sm-10 {
  width: 87.33%;
  height: 100%;
}



@media only screen and (max-width: 700px) {

  /*  @media only screen and (max-width: 400px) */
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}



@media (max-width: 952px) {


  .forwholenavbar {
    height: 200px;
  }


  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  .imagebg {

    height: 105px;
    width: 75%;
    margin-right: 2px;
    margin-left: 12px;
  }


  nav ul li a {
    font-size: 15px;
  }


  ul ul {

    width: 100%;
    height: 100%;
    position: static;
    text-align: left;
    font-size: 15px;
    padding-right: 1500px;
    background: #008080;


  }

  ul ul li {
    display: block;
    line-height: 30px;
    position: static;
    display: list-item;
    float: none;
    text-align: center;
    font-size: 15px;
  }

  nav ul ul li a {
    font-size: 50px;
    position: static;
  }

  a:hover,
  a.active {
    background: none;
    color: #008080;
    position: static;
  }

  ul ul li a {
    position: static;
    text-align: center;
    font-size: 15px;
    padding-left: 10px !important;
    background: #008080;
    height: 100%;
  }

}

@media (max-width: 858px) {

  .img {
    margin-left: 55%;
    height: 105px;
    width: 193%;

  }

  .checkbtn {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;

    height: 100vh;
    max-height: 1000px;
    /* For full height of menu list if you reduce   */
    background: #008080;
    top: 130px;
    left: -100%;
    text-align: center;
    transition: all .5s;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    background: #017474;
  }

  nav ul li a {
    font-size: 40px;
  }



  #check:checked~ul {
    left: 0;
  }

  ul ul a {
    font-size: 15px;
    padding-left: 10px !important;
    background: #008080;
    height: 80%;
  }


}

section {
  /*   background: url(bg1.jpg) no-repeat;   */
  background-size: cover;
  height: calc(100vh - 80px);
}

@media print {
  :not(.printMe) {
    visibility: hidden;
  }
}

.navbarstyle {
  height: 90px;

}

.active {

  border: 0.15em solid white;

}

.active a {

  background-color: rgb(97, 100, 102);
  font-size: 17px;
  font-weight: bold;
}

div.scroll {
  height: 900px;
  overflow-y: scroll;

}

.rightbtn {

  margin-left: 250px;
  border-radius: 25px;

}

.spaceTopBottom {

  margin-top: -13px;
  
}

.gradiantcolor{
  background-image: linear-gradient(to right, #025a5a, #008080, #4f9898, #7db1b1, #a8caca);
}