<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Sales Quotation Summary Report</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SalesQuotationSummaryReport">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="col-sm-4 adjustleft ">
              <label>Company Prefix</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                formControlName="companyprefix">
            </div>

            <div class="col-sm-4 adjustleft ">
              <label>Document Number</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="docnumber">
            </div>

            <div class="col-sm-4 spaceleft">
              <label>Customer</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="customer">
            </div>

          </div>
          <br>


          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label>Branch</label>
              <select class="form-control inputsmallsize30" formControlName="branch">
                <option selected disabled value="null">--Select Branch--</option>
                <option>KOLHAPUR</option>
                <option>MUMBAI</option>
                <option>PUNE</option>
              </select>
            </div>


            <div class="col-sm-4 adjustleft">
              <label>Kind Att</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="Kindatt">
            </div>

            <div class="col-sm-4 adjustleft">
              <label>Status</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="status">
            </div>


          </div>

          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="form-group Adjustspace col-sm-4">
              <label>Email</label><br>
              <input style="display:inline-block;" type="email" class="form-control inputsmallsize30" id="myEmail"
                placeholder="Email" formControlName="email">&nbsp;
              <span data-tip="Email must contain atleast 1-dot and 1-@ for example abc@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>

            </div>
            <div class="form-group  col-sm-4">
              <label>Contact Number</label>
              <input type="tel" class="form-control inputsmallsize30" id="phone" placeholder="Phone"
                formControlName="phoneno">

            </div>

            <div class="col-sm-4 adjustleft">

              <label>Sort By</label><br>
              <select class="form-control inputsmallsize30" formControlName="sortby">
                <option>Company Prefix</option>
                <option> Invoice Number</option>
                <option>Date</option>
                <option>Invoice Type</option>
                <option> Customer Name</option>
                <option> Branch</option>
                <option> Item Type</option>
                <option> Status</option>


              </select>

            </div>

          </div>
          <br>














          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 adjustleft">
              <label> Date (Greater than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="Date1"></ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label> Date (less than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="Date2"></ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label>Customer Reference Number</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="custrefno">
            </div>

          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="col-sm-4 adjustleft">
              <label>Document Date (Greater than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="DocumentDate1">
              </ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label>Document Date (less than or equal to)</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="DocumentDate2">
              </ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label>Report Format</label>
              <select class="form-control inputsmallsize30" formControlName="reportformat">
                <option>Web Report</option>
                <option>Excel Report</option>

              </select>
            </div>

          </div>

        </div>


        <div class="flex-parent jc-center ">
          <button class="w3-btn  btn box-2 btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Run Report</button>
          <button class="w3-btn  btn box-2 btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Reset</button>
        </div>


      </form>
    </div>
  </div>
</div>
