<h1> Demo for converting CVF file to html table</h1>
    <p> Click <a href="downloads/uploadmultipleleads.csv">here</a> to download sample csv file</p>
    <input type="file" id="fileUploadCSV"/>
    <input type="button" value="Upload csv" id="btnUpload" />

<table class="table" style="border:1" id="tblMultileads">
    <tr>
    <th>Name</th>
    <th>
    Email
    </th>
    <th>Phone Number </th>
    </tr>
    <tbody id="tbodyLeads">
 
    </tbody>
    
    </table>