label {
  cursor: pointer;
}

textarea {
  width: 400px;
  height: 150px;
}


#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .bg-primary
  {
    color: #ffffff;;
    background-color: #caeaf7;;
    margin-left:25%;
    margin-top:10%;
  }

  .booking-card
  {
      height: 450;
  }

  .w3-lobster {
    font-family: "Lobster", serif;
  }

  .w3-text
  {
    color: #1295d1;
  }



  /* ...trial css animation......*/

.box-1 { background-color: #FF6766; height: 50px; width: 250px;}


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}




/***************************  trial ************************************************************/



.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 40px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}



@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 


/************************************* trial for adjustable screen view *********************************************/


*{
  margin:0px;
  padding:0px
}


.media1140px, .media768px, .media480px, .media300px{
  padding:15px;
}

p{
  margin:0 0 20px 0;
}

.clearb{
  clear:both;
}
/* misc end */



/* header start */
#mainHeader{
 
  padding:0.5em;
  overflow:auto;
}

/* to make our logo resize automatically */
#responsiveLogo{
  width:100%;
}

#responsiveLogo img{
  max-height: 100%;
  max-width: 100%;
}
/* header end */


/* middle section start */
#mainSection{
  background-color: #D9F8F2;
  float: left;
  width: 96%;
}

#sideBox1{
  background-color: #C9A449;
  width: 96%;
}

#mainSection, #sideBox1{
  overflow: auto;
  padding:2%;
}
/* middle section end */


