<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81); ">Create Sales Quotation</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="createSalesQuotationForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="col-sm-4 spaceleft">
              <label class="required">Type of Quotation</label>
              <select class="form-control inputsmallsize30" formControlName="typeOfQuotation" required>
                <option value="null" disabled selected>--Select Doc Type--</option>
                <option [ngValue]="docType" *ngFor="let docType of docTypeName">{{docType}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationForm.controls['typeOfQuotation'].touched && createSalesQuotationForm.controls['typeOfQuotation'].hasError('required')">
                Please select Document Type</div>
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required"> Date of Quotation</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue4" formControlName="dateOfQuotation">
              </ejs-datepicker>
            </div>

            <div class="form-group  col-sm-4  spaceleft">
              <label class="required"> UCSPL's Branch</label><br>
              <select class="form-control inputsmallsize30" [(ngModel)]="branch.branchName" formControlName="branchName"
                name="branchname" id="branchname" required>
                <option value="null" disabled selected>--Select--</option>
                <option [ngValue]="branch1" *ngFor="let branch1 of branchesName">{{branch1}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationForm.controls['branchName'].touched && createSalesQuotationForm.controls['branchName'].hasError('required')">
                Please select branch</div>
            </div>

          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 spaceleft">
              <label class="required">Customer</label><br>
              <input style="display: inline-block;" list="customername" type="text"
                class="w3-input form-control w3-border inputsmallsize30" formControlName="customerName"
                name="customername" [(ngModel)]="createSalesAndQuotation.customerName" (keyup)="customerNameValid()"
                autocomplete="off" required>
              <datalist id="customername" required>
                <option [ngValue]="customer1.name" [value]="customer1.name" selected
                  *ngFor="let customer1 of trialCustomerWithAddress">{{customer1.address}}</option>
              </datalist>
              <span style="color:dodgerblue;"><a routerLink="/nav/custcreate">Please click here to create new
                  customer</a>
              </span>
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationForm.controls['customerName'].touched && createSalesQuotationForm.controls['customerName'].hasError('required')">
                Please select customer</div>
              <div style="color:red;" id="customerNameValidation"></div>

            </div>



            <div class="col-sm-4 spaceleft">
              <label>Kind Attention</label><br>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                formControlName="kindAttachment" placeholder="Kind Attention">
            </div>
            <div class="col-sm-4 adjustleft">
              <label>Customer Reference Number</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="referenceList.referenceName"
                formControlName="custRefNo" name="custRefNo" id="custRefNo" required>
                <option value="null" disabled selected>--Select--</option>
                <option [ngValue]="reference1" *ngFor="let reference1 of referenceName">{{reference1}}</option>
              </select>
            </div>

            <br>
          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="col-sm-4 adjustleft">
              <label class="required">Reference Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue4" formControlName="refDate">
              </ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">Archive Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue3" formControlName="archieveDate">
              </ejs-datepicker>
            </div>
            <div class="col-sm-4 spaceleft">
              <label>Contact Number</label>
              <input type="tel" class="form-control inputsmallsize30" id="phoneNo" placeholder="Phone number"
                formControlName="contactNo" [(ngModel)]="contactNo1">
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationForm.controls.contactNo.invalid && (createSalesQuotationForm.controls.contactNo.dirty || createSalesQuotationForm.controls.contactNo.touched)">
                Please enter valid phone no</div>
            </div>
            <br>
          </div>
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 adjustleft">
              <label>Email</label>
              <input style="display:inline-block;" type="email" class="form-control inputsmallsize30" id="myEmail"
                placeholder="Email" formControlName="email">&nbsp;
              <span data-tip="Email must contain atleast one-'.' and one-'@' for example universal@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationForm.controls.email.invalid && (createSalesQuotationForm.controls.email.dirty || createSalesQuotationForm.controls.email.touched)">
                Please enter valid email</div>
            </div>

            <div class="col-sm-4 spaceleft1">
              <label class="Quotfile">Quotation Item -CSV File</label>
              <div class="upload-button">
                <input type="file" formControlName="quotationItemFile" id="quotationItemFile"
                  (change)="chooseQuotationItemFile($event)">
                <input type="button" (click)="uploadQuotationItemFile()" value="upload">
                <div style="color:#439b43;" id="quotationFile"></div>
              </div>
            </div>
            <div class="col-sm-4 adjustleft ">

              <label>Enquiry Attachment</label>
              <div>
                <input type="file" formControlName="enquiryAttachment" id="docFile" [(ngModel)]="fileUpload"
                  (change)="onFileChangedForDocument($event)">
                <input type="button" (click)="onUploadForDocument()" value="upload">
                <div style="color:#439b43;" id="enquiryFile"></div>
                <span id="blah"></span>
              </div>
              <br>

            </div>
            <br>
          </div>
          <br>
        </div>
        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
            type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>.</div>
<input type="hidden" id="country1" name="country1" [(ngModel)]="trialp1" />
