<!-- <div style="background-color: white;">
  <div style="background-color: white;">
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge w3-text-blue ">Create Environmental Master</label><br>
      </div>

      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createEnvironmentalMasterForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge w3-text-blue ">Environmental Condition Masters</label><br>
            </div>
            <br>

            <div class="form-row " style="background-color:white;">

              <div class="col-sm-5 spaceleft">
                <label class="required">Calibration Lab</label>
                <select class="w3-input form-control w3-border inputsmallsize30" formControlName="calibrationLab"
                  required>
                  <option selected disabled value="null">--Select--</option>
                  <option>Electro-Technical</option>
                  <option>MASS & VOLUME</option>
                  <option>Mechanical</option>
                  <option>Pressure</option>
                  <option>RPM</option>
                  <option>Thermal</option>
                  <option>TORQUE</option>
                  <option>VOLUME</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createEnvironmentalMasterForm.controls['calibrationLab'].touched && createEnvironmentalMasterForm.controls['calibrationLab'].hasError('required')">
                  Please select Calibration Lab</div>

              </div>

              <div class="col-sm-4 spaceleft ">
                <label class="required">Calibrated At</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="calibratedAt"
                  required>
                  <option selected disabled value="null">--Select Calibrated At--</option>
                  <option>Universal Instruments Lab.</option>
                  <option>OnSite</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createEnvironmentalMasterForm.controls['calibratedAt'].touched && createEnvironmentalMasterForm.controls['calibratedAt'].hasError('required')">
                  Please select Calibrated At</div>

              </div>

              <div class="col-sm-3 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status">
                  <option selected value="null">Draft</option>
                  <option>Submitted</option>
                  <option>Approved</option>
                </select>
              </div>

            </div>

            <br> <br>
            <div class="form-row spaceTop" style="background-color:white;">

              <div class="col-sm-5 adjustleft">
                <label>Valid From Date </label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="validFromDate">
                </ejs-datepicker>
              </div>

              <div class="col-sm-4 adjustleft">
                <label>Valid To Date</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="validToDate">
                </ejs-datepicker>
              </div>
            </div>

            <br><br> <br><br>
            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge w3-text-blue ">Environmental Condition Value</label><br>
            </div>
            <br>
            <br>

            <div class="form-row " style="background-color:white;">

              <div class=" form-group col-sm-12 ">
                <div class=" form-group col-sm-3">
                  <label>Temperature</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="tempSign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature2">
                  <label>°C</label>
                </div><br>
              </div>


              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Humidity</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="humiditySign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity2">
                  <label> %RH </label>
                </div><br>
              </div>
              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Atmospheric Pressure</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="atmpressSign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress2">
                  <label> mbar </label>
                </div><br>
              </div>

              <div class=" form-group col-sm-12">
                <div class="flex-parent jc-center">
                  <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #186CFB" type="button"
                    (click)="create()">Create</button><br>
                </div>
              </div>

            </div>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div> -->





<div>
  <div>
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv  ">


      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Create Environmental Master</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createEnvironmentalMasterForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Environmental Condition
                Masters</label><br>
            </div>
            <br>
            <div class="form-row " style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">Calibration Lab</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="calibrationLab" [(ngModel)]="calibrationLab"
                  required>
                  <option [ngValue]="calibrationLabTypeName"
                    *ngFor="let calibrationLabTypeName of arrayOfCalibrationLabTypeName">
                    {{calibrationLabTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createEnvironmentalMasterForm.controls['calibrationLab'].touched && createEnvironmentalMasterForm.controls['calibrationLab'].hasError('required')">
                  Please select Calibration Lab</div>
              </div>

              <div class="col-sm-3 spaceleft ">
                <label class="required">Calibrated At</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="calibratedAt" [(ngModel)]="calibratedAt"
                  required>
                  <option selected disabled value="null">--Select Calibrated At--</option>
                  <option value="Ucspl Lab">Ucspl Lab</option>
                  <option value="OnSite">OnSite</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createEnvironmentalMasterForm.controls['calibratedAt'].touched && createEnvironmentalMasterForm.controls['calibratedAt'].hasError('required')">
                  Please select Calibrated At</div>

              </div>

              <div class="col-sm-3 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status">
                  <option selected value="null">Draft</option>
                  <option>Submitted</option>
                  <option>Approved</option>
                </select>
              </div>

              <div class="col-sm-3 adjustleft">
                <label>Valid From Date </label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  id='datepicker' [(ngModel)]="validFromDate" formControlName="validFromDate">
                </ejs-datepicker>

                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy' style=" visibility: hidden;
                width: 0;"
                id='datepicker' formControlName="validToDate">
              </ejs-datepicker>

              </div>

            </div>


            <!-- <div class="form-row spaceTop" style="background-color:white;">
  
                <div class="col-sm-5 adjustleft">
                  <label>Valid From Date </label>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                    id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="validFromDate">
                  </ejs-datepicker>
                </div>
  
                <div class="col-sm-4 adjustleft">
                  <label>Valid To Date</label>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                    id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="validToDate">
                  </ejs-datepicker>
                </div>
              </div> -->


            <br><br> <br><br>
            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Environmental Condition
                Value</label><br>
            </div>
            <br>
            <br>

            <div class="form-row " style="background-color:white;">

              <div class=" form-group col-sm-12 ">
                <div class=" form-group col-sm-3">
                  <label>Temperature</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="tempSign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature2">
                  <label>°C</label>
                </div><br>
              </div>


              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Humidity</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="humiditySign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity2">
                  <label> %RH </label>
                </div><br>
              </div>
              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Atmospheric Pressure</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress1">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="atmpressSign">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress2">
                  <label> mbar </label>
                </div><br>
              </div>

              <div class=" form-group col-sm-12">
                <div class="flex-parent jc-center">
                  <button class="w3-btn box-2 btn btn-one margin-right" type="button"
                    (click)="create()">Create</button><br>
                </div>
              </div>

            </div>
            <br>

          </div>
        </form>
      </div>
    </div>
  </div>
