
<label> First Name </label> <input type="text"> <br>


<label> Middle name </label> <input type="text"> <br>


<label> Last name </label> <input type="text"> <br>


<button type="button"> Save </button>




