<div class="bgcolorcomponent" >
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Search and Modify Customer</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchCustomerForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-5">
              <label>Name</label>
              <input class="w3-input form-control w3-border inputsmallsize45" type="text" placeholder="Name"
                formControlName="name">
                <div class="w3-panel w3-text-red"
                *ngIf="searchCustomerForm.controls.name.invalid && (searchCustomerForm.controls.name.dirty || searchCustomerForm.controls.name.touched)">
                Please enter minimum 3 characters to search</div> 
            </div>

            <div class="col-sm-3">
              <label>Department</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Department"
                formControlName="department">
                <div class="w3-panel w3-text-red"
                *ngIf="searchCustomerForm.controls.department.invalid && (searchCustomerForm.controls.department.dirty || searchCustomerForm.controls.department.touched)">
                Please enter minimum 3 characters to search</div>
            </div>

            <div class="col-sm-4">
              <label>Address</label>
              <input class="w3-input form-control w3-border inputsmallsize45" type="text" placeholder="Address"
                formControlName="address">
                <div class="w3-panel w3-text-red"
                *ngIf="searchCustomerForm.controls.address.invalid && (searchCustomerForm.controls.address.dirty || searchCustomerForm.controls.address.touched)">
                Please enter minimum 3 characters to search</div><br><br>
            </div>

            <div class="col-sm-3">
              <label style="display:inline-block;" class="adjustlabel">Active</label>&emsp;&emsp;&emsp;
              <label style="display:inline-block;" class="adjustlabel2">Inactive</label><br>
              <input style="display:inline-block;" class="radio" type="radio" name="status" value="1" checked
                formControlName="status" [(ngModel)]="status">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
              <input style="display:inline-block;" class="radio" type="radio" name="status" value="0"
                formControlName="status" [(ngModel)]="status">
            </div>

            <div class="col-sm-3">
              <button class="w3-btn  box-1 btn btn-one "
                (click)="searchData()">Search</button>
            </div>
            <br><br><br><br><br>
          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th style="text-align:center;">NAME</th>
                <th style="text-align:center;"> DEPARTMENT</th>
                <th style="text-align:center;"> ADDRESS</th>
                <th style="text-align:center;">CONTACT DETAILS</th>
                <th style="text-align:center;">STATUS</th>
              </tr>

              <tbody>

                <tr *ngIf="customersArray == 0">
                  <td width="100%" colspan="5"><span> Enter Criteria to search customer(s).</span></td>
                </tr>

                <tr *ngFor="let customer of customersArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">
                  <td><a class="a1" (click)="updateCustomer(i)">{{customer[3]}}</a><br>
                    <a class="a2">Create Delivery Challan cum Invoice</a><br>
                    <a class="a2">Create Payment Receipt Record</a></td>
                  <td>{{customer[4]}}</td>
                  <td style="width:30px;"><span>{{customer[14]}}
                      {{customer[15]}},{{customer[18]}},{{customer[19]}},{{customer[17]}},{{customer[16]}}</span></td>
                  <td><b>Mobile Number 1 :</b> {{customer[9]}}<br><b>Mobile Number 2 :</b>
                    {{customer[10]}}<br><b>LandLine Number :</b> {{customer[11]}}<br><b>Email :</b>
                    {{customer[12]}}<br><b>Alternative Email :</b> {{customer[13]}}</td>
                  <td>{{customer[22]}}</td>
                </tr>

              </tbody>
            </table>

            <br>

          <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
            <Label>Items per page:
              <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </Label>

          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<div>.</div>
