<div>
  <div>
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv  ">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Update Environmental Master</label><br>
      </div>

      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="updateEnvironmentalMasterForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Environmental Condition
                Masters</label><br>
            </div>
            <br>
            <div class="form-row " style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">Calibration Lab</label>
                <select class="w3-input form-control w3-border inputsmallsize15" [(ngModel)]="calibrationLab" formControlName="calibrationLab" [(ngModel)]="calibrationLab"
                  id="calibrationLabTag" required>
                  <option [ngValue]="calibrationLabTypeName"
                    *ngFor="let calibrationLabTypeName of arrayOfCalibrationLabTypeName">
                    {{calibrationLabTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="updateEnvironmentalMasterForm.controls['calibrationLab'].touched && updateEnvironmentalMasterForm.controls['calibrationLab'].hasError('required')">
                  Please select Calibration Lab</div>
              </div>

              <div class="col-sm-3 spaceleft ">
                <label class="required">Calibrated At</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" [(ngModel)]="calibratedAt" formControlName="calibratedAt" [(ngModel)]="calibratedAt"
                id="calibrationAtTag" required>
                  <option selected disabled value="null">--Select Calibrated At--</option>
                  <option value="Ucspl Lab">Ucspl Lab</option>
                  <option value="OnSite">OnSite</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="updateEnvironmentalMasterForm.controls['calibratedAt'].touched && updateEnvironmentalMasterForm.controls['calibratedAt'].hasError('required')">
                  Please select Calibrated At</div>

              </div>

              <div class="col-sm-3 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" id="statusTag" [(ngModel)]="status" formControlName="status" (click)="setStatus()">
                  <option value="Draft">Draft</option>
                  <option value="Submitted">Submitted</option>
                  <option value="Approved">Approved</option>
                </select>
              </div>

              <div class="col-sm-3 adjustleft">
                <label>Valid From Date </label>
                <span *ngIf="statusApprove==1">
                  <br><b>{{validFromDate}}</b>
                </span>
                <span *ngIf="statusApprove==0">
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  id='readonly' [(ngModel)]="validFromDate" formControlName="validFromDate">
                </ejs-datepicker>
                </span>
               

                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy' 
                style="visibility: hidden; width: 0;"
                id='datepicker1' formControlName="validToDate">
              </ejs-datepicker>

              </div>

            </div>
            <div>
              <a (click)="unlockFunctionalities()">Unlock</a>
            </div>

            <br><br> <br><br>
            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Environmental Condition
                Value</label><br>
            </div>
            <br>
            <br>

            <div class="form-row " style="background-color:white;">

              <div class=" form-group col-sm-12 ">
                <div class=" form-group col-sm-3">
                  <label>Temperature</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature1" [(ngModel)]="temperature1" id="temp1Tag">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="tempSign" [(ngModel)]="tempSign" id="tempSignTag">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="temperature2" [(ngModel)]="temperature2" id="temp2Tag">
                  <label>°C</label>
                </div><br>
              </div>

              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Humidity</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity1" [(ngModel)]="humidity1" id="humidity1Tag">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="humiditySign"  [(ngModel)]="humiditySign" id="humiditySignTag">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="humidity2" [(ngModel)]="humidity2" id="humidity2Tag">
                  <label> %RH </label>
                </div><br>
              </div>

              <div class=" form-group col-sm-12">
                <div class=" form-group col-sm-3">
                  <label>Atmospheric Pressure</label>
                </div>

                <div class=" form-group col-sm-9">
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress1" [(ngModel)]="atmpress1" id="atmpress1Tag">
                  <select class="w3-input form-control w3-border inputsmallsize2" style="display: inline-block;"
                    formControlName="atmpressSign" [(ngModel)]="atmpressSign" id="atmpressSignTag">
                    <option selected value="null">&nbsp; ± </option>
                  </select>
                  <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;"
                    type="text" formControlName="atmpress2" [(ngModel)]="atmpress2" id="atmpress2Tag">
                  <label> mbar </label>
                </div><br>
              </div>

              <div class=" form-group col-sm-12">
                <div class="flex-parent jc-center">
                  <button class="w3-btn box-2 btn btn-one margin-right" type="button"
                    (click)="update()">Update</button><br>
                </div>
              </div>

            </div>
            <br>

          </div>
        </form>
      </div>
    </div>
  </div>
