.textcenter {
    margin-left: 550px;
  }
  
  .inputsmallsize2 {
    width: 55px;
  }
  
  .inputsmallsize15 {
    width: 185px;
  }
  
  .inputsmallsize30 {
    width: 280px;
  }
  
  .inputsmallsize50 {
    width: 350px;
  }
  
  .textboxarea {
    width: 378px;
    height: 80px;
  }
  
  .align-center {
  
    width: 70%;
    height: 100%;
    margin: auto;
  }
  
  .align-center1 {
    width: 90%;
    margin: auto;
  }
  
  .register-card {
    margin-top: 2%;
    border-radius: 10px;
    padding-bottom: 0px;
  
  
  }
  
  .w3-lobster {
    font-family: "calibri";
  }
  
  .space {
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
  
  }
  
  .spaceTopBottom {
    padding-top: 23px;
    padding-bottom: 55px;
  }
  
  .spaceTop {
    margin-top: 23px;
  }
  
  .spaceleft {
    padding-left: 0px;
  }
  
  .spaceRight {
    margin-right: -920%;
  }
  
  .Adjustspaceleft {
    padding-left: 130px;
  }
  
  .adjusttable {
    margin-bottom: 5px;
  
  }
  
  
  .Adjustspace {
    padding-right: 2%;
  }
  
  .adjustleft {
    padding-left: 0px;
  }
  
  .spaceTop {
    padding-top: 23px;
  }
  
  
  .add {
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: lightblue;
  }
  
  .centercard {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .centercard1 {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  
  .adjusttable {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -18px;
  }
  
  
  
  .e-datepicker .e-date-wrapper {
    border: 2px solid lightgray;
  }
  
  
  
  
  
  .e-today {
    color: blue;
  }
  
  /*custom styles*/
  
  .e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::before,
  /* csslint allow: adjoining-classes*/
  .e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::after
  
  /* csslint allow: adjoining-classes*/
    {
    /* csslint allow: adjoining-classes*/
    background: blue;
  }
  
  .e-date-wrapper.e-custom-style input.e-input::selection {
    /* csslint allow: adjoining-classes*/
    background: blue;
  }
  
  .e-date-wrapper.e-custom-style input.e-input::-moz-selection {
    /* csslint allow: adjoining-classes*/
    background: blue;
  }
  
  .e-calendar .e-content td.e-disabled .e-day,
  .e-calendar .e-content td.e-disabled:hover .e-day,
  .e-calendar .e-content td.e-disabled:focus .e-day {
    color: blue;
    font-weight: bold;
  }
  
  .e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons,
  /* csslint allow: adjoining-classes*/
  .e-date-wrapper.e-custom-style .e-input {
    /* csslint allow: adjoining-classes*/
    color: blue;
    visibility: hidden;
    width: 0;
  }
  
  .e-date-wrapper.e-custom-style input.e-input::selection {
    /* csslint allow: adjoining-classes*/
    background: blue;
    visibility: hidden;
    width: 0;
  }
  
  .e-date-wrapper.e-custom-style input.e-input::-moz-selection {
    /* csslint allow: adjoining-classes*/
    background: blue;
    visibility: hidden;
    width: 0;
  }
  
  .e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons.e-active {
    /* csslint allow: adjoining-classes*/
    color: blue;
    visibility: hidden;
    width: 0;
  }
  
  
  table {
    font-family: 'calibri';
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    border: 3px solid #dddddd;
  }
  
  td {
    border: 3px solid #dddddd;
  }
  
  th {
    border: 3px solid #dddddd;
    background-color: rgb(240, 240, 240);
  
  }
  
  .bg-primary {
    color: #ffffff;
    ;
    background-color: #caeaf7;
    ;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .button {
    font-size: 15px;
    padding: 10px;
    background-color: #0b93ee;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .button:hover {
    background: #06D85F;
    background-color: #0b93ee;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'calibri';
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #06D85F;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 500px) {
    .box {
      width: 70%;
  
    }
  
    .popup {
      width: 70%;
    }
  
    .textcenter {
      margin-left: 0px;
    }
  
    .centercard {
      width: 70%;
      margin-left: 15%;
    }
  
    .register-card {
      height: auto;
  
    }
  
    .align-center {
  
      width: 80%;
      height: 100%;
      margin: auto;
    }
  
    .align-center1 {
      width: 80%;
      margin: auto;
    }
  
  
    .spaceTopBottom {
  
      margin-bottom: -25%;
    }
  
    .inputsmallsize15 {
      width: 93%;
    }
  
    .inputsmallsize30 {
      width: 93%;
    }
  
    .inputsmallsize45 {
      width: 93%;
    }
  
    .inputsmallsize50 {
      width: 105%;
      margin-left: -2px;
    }
  
  
    .spaceleft {
      padding-left: 0px;
      margin-left: -18px;
      width: 180px;
    }
  
    .adjustleft {
      padding-left: -90px;
      margin-left: -18px;
      width: 180px;
    }
  
    .centercard1 {
      width: 210px;
      margin-left: -20%;
  
    }
  
    .adjustlabel {
      margin-left: -18px;
      display: inline;
    }
  
    .adjustlabel2 {
      margin-left: 15px;
      margin-right: -1002px;
    }
  
    .adjusttable {
      margin-bottom: 15px;
  
    }
  
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
  
    .adjusttable {
      overflow-x: auto;
      margin-left: -20px;
      margin-right: -18px;
    }
  
    th,
    td {
      text-align: left;
      padding: 8px;
    }
  
    .box-1 {
      background-color: #0093f5;
      height: 40px;
      width: 130px;
    }
  
  
    .btn {
      line-height: 30px;
      height: 30px;
      text-align: center;
      width: 290px;
      margin-left: 15px;
      cursor: pointer;
      font-size: 15px;
      /* background-color: #0093f5; */
      background-color: #008080;
    }
  
    .flex-parent {
      display: flex;
      margin-bottom: 1%;
  
    }
  
    .jc-center {
  
      margin-bottom: 1%;
    }
  
    button.margin-right {
      margin-right: -5px;
    }
  
  
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  
  }
  
  
  @media screen and (min-width: 501px) and (max-width: 1000px) {
  
    .box-1 {
      background-color: #0093f5;
      height: 40px;
      width: 130px;
    }
  
  
    .btn {
      line-height: 30px;
      height: 30px;
      text-align: center;
      width: 290px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 15px;
      background-color: #008080;
  
    }
  
    .flex-parent {
      display: flex;
      margin-bottom: 1%;
  
    }
  
    .jc-center {
      justify-content: center;
      margin-bottom: 1%;
    }
  
    button.margin-right {
      margin-right: 5px;
    }
  
  
    .align-center {
  
      width: 150%;
      height: 100%;
      margin: auto;
    }
  
    .box {
      width: 70%;
  
    }
  
    .popup {
      width: 70%;
    }
  
    .centercard {
      width: 70%;
      margin-left: 15%;
    }
  
    .register-card {
      height: auto;
    }
  
    .spaceTopBottom {
  
      margin-bottom: -25%;
    }
  
    .inputsmallsize15 {
      width: 155%;
    }
  
    .inputsmallsize30 {
      width: 155%;
    }
  
    .inputsmallsize45 {
      width: 155%;
    }
  
    .inputsmallsize50 {
      width: 120%;
      margin-left: -2px;
    }
  
    .spaceleft {
      padding-left: 0px;
      margin-left: -18px;
      width: 180px;
    }
  
    .adjustleft {
      padding-left: -90px;
      margin-left: -18px;
      width: 180px;
    }
  
    .adjustlabel {
      margin-left: -18px;
      display: inline;
    }
  
    .adjustlabel2 {
      margin-left: 15px;
      margin-right: -1002px;
    }
  
    .adjusttable {
      margin-bottom: 15px;
  
    }
  
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
  
    .adjusttable {
      overflow-x: auto;
      margin-left: -20px;
      margin-right: -18px;
    }
  
    th,
    td {
      text-align: left;
      padding: 8px;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  
  }
  
  
  /********************************* trial adjusting **************************************************/
  
  
  
  * {
    margin: 0px;
    padding: 0px
  }
  
  
  .media1140px,
  .media768px,
  .media480px,
  .media300px {
    padding: 10px;
  }
  
  p {
    margin: 0 0 0px 0;
  }
  
  /* middle section end */
  
  .backgroundfordiv {
    /* background-color: #0b93ee; */
    background-color: #399c92;;
  }
  
  .backgroundfordiv1 {
    background-color: lightblue;
  }
  
  .required:after {
    content: " *";
    color: red;
  }
  
  
  /************************** Button CSS ********************************************************/
  
  
  /* ...trial css animation......*/
  
  .box-1 {
    /* background-color: #0093f5; */
    height: 40px;
    width: 100px;
  }
  
  
  .btn {
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    /* background-color: #0093f5; */
    background-color: #008080;
  }
  
  .flex-parent {
    display: flex;
    margin-bottom: 1%;
  
  }
  
  .jc-center {
    justify-content: center;
    margin-bottom: 1%;
  }
  
  button.margin-right {
    margin-right: 20px;
  }
  
  .box-2 {
    background-color: #008080;
    height: 40px;
    width: 100px;
    margin-top: 15px;
  }
  
  
  .btn1 {
    line-height: 30px;
    height: 40px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    background-color: #008080;
  
  }
  
  /* 
  ========================
        BUTTON ONE
  ========================
  */
  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  
  }
  
  .btn-one span {
    transition: all 0.3s;
  }
  
  .btn-one::before {
  
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(27, 25, 25, 0.5);
    border-bottom-color: rgba(29, 27, 27, 0.5);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  
  .btn-one:hover::before {
    opacity: 15;
    transform: scale(1, 1);
  }
  
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(14, 13, 13, 0.1);
  }
  
  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 10);
  }
  
  
  /*************************************** Tooltip CSS ***************************************************/
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /********************************************************************************************/
  
  [data-tip] {
    position: relative;
  
  }
  
  [data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 10;
  }
  
  [data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 5px 8px;
    background: #f8f8f8;
    color: rgb(15, 15, 15);
    border-left: 5px solid #0a0a0a;
    border-right: 5px solid #0a0a0a;
    border-bottom: 5px solid #0a0a0a;
    z-index: 9;
    font-size: 0.95em;
    height: 80px;
    width: 200px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: black;
    white-space: pre-wrap;
  
    word-wrap: normal;
  }
  
  [data-tip]:hover:before,
  [data-tip]:hover:after {
    display: block;
    border: black;
    border-top: 1px solid #0a0a0a;
    border-left: 1px solid #0a0a0a;
    border-right: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
  }
  
  .wrapper {
    overflow: hidden;
    width: 200px;
  }
  
  .inputfield {
  
    width: 100px;
    color: #00F;
    font-weight: bold;
  }
  
  .tooltipques {
    display: block;
    overflow: hidden;
  }
  
  
  
  /*
    Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
  