
<div class="bd-example">
	<button type="button" id="openModalButton" class="btn btn-primary" data-toggle="modal" data-target="#openModal" (click)="openModal()">
    Launch demo modal
  </button>
</div>

<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        
      <div class="popup">
    

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">
        
        
            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        
        
             <!-- <form [formGroup]="ManageFooterform">-->
        
                <div class="form-group w3-row-padding space" style="background-color:white;border:gray; text-align:center; ">
                  <label style="font-size: 30px; color:#0093f5; text-align:center; "> Manage Footers </label>
                  <br><br>
        
                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">Footer Type</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control inputsmallsize30 adjusttable"  (ngModelChange)="toggle($event)" formControlName="itemtype" name="itemtype"
                        id="itemtype" required>
                        <option value="null" disabled selected>--Select--</option>
                        <option value=1>FOOTER_SALES_QUOTATION_TERMS</option>
                        <option value=2>FOOTER_FREE_FORM</option>
                        <option value=3>FOOTER_FILE_ATTACHMENT</option>
                        <option value=4>FOOTER_FILE_ATTACHMENT</option>
                        <option value=5>FOOTER_TAXES</option>
                      </select>
                    </div>
        
        <br>
        
        <div id="term_style"  *ngIf="select_tag_event == 1">
          <br><br>
          <div>
           <div class="col-sm-3 spaceleft">
               <label>Select Footer :</label>
           </div>
           
            <select  class="form-control spaceleft2 inputsmallsize30 adjusttable" formControlName="terms" name="terms" id="terms"
              (ngModelChange)="changeCat($event)">
              <option selected disabled value="null">--Select Terms--</option>
              <option value="1">Bus/Train</option>
              <option value="2">Discount</option>
              <option value="3">DISCOUNT 10%</option>
              <option value="4">NEW SUPPLY</option>
              <option value="5">TERMS & CONDITION AGAINST % ADVANCE</option>
              <option value="6">TERMS & CONDITION AGAINST COMPLETION OF WORK</option>
              <option value="7">TERMS & CONDITION AGAINST PI</option>
              <option value="8">TERMS & CONDITION FOR REPAIR WORK</option>
              <option value="9">Visiting Charges 1000</option>
              <option value="10">Visiting Charges 2000</option>
            </select>
          </div>
        </div>
        
        <div id="taxes_style" *ngIf="select_tag_event==5">
          <br><br>
        <div>
          <div class="col-sm-3 spaceleft">
        <label>Select Footer:</label> </div>
        <select class="form-control inputsmallsize30 adjusttable" formControlName="taxes" name="taxes" id="taxes"
        (ngModelChange)="changeCat1($event)">
        <option selected disabled value="null">--Select Taxes--</option>
        <option value="1">CGST 9%</option>
        <option value="2">IGST 18%</option>
        <option value="3">SGST 9%</option>
        </select>
        </div>
        </div>
        
        
        <button class="w3-btn box-2 btn btn-one margin-right button1  button11"
        style="background-color: #186CFB; width:50px; height:40px;" (click)="add()"> ADD</button>
        
  
                  </div> <br><br>
        
                  <div class="form-row " style="background-color:white;">
                    <div class="adjusttable">
                      <table class="table" id="tblMultileads" style="border:solid 1px grey;">
                        <thead>
                          <tr>
                            <th class="center" style="text-align: center;">ITEM DETAILS</th>
                            <th style="text-align: center;">ACTION</th>
                          </tr>
                        </thead>
        
                        <tbody id="tbodyLeads">
                          <tr *ngFor="let term of termsid_array; let i = index;" style="text-align: left;">
                            <td>
                              <div *ngIf="isArray(term); else exist">
                                <div *ngFor="let t of term; let i = index;">{{t}}</div>
                              </div>
                              <ng-template #exist>{{term}}</ng-template>
                            </td>
                            <td><i class="fa fa-close" style="font-size:28px;color:red" (click)="DeleteRow(i)"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
        
                </div>
            <!--  </form>-->
            </div>
          </div>
          <div>.</div>
        </div>
        
        
        
        <!--
        
        <div class="leftspaceforcustomer">
          <span style="color:#000;font-size:13px"> 
           <div *ngFor="let term of termsid_array; let i = index;">
         <div *ngIf="isArray(term); else exist">
         
           <div *ngFor="let t of term; let i = index;">{{t}}</div> 
         </div> 
          <ng-template #exist>{{term}}</ng-template>
         </div>
        
        
         </span>
        </div>
        
        -->
        


   </div>

    </div>
  </div>
</div>

