<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">Search and Modify Supplier</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchSupplierform">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 spaceleft">
              <label>By Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Name"
                formControlName="name">
                <div class="w3-panel w3-text-red"
                *ngIf="searchSupplierform.controls.name.invalid && (searchSupplierform.controls.name.dirty || searchSupplierform.controls.name.touched)">
                enter minimum 3 characters to search</div>
            </div> 
          
     
            
            <div class="col-sm-4 adjustleft">
              <label>By Address</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Address"
                formControlName="address">
                <div class="w3-panel w3-text-red"
                *ngIf="searchSupplierform.controls.address.invalid && (searchSupplierform.controls.address.dirty || searchSupplierform.controls.address.touched)">
                enter minimum 3 characters to search</div>
            </div>
            

           
            <div class="col-sm-4">
              <label style="display:inline-block;" class="adjustlabel">Active</label>&emsp;&emsp;&emsp;
              <label style="display:inline-block;" class="adjustlabel2">Inactive</label><br>
              <input style="display:inline-block;" class="radio" type="radio" name="status" value="1" checked
                formControlName="status" [(ngModel)]="status">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
              <input style="display:inline-block;" class="radio1" type="radio" name="status" value="0"
                formControlName="status" [(ngModel)]="status">
            </div>
            </div>
            <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-12">
              <button class="w3-btn  box-1 btn btn-one " style="background-color: #008080"
                (click)="searchData()">Search</button>
            </div>

          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th style="text-align:center ;"> Name</th>
                <th style="text-align:center ;"> TYPE</th>
                <th style="text-align:center ;"> ADDRESS</th>
                <th style="text-align:center ;"> CONTACT DETAILS</th>
                <th style="text-align:center ;"> STATUS</th>
                <th style="text-align:center ;"> PREVIEW</th>
              </tr>
             
              <tr *ngIf="supplierArray == 0">
                <td width="100%" colspan="6"><span> Enter Criteria to search supplier(s).</span></td>
              </tr>

              <tr *ngFor="let supplier of supplierArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">
                <td><a class="a1" (click)="updateCustomer(i)">{{supplier[1]}}</a><br>
                </td>
                <td>{{supplier[10]}}</td>
                <td style="width:30px;"><span>{{supplier[16]}}
                    {{supplier[17]}},{{supplier[18]}},{{supplier[19]}},{{supplier[20]}},{{supplier[21]}}</span></td>
                <td><b>Mobile Number 1 :</b> {{supplier[7]}}<br><b>Mobile Number 2 :</b>
                  {{supplier[8]}}<br><b>Phone Number :</b> {{supplier[9]}}<br><b>Email :</b>
                  {{supplier[11]}}</td>
                <td>{{supplier[15]}}</td>
                <td></td>
              </tr>
            </table>

            <br>

            <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
              <Label>Items per page:
                <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </Label>
          </div>

        </div>


      </form>
    </div>
  </div>
</div>
