<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;"> REQUEST AND INWARD DOCUMENT </label>
    </div>

    <div class="flex-parent jc-center">
      <button type="button" id="openModalButton1" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal1" (click)="openModal1()">Manage
        <br>Document</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss " (click)="ManageHeader()">Manage<br>
        Headers</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss  " (click)="ManageItems()">Manage
        <br>Items</button>
      <button type="button" id="openModalButton" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal" (click)="manageFooter()">Manage
        <br>Footers</button>


      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss" (click)="printPage()">Print <br>Preview</button>
    </div>
    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">



      <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">

        <div id="printable">

          <div class="adjusttable ">
            <table class="mytable mytable-body disableBorder">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr class="disableBorder">
                <td class="adjustWidthOftd"> Inward Req. No.:</td>
                <td class="adjustWidthOftd1" colspan="2">{{inwardReqNo}}</td>

              </tr>

              <tr>
                <td class="adjustWidthOftd"> Customer Name:</td>
                <td class="adjustWidthOftd1" colspan="2">
                  <input list="customername" type="text" class="w3-input form-control w3-border inputsmallsize30"
                    name="customername" [(ngModel)]="customerNameSelected" (keyup)="displayButtonFun()" required>
                  <datalist id="customername" required>
                    <option value="null" disabled selected>{{customerNameSelected}}</option>
                    <option [ngValue]="customer1.name" [value]="customer1.name" selected
                      *ngFor="let customer1 of customerWithAddress">{{customer1.address}}</option>
                  </datalist>
                </td>

                <td class="adjustWidthOftd">Expected Delivery Date:</td>
                <td class="adjustWidthOftd1">
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                    id='datepicker' [(ngModel)]="expectedDeliveryDate" (click)="displayButtonFun()"></ejs-datepicker>
                </td>
              </tr>

              <tr>
                <td class="adjustWidthOftd"> Reports in Name of:</td>
                <td class="adjustWidthOftd1" colspan="2">
                  <input list="customername" type="text" class="w3-input form-control w3-border inputsmallsize30"
                    name="customername" [(ngModel)]="reportsInNameof" (click)="displayButtonFun()" required>
                  <datalist id="customername" required>
                    <option value="null" disabled selected>{{reportsInNameof}}</option>
                    <option [ngValue]="customer1.name" [value]="customer1.name" selected
                      *ngFor="let customer1 of customerWithAddress">{{customer1.address}}</option>
                  </datalist>
                </td>

                <td class="adjustWidthOftd">Request Contact Name</td>
                <td class="adjustWidthOftd1"><input class="w3-input form-control w3-border inputsmallsize30" type="type"
                    [(ngModel)]="reqContactName" (keyup)="displayButtonFun()"></td>
              </tr>

              <tr>
                <td class="adjustWidthOftd"> Customer DC No:</td>
                <td class="adjustWidthOftd1" colspan="2"><input class="w3-input form-control w3-border inputsmallsize30"
                    type="type" [(ngModel)]="customerDcNo" name="customerDcNo" (keyup)="displayButtonFun()"></td>

                <td class="adjustWidthOftd">Request Email:</td>
                <td class="adjustWidthOftd1"><input class="w3-input form-control w3-border inputsmallsize30" type="type"
                    [(ngModel)]="reqEmail" (keyup)="displayButtonFun()">
                </td>


              </tr>

              <tr>
                <td class="adjustWidthOftd">Customer DC Date:</td>
                <td class="adjustWidthOftd1" colspan="2">
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                    id='datepicker' [(ngModel)]="customerDcDate" (click)="displayButtonFun()"></ejs-datepicker>
                </td>

                <td class="adjustWidthOftd">Request Contact Phone:</td>
                <td class="adjustWidthOftd1"><input class="w3-input form-control w3-border inputsmallsize30" type="tel"
                    id="reqPhone" [(ngModel)]="reqContactPhone" (keyup)="displayButtonFun()"></td>

              </tr>

              <tr>
                <td class="adjustWidthOftd"> <a (click)="openChildWindow()"> Edit UUC Name</a> </td>
                <td class="adjustWidthOftd1" colspan="2"></td>
                <td class="adjustWidthOftd">No of instruments:</td>
                <td class="adjustWidthOftd1">
                  {{noOfInstruments}}
                </td>
              </tr>

            </table>

          </div>


          <div>
            <div class="adjusttable" id="tab">
              <table class="table" id="tblMultileads" #tableid>
                <thead>
                  <tr>
                    <th>Inward Instrument No.</th>
                    <th>Nomenclature/ Status</th>
                    <th>Range/Size </th>
                    <th>Least Count</th>
                    <th>ID. NO</th>
                    <th>Sr No</th>
                    <th>Make</th>
                    <th>Frequency/ Condition</th>
                    <th>Assigned to</th>


                  </tr>
                </thead>
                <tbody id="tbodyLeads">

                  <tr *ngFor="let dynamic of dynamicArray; let i = index;">


                    <td>
                      <a (click)="createCertificate($event)" data-toggle="tooltip"
                        title="Calibration Certificate">{{dynamicArray[i].inwardInstruNo}}</a>
                    </td>



                    <td>

                      {{dynamicArray[i].nomenclature}} <br>
                      {{statusOfInstrument}}<br>

                    </td>

                    <td>{{dynamicArray[i].rangeFrom}}-{{dynamicArray[i].rangeTo}}
                    </td>

                    <td>
                      {{dynamicArray[i].leastCount}}
                    </td>

                    <td>{{dynamicArray[i].idNo}}
                    </td>

                    <td>
                      {{dynamicArray[i].srNo}}
                    </td>


                    <td>{{dynamicArray[i].make}}
                    </td>

                    <td class="lessspace">
                      {{dynamicArray[i].calibrationFrequency}}
                    </td>

                    <td class="lessspace">
                      {{dynamicArray[i].assignedTo}}
                    </td>

                  </tr>
                </tbody>

              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div><br>
<div class="flex-parent jc-center ">
  <div *ngIf="displayButton==1">
    <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
      (click)="saveAllData()">Save</button>
  </div>
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="backToMenu()">Back</button>
</div>

<div>.</div>

<form name="f1">
  <input type="hidden" id="id1" name="Pname" size="10" [(ngModel)]="pName" (input)="hello1($event)">

  <input type="hidden" id="id2" name="Mname" size="10" [(ngModel)]="mName" (ngModelChange)="hello2($event)">
</form>













<!--

<div class="noPrint" id="this_is_not_printed"  >
 <h2>fertgtre</h2>
</div>
<div class="onlyPrint"  id="this_is_only_seen_on_printer" >
  <h2>gfuiwgrfwuigruw</h2>
 
</div>

<input type="button" value="Print Table" (click)="printTable()"  />
<input type="button" value="Print Table"  (click)="printDiv('printable');" />

-->

<div class="select">
  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialp1" />
  <input type="hidden" id="country2" name="country2" [(ngModel)]="trialp2" />
</div>



<!----------------------------------------------- Code for Manage Document--------------------------------------------------------------------------------------------------------->
<div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup1">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> REQUEST AND INWARD DOCUMENT </label>
            </div>

            <!-- <div class="flex-parent jc-center ">
        
              <button class="w3-btn  box-1 btn btn-one margin-right buttoncss">Manage<br> Headers</button>
              <button class="w3-btn  box-1 btn btn-one margin-right buttoncss">Manage <br>Items</button>
              <button class="w3-btn  box-1 btn btn-one margin-right buttoncss">Manage <br>Footers</button>
              <button class="w3-btn  box-1 btn btn-one margin-right buttoncss">Print <br>Preview</button>
        
        
            </div>-->
            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">



              <form [formGroup]="manageDocumentForm" (ngSubmit)="updateManageDoc()">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <label style="font-size: 30px; color:#008080"> Manage Document </label>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-4 spaceleft">
                      <label> Request And Inward Document Number</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="reqInwDocumentNo" formControlName="reqInwDocumentNo" readonly>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label class="required">Document Type</label>
                      <select class="form-control inputsmallsize30" [(ngModel)]="typeOfDocument"
                        formControlName="typeOfQuotation" required>
                        <option value="order_accept_v1.xsl" selected>
                          order_accept_v1.xsl
                        </option>
                      </select>
                    </div>

                    <div class="col-sm-4 adjustleft">
                      <label class="required">Req. Type</label>
                      <select class="form-control inputsmallsize30" formControlName="reqType"
                        [(ngModel)]="reqTypeSelected" required>
                        <option value="null" selected disabled>{{reqTypeSelected}}</option>
                        <option [ngValue]="reqTypeOfRequestAndInwardName"
                          *ngFor="let reqTypeOfRequestAndInwardName of arrayReqTypeOfRequestAndInwardName">
                          {{reqTypeOfRequestAndInwardName}}</option>
                      </select>
                      <div class="w3-panel w3-text-red"
                        *ngIf="manageDocumentForm.controls['reqType'].touched && manageDocumentForm.controls['reqType'].hasError('required')">
                        Select Req Type</div>
                    </div>

                    <!-- <div class="col-sm-4 spaceleft">
                      <label>Archive Date</label>
                      <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                        id='datepicker' [(ngModel)]="archieveDate" formControlName="archieveDate">
                      </ejs-datepicker>
                    </div> -->
                    <br>
                  </div>

                  <div class="form-row" style="background-color:white;">

                    <div class="col-sm-4 spaceleft">
                      <label>Created By</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="createdBy" formControlName="createdBy">
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label>Status</label>
                      <select class="form-control inputsmallsize30" [(ngModel)]="status" formControlName="status"
                        name="status" id="status" required>
                        <option value="null" disabled selected>--Select Status--</option>
                        <option value="Draft">Draft</option>
                        <option value="Approved">Approved</option>
                        <option value="Submitted">Submitted</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Archieved">Archieved</option>
                      </select>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label>Assigned To</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="assignedTo" formControlName="assignedTo">
                    </div>

                    <!-- <div class="col-sm-4 spaceleft">
                      <label>Remark</label>
                      <textarea style="display:inline-block;"
                        class="w3-input form-control w3-border  textboxareascrolling1" [(ngModel)]="remark"
                        formControlName="remark">
                            </textarea>
                    </div> -->

                  </div>

                </div>
                <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div>

              </form>
            </div>
          </div>
          <div>.</div>
        </div>


      </div>
    </div>
  </div>
</div>





<button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>

































<!----------------------------------------------- Code for Manage Footer--------------------------------------------------------------------------------------------------------->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>
        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">


              <!-- <form [formGroup]="ManageFooterform">-->

              <div class="form-group w3-row-padding space"
                style="background-color:white;border:gray; text-align:center; ">
                <label style="font-size: 30px; color:#008080; text-align:center; "> Manage Footers </label>
                <br><br>

                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-3 spaceleft">
                    <label style="font-size: 15px; text-align:left; color:black;">Footer Type</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control inputsmallsize30 adjusttable" (ngModelChange)="footerType($event)"
                      [(ngModel)]="itemtype" name="itemtype" id="itemtype" required>
                      <option value="null" disabled selected>--Select--</option>
                      <option value=1>FOOTER_SALES_QUOTATION_TERMS</option>
                      <option value=2>FOOTER_FREE_FORM</option>
                      <option value=3>FOOTER_FILE_ATTACHMENT</option>
                      <option value=4>FOOTER_DISC_ON_SUBTOTAL</option>
                      <option value=5>FOOTER_TAXES</option>
                    </select>
                  </div>

                  <br>

                  <!--<div id="term_style"  *ngIf="select_tag_event == 1">
          <br><br>
          <div>
           <div class="col-sm-3 spaceleft">
               <label>Select Footer :</label>
           </div>
           
            <select  class="form-control spaceleft2 inputsmallsize30 adjusttable"  name="terms" id="terms"
              (ngModelChange)="changeCat($event)">
              <option selected disabled value="null">--Select Terms--</option>
              <option value="1">Bus/Train</option>
              <option value="2">Discount</option>
              <option value="3">DISCOUNT 10%</option>
              <option value="4">NEW SUPPLY</option>
              <option value="5">TERMS & CONDITION AGAINST % ADVANCE</option>
              <option value="6">TERMS & CONDITION AGAINST COMPLETION OF WORK</option>
              <option value="7">TERMS & CONDITION AGAINST PI</option>
              <option value="8">TERMS & CONDITION FOR REPAIR WORK</option>
              <option value="9">Visiting Charges 1000</option>
              <option value="10">Visiting Charges 2000</option>
            </select>
          </div>
        </div>-->

                  <div id="taxes_style" *ngIf="selectTagEvent==5">
                    <br><br>
                    <div>
                      <div class="col-sm-3 spaceleft">
                        <label>Select Footer:</label> </div>
                      <select class="form-control inputsmallsize30 adjusttable" name="taxes" id="taxes"
                        [(ngModel)]="taxes" (ngModelChange)="changeTaxes($event)">
                        <option selected disabled value="null">--Select Taxes--</option>
                        <option value="1">CGST 9%</option>
                        <option value="2">IGST 18%</option>
                        <option value="3">SGST 9%</option>
                      </select>
                    </div>
                  </div>



                </div> <br><br>

                <div class="form-row " style="background-color:white;">
                  <div class="adjusttable">
                    <table class="table" id="tblMultileads" style="border:solid 1px grey;">
                      <thead>
                        <tr>
                          <th class="center" style="text-align: center;">ITEM DETAILS</th>
                          <th style="text-align: center;">ACTION</th>
                        </tr>
                      </thead>

                      <tbody id="tbodyLeads">
                        <!--<tr *ngFor="let term of termsid_array; let i = index;" style="text-align: left;">
                            <td>
                              <div *ngIf="isArray(term); else exist">
                                <div *ngFor="let t of term; let i = index;">{{t}}</div>
                              </div>
                              <ng-template #exist>{{term}}</ng-template>
                            </td>
                            <td><i class="fa fa-close" style="font-size:28px;color:red" (click)="DeleteRow(i)"></i></td>
                          </tr> -->

                        <tr *ngFor="let tax of taxesArrayName; let i = index;" style="text-align: center;">
                          <td>{{tax}}</td>
                          <td><i class="fa fa-close" style="font-size:28px;color:red" (click)="deleteTaxes(i)"></i></td>
                        </tr>
                        <tr *ngIf="disc == 1" style="text-align: center;">
                          <td>Discount on Subtotal</td>
                          <td><i class="fa fa-close" style="font-size:28px;color:red"
                              (click)="deleteDiscOnSubtotal()"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <!--</form>-->
            </div>
          </div>
          <div>.</div>
        </div>


        <!--
        
        <div class="leftspaceforcustomer">
          <span style="color:#000;font-size:13px"> 
           <div *ngFor="let term of termsid_array; let i = index;">
         <div *ngIf="isArray(term); else exist">
         
           <div *ngFor="let t of term; let i = index;">{{t}}</div> 
         </div> 
          <ng-template #exist>{{term}}</ng-template>
         </div>
        
        
         </span>
        </div>
        
        -->

      </div>

    </div>
  </div>
</div>
