<form [formGroup]="frm">
  <input type="hidden" formControlName="cName" value="text" size="10">
</form>


<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;"> Inward Instrument Details </label>
    </div>


    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">

      <form [formGroup]="reqdocParaDetailsForm">

        <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">

          <div id="printable">

            <label>Search by IDNo or SrNo</label>
            <input class="w3-input form-control w3-border inputsmallsize30" placeholder="search device"
              [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (click)="changeItemPerPage()">
            <br>

            <div>
              <div class="adjusttable" id="tab">
                <table class="table" id="tblMultileads">
                  <thead>
                    <tr>
                      <th>INWARD NO</th>
                      <th class="center">NOMENCLATURE</th>
                      <th>PARAMETER</th>
                      <th>ID NO</th>
                      <th>MAKE</th>
                      <th>SR NO</th>
                      <th>RANGE FROM </th>
                      <th>RANGE TO</th>
                      <th>UOM</th>
                      <th>LEAST COUNT</th>
                      <th>UOM</th>
                      <th>ACCURACY</th>
                      <th>FORMULA ACCURACY</th>
                      <th>UOM ACCURACY</th>
                      <th>ACCURACY</th>
                      <th>FORMULA ACCURACY</th>
                      <th>UOM ACCURACY</th>
                      <th>LOCATION</th>
                      <th>CALIBRATION FREQUENCY</th>
                      <th>INSTRUMENT TYPE</th>
                      <th>LAB TYPE</th>
                      <th>SAVE</th>
                      <th>MULTI PARAMETERS</th>

                    </tr>
                  </thead>
                  <tbody id="tbodyLeads" formArrayName="Rows">


                    <tr
                      *ngFor="let itemrow of  reqdocParaDetailsForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                      [formGroupName]="fieldGlobalIndex(i)">

                      <td>
                        {{iwdInstruDetailSrNo}}_{{(itemsPerPage*(p-1))+(i+1)}}
                      </td>

                      <td>


                        <input type="hidden" class="w3-input form-control w3-border inputsmallsize30">

                        <input list="TypeList" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="TypeList" formControlName="nomenclature" id="selectBox" (click)="fun1()"
                          (change)="onChange(i)" autocomplete="off" required>
                        <datalist id="TypeList">
                          <option [ngValue]="instruName" [value]="instruName"
                            *ngFor="let instruName of arrayInstrumentListName"></option>
                        </datalist>


                        <div class="w3-panel w3-text-red"
                          *ngIf="reqdocParaDetailsForm.controls.Rows.controls[i].controls.nomenclature.touched && reqdocParaDetailsForm.controls.Rows.controls[i].controls.nomenclature.hasError('required')">
                          Please select nomenclature</div>

                        <br>
                        <label>Order Status</label>
                        <select formControlName="statusOfOrder">
                          <option value="Calibrated">Calibrated</option>
                          <option value="Order created">Order created</option>
                          <option value="Outsourse">Outsourse</option>
                          <option value="Repair Estimate">Repair Estimate</option>
                          <option value="Repaired and Calibrated">Repaired and Calibrated</option>
                          <option value="Return without calibration">Return without calibration</option>
                        </select>

                      </td>

                      <td>

                        <input list="parameter" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="parameter" formControlName="parameter" autocomplete="off" required>
                        <datalist id="parameter" required>
                          <option>1.</option>
                        </datalist>

                      </td>

                      <td>
                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="idNo"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="make">
                      </td>

                      <td>

                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="srNo"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>

                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="rangeFrom">
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="rangeTo">
                      </td>

                      <td>

                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="ruom">
                          <option hidden selected>{{itemrow.get('ruom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayUomNameAccorToParam1[i]">{{uomName}}
                          </option>
                        </select>


                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="leastCount">
                      </td>

                      <td>

                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="lcuom1">
                          <option hidden selected>{{itemrow.get('lcuom1').value}}</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1[i]">{{uomName1}}
                          </option>
                        </select>

                      </td>


                      <td><input type="text" class="form-control inputsmallsize5" formControlName="accuracy">
                      </td>

                      <td>

                        <input list="formulaAccuracy" type="text" id="selectTagFA-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize9" name="formulaAccuracy"
                          (change)="accuracyValue(i)" (keyup)="accuracyValue(i)" formControlName="formulaAccuracy"
                          autocomplete="off" required>
                        <datalist id="formulaAccuracy">
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>
                      </td>
                      <td>

                        <select id="selectTag-{{i}}" class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="uomAccuracy" (change)="accuracyUomValue(i)" (click)="accuracyUomValue(i)">
                          <option hidden selected>{{itemrow.get('uomAccuracy').value}}</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1[i]">{{uomName1}}
                          </option>
                        </select>


                      </td>


                      <td><input type="text" class="form-control inputsmallsize5" formControlName="accuracy1">
                      </td>


                      <td>

                        <input list="formulaAccuracy1" type="text" id="selectTagFA1-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize9" name="formulaAccuracy1"
                          (change)="accuracyValue1(i)" (keyup)="accuracyValue1(i)" formControlName="formulaAccuracy1"
                          autocomplete="off" required>
                        <datalist id="formulaAccuracy1">
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>

                      </td>
                      <td>


                        <select id="selectTag1-{{i}}" class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="uomAccuracy1" (change)="accuracyUomValue1(i)" (click)="accuracyUomValue1(i)">
                          <option hidden selected>{{itemrow.get('uomAccuracy1').value}}</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1[i]">{{uomName1}}
                          </option>
                        </select>

                      </td>
                      <td>

                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="location"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>

                      </td>

                      <td>

                        <input list="calibrationFrequency" type="text"
                          class="w3-input form-control w3-border inputsmallsize7" name="calibrationFrequency"
                          formControlName="calibrationFrequency" autocomplete="off" required>
                        <datalist id="calibrationFrequency" required>
                          <option value=12>12 Months</option>
                          <option value=6>6 Months</option>
                          <option value=3>3 Months</option>
                          <option value=1>1 Months</option>
                          <option value=2>2 Months</option>
                          <option value=4>4 Months</option>
                          <option value=5>5 Months</option>
                          <option value=7>7 Months</option>
                          <option value=8>8 Months</option>
                          <option value=9>9 Months</option>
                          <option value=10>10 Months</option>
                          <option value=11>11 Months</option>
                          <option value=13>13 Months</option>
                          <option value=14>14 Months</option>
                          <option value=15>15 Months</option>
                          <option value=16>16 Months</option>
                          <option value=17>17 Months</option>
                          <option value=18>18 Months</option>
                          <option value=19>19 Months</option>
                          <option value=20>20 Months</option>
                          <option value=21>21 Months</option>
                          <option value=22>22 Months</option>
                          <option value=23>23 Months</option>
                          <option value=24>24 Months</option>
                          <option value=25>25 Months</option>
                          <option value=26>26 Months</option>
                          <option value=27>27 Months</option>
                          <option value=28>28 Months</option>
                          <option value=29>29 Months</option>
                          <option value=30>30 Months</option>
                          <option value=31>31 Months</option>
                          <option value=32>32 Months</option>
                          <option value=33>33 Months</option>
                          <option value=34>34 Months</option>
                          <option value=35>35 Months</option>
                          <option value=36>36 Months</option>
                          <option value=37>37 Months</option>
                          <option value=38>38 Months</option>
                          <option value=39>39 Months</option>
                          <option value=40>40 Months</option>
                          <option value=41>41 Months</option>
                          <option value=42>42 Months</option>
                          <option value=43>43 Months</option>
                          <option value=44>44 Months</option>
                          <option value=45>45 Months</option>
                          <option value=46>46 Months</option>
                          <option value=47>47 Months</option>
                          <option value=48>48 Months</option>
                        </datalist>

                      </td>
                      <td>

                        <input list="instruType" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="instruType" formControlName="instruType" autocomplete="off" required>
                        <datalist id="instruType" required>
                          <option>Analog</option>
                          <option>Digital</option>
                        </datalist>

                      </td>

                      <td>

                        <input list="labType" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="labType" formControlName="labType" autocomplete="off" required>
                        <datalist id="labType" required>
                          <option>Nabl</option>
                          <option>No Nabl</option>
                        </datalist>

                      </td>
                      <td>


                        <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                          style="width:50px; height:30px;" (keyup)="saveAllTrial(i)"
                          (click)="saveAllTrial(i)">{{ text }}</button>


                      </td>
                      <td>
                        <a (click)="openMultiParaListFC(i)">Click Here</a>
                      </td>

                    </tr>


                  </tbody>

                </table>

                <br>
                <div style="color:red;" id="trial"></div>
                <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                <label>Items per page:
                  <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                    formControlName="itemsPerPage">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="500">500</option>
                  </select>
                </label>

              </div>
              <div>
                <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                  style="background-color: #008080; width:50px; height:40px;" (click)="toClose()"> Back</button>
              </div>

            </div>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>


<br />
