<div style="background-color: rgb(248, 248, 248);">

  <div style="background-color: rgb(248, 248, 248);">
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge w3-text-blue ">Search Pending Request & Inward For Service</label><br>
      </div>

      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="Searchform">

          <div class="form-group w3-row-padding space" style="background-color:white;">
            <div class="form-row spaceTopBottom" style="background-color:white;">
              <div class="col-sm-3 spaceleft">

                <label> From Date</label><br>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="fromDate">
                </ejs-datepicker>
              </div>

              <div class="col-sm-3 spaceleft">
                <label>To Date</label><br>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="toDate">
                </ejs-datepicker>
              </div>


              <div class=" form-group col-sm-2 spaceleft">
                <label>Status</label>
                <select id="department" class="form-control inputsmallsize15" formControlName="status" required>
                  <option selected disabled value="null">--Select Status--</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
                <!--         <div class="w3-panel w3-text-red"   *ngIf="Searchform.controls['status'].touched && Searchform.controls['status'].hasError('required')">Please select status</div>  -->
              </div>

              <div class=" form-group col-sm-2">
                <div class="flex-parent jc-center">
                  <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #186CFB" type="button"
                    (click)="Search()">Run Report</button>
                </div>
              </div>
            </div>
            <br>

            <div class="form-row" style="background-color:white;">

              <div class=" form-group col-sm-12 spaceleft">
                <label>Search</label>
                <input class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                  placeholder="Type here to filter records from table below..">
              </div>

              <div class="form-group col-sm-12 spaceTopBottom adjusttable" style="background-color:white;">
                <table class="w3-table  w3-bordered">
                  <tr>
                    <th>SR No.</th>
                    <th style="text-align:center;">INWARD INSTRUMENT NO</th>
                    <th style="text-align:center;">REQUEST DATE</th>
                    <th style="text-align:center;">CUSTOMER</th>
                    <th style="text-align:center;">ASSIGN TO &nbsp; <i
                        class="w3-medium custom-icon fa fa-caret-square-o-down" style="color:#186CFB;"></i></th>
                    <th style="text-align:center;">STATUS</th>
                    <th style="text-align:center;"></th>

                  </tr>
                  <tr>

                    <td>1.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:center;"> <button class="w3-btn box-2 btn btn-one margin-right"
                        style="background-color: #186CFB" type="button" (click)="Search()">Save</button>
                    </td>

                  </tr>
                </table>
              </div>


            </div>

          </div>
        </form>
      </div>

    </div>
  </div>


  <div>
    <p>
      .
    </p>
  </div>



</div>
