<div class="bgcolorcomponent">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Search and Modify Proforma Invoice</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchAndModifyInvoiceForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-3 spaceleft">
              <label>Search Document</label><br>
              <input class="w3-input form-control w3-border inputsmallsize25"
                placeholder="Search by document number" type="text" formControlName="searchDocument"
                required>

            </div> 
          
     
            
            <div class="col-sm-3 adjustleft">
              <label>Status</label><br>
              <select [(ngModel)]="statusChoice" formControlName="statusChoice" class="w3-input form-control w3-border inputsmallsize10 selectdocumenttype form-control">
                <option value="selectStatus" selected>--Select Status--</option>
                <option value="Draft" selected>Draft</option>
                <option value="Approved">Approved</option>
                <option value="Submitted">Submitted</option>
                <option value="Rejected">Rejected</option>
                <option value="Archieved">Archieved</option>

              </select>
            </div>  

            <div class="col-sm-2 adjustleft">
              <label>From Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize10" format='dd-MM-yyyy'
                id='datepicker'  formControlName="fromDate" [(ngModel)]="fromDate">
              </ejs-datepicker>
            </div>


            <div class="col-sm-4 adjustleft">
              <label>To Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize10" format='dd-MM-yyyy'
                id='datepicker'  formControlName="toDate" [(ngModel)]="toDate">
              </ejs-datepicker>
            </div>

          </div>
          <div class="col-sm-5">
            <label></label><br>
            <button class="w3-btn  box-1 btn btn-one btnstyle" style="background-color: #008080"
            (click)="searchData()">Search</button>
          </div>
         <br><br><br>
    <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr class="center">
                <th style="text-align:center;"> DOCUMENT NUMBER</th>
                <th style="text-align:center;"> REQUEST NUMBER</th>
                <th style="text-align:center;"> CUSTOMER DC NUMBER</th>
                <th style="text-align:center;"> CUSTOMER</th>
                <th style="text-align:center;"> SUPPLIER</th>
                <th style="text-align:center;"> DOCUMENT DATE</th>
                <th style="text-align:center;"> STATUS</th>
                <th style="text-align:center;"> PREVIEW</th>
              </tr>


              <tr *ngIf="invoiceDocArray == 0">
                <td width="100%" colspan="7"><span> Enter Criteria to search invoice(s).</span></td>
              </tr>


              <tr
                *ngFor="let user of invoiceDocArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index; ">



                <td style="text-align:center;"><a class="a1"><span (click)="clearForm($event)"> {{user[0]}}</span></a></td>
                <td style="text-align:center;">{{user[1]}}</td>
                <td style="text-align:center;">{{user[2]}}</td>
                <td style="text-align:center;">{{user[3]}}</td>
                <td style="text-align:center;"></td>
                <td style="text-align:center;">{{user[4]}}</td>
                <td style="text-align:center;">{{user[10]}}</td>
                <td style="text-align:center;"></td>

              </tr>



            </table>
            <br>
            <div style="color:red;" id="trial"></div>
            <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
            <label>Items per page:
              <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>
          </div>


        </div>


      </form>
    </div>
  </div>
</div>

