<div>
  <div>

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UUC PARAMETER DETAILS</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterSpecificationForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
                Specification Details
              </label>
            </div>

            <div class="form-row " style="background-color:white;">
              <div class="form-row  adjusttable" style="background-color:white;">
                <div class="form-row spaceTopBottom " style="background-color:white;">
                  <table class="w3-table  w3-bordered">
                    <thead>
                      <tr>
                        <th style="text-align:center;">PARAMETER LIST</th>
                        <th style="text-align:center;">UOM</th>
                        <th style="text-align:center;">CALIBRATION LAB</th>
                        <th style="text-align:center;">R & R TYPE</th>
                        <th style="text-align:center;">UNC MASTER</th>
                        <th style="text-align:center;">INPUT PARAMETER</th>
                        <th style="text-align:center;">INPUT UOM</th>
                        <th style="text-align:center;">CALIBRATION PROCEDURE</th>
                        <th style="text-align:center;">DEFAULT REPETABILITY</th>
                        <th style="text-align:center;">UNC READING</th>
                        <th style="text-align:center;">TYPE OF REPETABILITY</th>
                        <th style="text-align:center;">UNC PRINT UNIT</th>
                        <th style="text-align:center;">MASS CAL METHOD</th>
                        <th style="text-align:center;">NABL SCOPE NAME</th>
                        <th style="text-align:center;">REMARKS</th>
                        <th style="text-align:center;">ACCREDITATION</th>
                        <th>SAVE</th>
                        <th>DELETE</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="Rows">
                      <tr
                        *ngFor="let itemrow of  createMasterSpecificationForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                        [formGroupName]="fieldGlobalIndex(i)">


                        <td>
                          <input class="w3-input form-control w3-border inputsmallsize7" formControlName="parameter"
                            type="text" name="parameter" id="parameter" size="10">
                        </td>

                        <td>
                          <!-- <select class="w3-input form-control w3-border inputsmallsize7" formControlName="instruUom">
                            <option hidden selected>{{itemrow.get('instruUom').value}}</option>
                            <option value="Select uom">Select uom</option>
                            <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                            </option>
                          </select> -->

                          <ng-multiselect-dropdown-angular7 [placeholder]="'Select uom'" [data]="dropdownListForUom"
                            class="w3-input form-control w3-border inputsmallsize15" formControlName="instruUom"
                            [settings]="dropdownSettings" (onSelect)="onItemSelectUom($event)"
                            (onSelectAll)="onSelectAllUom($event)" (onDeSelectAll)="onDeselectAllUom($event)"
                            (onDeSelect)="onItemDeSelectUom($event)">
                          </ng-multiselect-dropdown-angular7>


                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize30">
                            <option [ngValue]="calibrationLabTypeName"
                              *ngFor="let calibrationLabTypeName of arrayOfCalibrationLabTypeName">
                              {{calibrationLabTypeName}}</option>
                          </select>

                          <!-- <ng-multiselect-dropdown-angular7 [placeholder]="'Select uom'" [data]="dropdownList"  class="w3-input form-control w3-border inputsmallsize15"
                             formControlName="calibrationLabParameter" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                             (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)" 
                             (onDeSelect)="onItemDeSelect($event)">
                          </ng-multiselect-dropdown-angular7> -->

                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize30" formControlName="rAndRTable">
                            <option>R AND R TABLE </option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize30" formControlName="uncMaster">
                            <option>UNC Master </option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize30" formControlName="ipParameter">
                            <option [value]="paraName" *ngFor="let paraName of arrayParameterNames">{{paraName}}
                            </option>
                          </select>
                        </td>

                        <td>
                          <!-- <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="ipParameterUom">
                            <option hidden selected>{{itemrow.get('ipParameterUom').value}}</option>
                            <option [value]="uomName" *ngFor="let uomName of arrayOfFrequencyUomNames">{{uomName}}
                            </option>
                          </select> -->

                          <ng-multiselect-dropdown-angular7 class="w3-input form-control w3-border inputsmallsize15"
                            [placeholder]="'Select uom'" [data]="dropdownListForIpUom" formControlName="ipParameterUom"
                            [settings]="dropdownSettings" (onSelect)="onItemSelectIpUom($event)"
                            (onSelectAll)="onSelectAllIpUom($event)" (onDeSelectAll)="onDeselectAllIpUom($event)"
                            (onDeSelect)="onItemDeSelectIpUom($event)">
                          </ng-multiselect-dropdown-angular7>

                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="calibrationProcedure">
                            <option hidden selected>{{itemrow.get('calibrationProcedure').value}}</option>
                            <option value="Select uom">calibration procedure</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="defaultRepetability" name="defaultRepetability" id="defaultRepetability"
                            style="width:100px">
                            <!--size="5" write this if you want to increase heigh of select box-->
                            <option hidden selected>{{itemrow.get('defaultRepetability').value}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7" formControlName="uncReading">
                            <option hidden selected>{{itemrow.get('uncReading').value}}</option>
                            <option value="Horizontal">Horizontal</option>
                            <option value="Verticle">Verticle</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="typeOfRepetability">
                            <option hidden selected>{{itemrow.get('typeOfRepetability').value}}</option>
                            <option value="Multipoint">Multipoint</option>
                            <option value="Singlepoint">Singlepoint</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="uncPrintUnit">
                            <option hidden selected>{{itemrow.get('uncPrintUnit').value}}</option>
                            <option value="%fsd">%fsd</option>
                            <option value="%rdg">%rdg</option>
                            <option value="UOM">UOM</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="massCalMethod">
                            <!-- <option hidden selected>{{itemrow.get('massCalMethod').value}}</option> -->
                            <option value="Select uom">Select Mass Cal Method</option>
                            <option>Mass Cal Method</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="nablScopeName">
                            <option hidden selected>{{itemrow.get('nablScopeName').value}}</option>
                            <option value="Select uom">Select nabl Scope Name</option>
                            <option>nabl</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7" formControlName="remarks">
                            <option hidden selected>{{itemrow.get('remarks').value}}</option>
                            <option value="Select remarks">Select Remarks</option>
                            <option>remarks</option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="accrediation">
                            <option hidden selected>{{itemrow.get('accrediation').value}}</option>
                            <option value="Nabl">Nabl</option>
                            <option value="Non Nabl">Non Nabl</option>
                          </select>
                        </td>

                        <td>
                          <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                            style="width:50px; height:30px;" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                        </td>

                        <td>
                          <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)"></i></span>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <br>
                  <div style="color:red;" id="trial"></div>
                  <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                  <label>Items per page:
                    <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                      formControlName="itemsPerPage">
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>

              </div>

              <div class="form-row " style="background-color:white;">
                <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                  (click)="addNewRow()">Add </button>
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
