<div class="bgcolorcomponent" style="background-color: rgb(223, 223, 223);">

  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container  w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Customer</label><br>
    </div>


    <div class="w3-container w3-card register-card " style="background-color:white;">
      <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">


          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">Customer Name</label><br>
              <input class="w3-input form-control w3-border inputsmallsize30" style="display:inline-block;" type="text"
                placeholder="Name" formControlName="name" [(ngModel)]="name" name="name" id="name"
                (ngModelChange)="checkCustName()">

              <span
                data-tip="Only one space is allowed between two words and no special character in the last word(like @,. etc), name should not include private,pvt,limited,ltd">
                <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>

              <!--   <span>&emsp;<i class="w3-medium custom-icon fa fa-user-plus" (click)="functionname()"></i> (Select Customer Name)</span>  -->
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.name.invalid && (addCustomerForm.controls.name.dirty || addCustomerForm.controls.name.touched)">
                Please enter valid name</div>
              <div style="color:red;" id="CustomerNameValidation"></div>
            </div>

            <div class="col-sm-3">
              <label class="required">Customer Type</label><br>
              <select style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                [(ngModel)]="custSuffix" formControlName="custSuffix" name="custSuffix" id="custSuffix"
                (ngModelChange)="checkCustName()">
                <option selected disabled value="null">--Select--</option>
                <option>Limited</option>
                <option>Private Limited</option>
                <option>Proprietorship</option>
                <option>Patnership</option>
                <option>LLP</option>
              </select>

            </div>

            <div class="col-sm-5">
              <label>Company Name For System Reference</label><br>
              <input class="w3-input form-control w3-border inputsmallsize45" type="text" placeholder="Company Name"
                formControlName="companyNameForSysReference" [(ngModel)]="companyNameForSysReference"
                name="companyNameForSysReference" id="companyNameForSysReference" required disabled>
            </div>
            <br>
          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">Department/Location</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Department"
                formControlName="department" [(ngModel)]="customer.department" name="department" id="department"
                required>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['department'].touched && addCustomerForm.controls['department'].hasError('required')">
                Please enter Department</div>
            </div>

            <div class="col-sm-3">
              <label class="required">Parent Customer</label><br>
              <select style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                [(ngModel)]="customer.isParent" formControlName="isParent" name="isParent" id="isParent"
                (ngModelChange)="checkTypeOfCustomer()">
                <option selected disabled value="null">--Select--</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

            <div class="col-sm-5" *ngIf="parentCustNotSelected==0">
              <label class="required">Select Parent Customer Name</label><br>
              <select style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize50"
                [(ngModel)]="customer.parentReference" formControlName="parentReference" name="parentReference"
                id="parentReference">
                <option value="null" disabled selected>--Select--</option>
                <option [ngValue]="customer1" *ngFor="let customer1 of parentCustNames">{{customer1}}</option>
              </select>
            </div>

            <br>
          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label>PAN No.</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Pan No" [(ngModel)]="customer.panNo" name="panno" id="panno" formControlName="panNo">
              <span data-tip="Pan card number must contain 10 characters (combination of digits and alphabets)"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.panNo.invalid && (addCustomerForm.controls.panNo.dirty || addCustomerForm.controls.panNo.touched)">
                Please enter valid PAN No</div>
            </div>

            <div class="col-sm-3">
              <label>Vendor Code</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="vendorcode"
                [(ngModel)]="customer.vendorCode" name="vendorcode" id="vendorcode" formControlName="vendorCode">
            </div>

            <div class="col-sm-5">
              <label>GST No</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize3" type="text"
                formControlName="gstNo1" name="gstno1" id="gstno1" title="Invalid GST Number.">
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15" type="text"
                formControlName="gstNo2" name="gstno2" id="gstno2" value="{{customer.panNo}}">
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize3" type="text"
                formControlName="gstNo3" name="gstno3" id="gstno3">

              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.gstNo1.invalid && (addCustomerForm.controls.gstNo1.dirty || addCustomerForm.controls.gstNo1.touched)"
                style="display: inline-block;">
                Please enter valid State code.</div>
              <div class="w3-panel w3-text-red" style="display: inline-block;"
                *ngIf="addCustomerForm.controls.gstNo2.invalid && (addCustomerForm.controls.gstNo2.dirty || addCustomerForm.controls.gstNo2.touched)">
                Please enter valid PAN No.</div>
              <div class="w3-panel w3-text-red" style="display: inline-block;"
              *ngIf="addCustomerForm.controls.gstNo3.invalid && (addCustomerForm.controls.gstNo3.dirty || addCustomerForm.controls.gstNo3.touched)">
                Please enter valid unique code</div>

            </div>
          </div>


          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="form-group Adjustspace col-sm-7">
              <label class="required">Email</label><br>
              <input style="display:inline-block;" type="email" class="form-control inputsmallsize30"
                placeholder="Email" [(ngModel)]="customer.email1" formControlName="email1" name="email1" id="email1">
              <span data-tip="Email must contain atleast one - '.' and one - '@' for example universal@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.email1.invalid && (addCustomerForm.controls.email1.dirty || addCustomerForm.controls.email1.touched)">
                Please enter valid email</div>
            </div>

            <div class="form-group Adjustspace col-sm-5">

              <label>Alternative Email</label><br>
              <input style="display:inline-block;" type="email" class="form-control inputsmallsize30"
                placeholder="Email" [(ngModel)]="customer.email2" formControlName="email2" name="email2" id="email2">
              <span data-tip="Email must contain atleast one - '.' and one - '@' for example universal@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.email2.invalid && (addCustomerForm.controls.email2.dirty || addCustomerForm.controls.email2.touched)">
                Please enter valid email</div>
            </div>
            <br>
          </div>



          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="form-group  col-sm-4">
              <label class="required">Mobile Number 1</label>
              <input type="tel" class="form-control inputsmallsize30 " [(ngModel)]="mobileNumber1"
                placeholder="Mobile number 1" formControlName="mobileNumber1" name="mobilenumber1" id="mobileNumber1">
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.mobileNumber1.invalid && (addCustomerForm.controls.mobileNumber1.dirty || addCustomerForm.controls.mobileNumber1.touched)">
                Please enter valid phone no</div>
            </div>

            <div class="form-group  col-sm-4">
              <label>Mobile Number 2</label>
              <input type="tel" class="form-control inputsmallsize30 " [(ngModel)]="mobileNumber2"
                placeholder="Mobile number 2" formControlName="mobileNumber2" name="mobilenumber2" id="mobileNumber2">
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.mobileNumber2.invalid && (addCustomerForm.controls.mobileNumber2.dirty || addCustomerForm.controls.mobileNumber2.touched)">
                Please enter valid phone no</div>

            </div>

            <div class="form-group  col-sm-4">
              <label>LandLine Number </label>
              <input type="tel" class="form-control inputsmallsize30" [(ngModel)]="customer.landlineNumber"
                placeholder="Mobile number 1" formControlName="landlineNumber" name="landlinenumber"
                id="landlinenumber">
            </div>

            <br>
          </div>


          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-7">
              <label class="required"> Address Line 1</label>
              <textarea class="w3-input form-control w3-border textboxareascrolling" [(ngModel)]="customer.addressLine1"
                name="addressline1" id="addressline1" formControlName="addressLine1" required></textarea>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['addressLine1'].touched && addCustomerForm.controls['addressLine1'].hasError('required')">
                Please enter address</div>
            </div>

            <div class="col-sm-5">
              <label>Address Line 2</label>
              <textarea class="w3-input form-control w3-border textboxareascrolling" type="text"
                [(ngModel)]="customer.addressLine2" name="addressline2" id="addressline2"
                formControlName="addressLine2"></textarea>
              <br>
            </div>

          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-3">
              <label class="required">Country</label>
              <div title="Please select the country that the customer will primarily be served from">
                <select class="w3-input form-control w3-border inputsmallsize15" placeholder="land"
                  (change)="changeCountry($event.target.value)" [(ngModel)]="customer.country" name="country"
                  id="country" formControlName="country" required>
                  <option *ngFor="let count of countryList">{{count.name}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="addCustomerForm.controls['country'].touched && addCustomerForm.controls['country'].hasError('required')">
                  Please select country</div>
              </div>
            </div>

            <div class="col-sm-3">
              <label class="required">State</label>
              <select class="w3-input form-control w3-border inputsmallsize15" placeholder="Anycity"
                [(ngModel)]="customer.state" name="state" id="state" formControlName="state" required>
                <option value="null" selected>--Select--</option>
                <option *ngFor="let state of states">{{state.nm}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['state'].touched && addCustomerForm.controls['state'].hasError('required')">
                Please select state</div>
            </div>


            <div class="col-sm-3">
              <label class="required"> City</label><br>
              <input class="w3-input form-control w3-border inputsmallsize15" style="display:inline-block;" type="text"
                placeholder="city" [(ngModel)]="customer.city" name="city" id="city" formControlName="city" required>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['city'].touched && addCustomerForm.controls['city'].hasError('required')">
                Please enter city</div>
            </div>

            <div class="col-sm-3">
              <label class="required">Pin</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="pin"
                [(ngModel)]="customer.pin" name="pin" id="pin" formControlName="pin"
                pattern="^[1-9]{1}[0-9]{2}\s{0,1}[0-9]{3}$" required>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls.pin.invalid && (addCustomerForm.controls.pin.dirty || addCustomerForm.controls.pin.touched)">
                Please enter pin</div>
             
            </div>
<br>
          </div>
          <br><br>
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-3">
              <label class="required">Region / Area Code</label><br>
              <select class="form-control inputsmallsize15" [(ngModel)]="customer.regionAreaCode" name="regionareacode"
                id="regionareacode" formControlName="regionAreaCodes" required>
                <option selected disabled value="null">--Select Region / Area Code--</option>
                <option [ngValue]="regionareacode" *ngFor="let regionareacode of arrayRegionAreaCodeName">
                  {{regionareacode}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['regionAreaCodes'].touched && addCustomerForm.controls['regionAreaCodes'].hasError('required')">
                Please select region code</div>
            </div>


            <div class="col-sm-3">
              <label class="required">Billing Credit Period</label>
              <select class="form-control inputsmallsize15" [(ngModel)]="customer.billingCreditPeriod"
                name="billingcreaditperiod" id="billingcreditperiod" formControlName="billCreditPeriod" required>
                <option selected disabled value="null">--Select Billing Credit Period--</option>
                <option [ngValue]="billingcreditperiod"
                  *ngFor="let billingcreditperiod of arrayBillingCreditPeriodName">
                  {{billingcreditperiod}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['billCreditPeriod'].touched && addCustomerForm.controls['billCreditPeriod'].hasError('required')">
                Please select Billing Credit Period</div>
            
            </div>

            <div class="col-sm-3">
              <label>Pass-Fail Remark</label>
              <select class="form-control inputsmallsize15" [(ngModel)]="customer.passFailRemark" name="passfailremark"
                id="passfailremark" formControlName="passFailRemark">
                <option selected value="0" disabled>--Select Remark--</option>
                <option value="1">Default Pass Fail Remark</option>
              </select>

            </div>

            <div class=" col-sm-3">
              <label class="required">Status</label>
              <select class="form-control inputsmallsize15" [(ngModel)]="customer.status" name="status" id="status"
                formControlName="status" required>
                <option selected="selected" value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addCustomerForm.controls['status'].touched && addCustomerForm.controls['status'].hasError('required')">
                Please select status</div>   
            </div>
            <br>
          </div>

         
          <div class="form-row spaceTopBottom" style="background-color:white;">
           
            <div class="col-sm-3">
              <label> Taxpayer Type:</label>
              <select class="form-control inputsmallsize15" [(ngModel)]="taxpayerTypeSelected" name="taxpayerType"
                id="taxpayerType" formControlName="taxpayerType" (ngModelChange)="taxpayerTypeValue($event)" required>  <!--(ngModelChange)="taxpayerTypeValue($event)"-->
                <option selected="selected" value="null">--Select Taxpayer Type--</option>          
                <option [ngValue]="taxpayerTypeName" *ngFor="let taxpayerTypeName of arrayTaxpayerTypeName">
                  {{taxpayerTypeName}}</option>
              </select>
            </div>
            <div class="col-sm-9 spaceright" *ngIf="displaySezNote==1">
              <label>SEZ Note</label>
              <textarea class="w3-input form-control w3-border  textboxarea" type="text" [(ngModel)]="customer.sezNote"
                name="seznote" id="seznote" formControlName="sezNote"></textarea>

            </div>
          </div>



          <!-- <div class="form-row spaceTopBottom" style="background-color:white;">


   
               <div class="col-sm-6">
                 <label>SEZ Note</label>
                 <textarea class="w3-input form-control w3-border  textboxarea" type="text" [(ngModel)]="customer.sezNote"
                   name="seznote" id="seznote" formControlName="sezNote"></textarea>
   
               </div>

               <div class="col-sm-6">
                <label>Taxes</label><br>
                <div class="col-sm-9" id="containerId" *ngIf="taxesDisplay==1">
                  <label formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
                    <input type="checkbox" [formControlName]="i">
                    {{taxesData[i].name}} &nbsp;&nbsp;
                  </label>
                
                <input type="hidden" formControlName="taxes">
    
    
                </div>
               </div>

               <br>
             </div>
   
             <br>
            
          <br>

 -->





          <div class="form-row spaceTopBottom" style="background-color:white;"> <br><br> <br>
            <div class="col-sm-3">
              <label> Calibrated Certificate Settings:</label>
            </div>
            <div class="col-sm-9 spaceright">
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.calibratedProcedure" name="calibratedprocedure" id="calibratedprocedure"
                formControlName="calibratedProcedure" value="1">Calibrated Procedure<br>
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.referencedUsed" name="referencedused" id="referencedused"
                formControlName="referencedUsed" value="1">Reference used : &nbsp;&nbsp;
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.expandedUncertainty" name="expandeduncertainty" id="expandeduncertainty"
                formControlName="expandedUncertainty" value="1">Expanded Uncertainty &nbsp;
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.note" name="note" id="note" formControlName="note" value="1">Note &nbsp;
              <!-- <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.lut" name="lut" id="lut" formControlName="lut" value="1">LUT &nbsp;
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.sez" name="sez" id="sez" formControlName="sez" value="1">SEZ &nbsp; -->
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.masterlhs" name="masterlhs" id="masterlhs" formControlName="masterlhs"
                value="1">Master LHS &nbsp;
              <input style="display:inline-block;" class="form-control checkboxsize" type="checkbox"
                [(ngModel)]="customer.uuclhs" name="uuclhs" id="uuclhs" formControlName="uuclhs" value="1">UUC LHS <br>
              Parent Customer : &nbsp;<input style="display:inline-block;" class="form-control checkboxsize"
                type="checkbox" [(ngModel)]="customer.parentCustomer" name="parentcustomer" id="parentcustomer"
                formControlName="parentCustomer" value="1">&nbsp;&nbsp;&nbsp;&nbsp;
              Custom Fields :&nbsp;<input style="display:inline-block;" class="form-control checkboxsize"
                type="checkbox" [(ngModel)]="customer.customFields" name="customfields" id="customfields"
                formControlName="customFields" value="1">
            </div>
          </div>

          <br>
          
          <!-- <div class="form-row spaceTopBottom" style="background-color:white;">
            <a id="openModalButton1" class="a1" data-toggle="modal" data-target="#openModal1"
              (click)="openModal1()">Manage Customer Contact List</a>
            <a id="openModalButton2" class="a1 spacelefta" data-toggle="modal" data-target="#openModal2"
              (click)="openModal2()">View/Upload Documents</a>
          </div> -->



          <div class="form-row col-sm-12 ">
            <label class="w3-text-red">* indicates required fields.</label>
          </div>
        </div>

        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080;" type="submit"
            [disabled]="!addCustomerForm.valid">Create</button>
        </div>

      </form>
    </div>
  </div>


  <DIV>.</DIV>


  <div class="select">

    <input type="hidden" id="country1" name="country1" [(ngModel)]="trialp1" />
    <input type="hidden" id="country2" name="country2" [(ngModel)]="trialp2" />
  </div>



  <!----------------------------------------------- Code for Manage Customer Contact List --------------------------------------------------------------------------------------------------------->

  <div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="popup1">
          <div class="right">
            <button type="button" data-dismiss="modal"><i class="fa fa-close"
                style="font-size:28px;color:red"></i></button>
          </div>

          <div style="background-color:white">
            <div class="w3-lobster container-fluid mt-3 w3-container  align-center1 w3-card register-card1 "
              style="background-color: white;">

              <div style="text-align:center;">
                <label style="font-size: 30px;"> Customer Contact List {{customerNameForContactList}}</label>
              </div>

              <div class="flex-parent jc-center ">

              </div>
              <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">


                <div class="adjusttable" id="tab">
                  <table class="table" id="tblMultileads">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="center">Person Name</th>
                        <th>Department</th>
                        <th>Job Title</th>
                        <th>Mobile Number 1</th>
                        <th>Mobile Number 2</th>
                        <th>Phone/EXT.</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Save</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyLeads">

                      <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                        <td> <span><i class=" w3-medium custom-icon fa fa-trash" (click)="DeleteRow(i)"></i></span>
                        </td>
                        <td><input type="text" class="form-control inputsmallsize15" [(ngModel)]="dynamicArray[i].name">
                        </td>

                        <td>
                          <input list="instruname" type="text" class="w3-input form-control w3-border inputsmallsize15"
                            name="instruname" [(ngModel)]="dynamicArray[i].custDepartment" required>
                          <datalist id="instruname" required>
                            <option>Default Customer Department</option>
                          </datalist>
                        </td>

                        <td><input type="text" class="form-control inputsmallsize15"
                            [(ngModel)]="dynamicArray[i].jobTitle">
                        </td>

                        <td><input type="text" class="form-control inputsmallsize15"
                            [(ngModel)]="dynamicArray[i].mobileNo1">
                        </td>

                        <td><input type="text" class="form-control inputsmallsize15"
                            [(ngModel)]="dynamicArray[i].mobileNo2">
                        </td>

                        <td><input type="text" class="form-control inputsmallsize15"
                            [(ngModel)]="dynamicArray[i].phoneNo">
                        </td>

                        <td><input type="text" class="form-control inputsmallsize15"
                            [(ngModel)]="dynamicArray[i].email">
                        </td>

                        <td><select class="form-control inputsmallsize7" [(ngModel)]="dynamicArray[i].status">
                            <option>Active</option>
                            <option>Inactive</option>
                          </select>
                        </td>

                        <td><button class="w3-btn box-2 btn btn-one margin-right button1  button11"
                            style="background-color: #008080; width:35px; height:25px;"
                            (click)="onSave(i)">save</button><br>
                        </td>

                      </tr>

                    </tbody>

                  </table>
                </div>
                <div>
                  <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint adjusttable"
                    style="background-color: #008080; width:50px; height:40px;" (click)="AddRow()"> Add</button>

                </div>



              </div>
            </div>
            <div>.</div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!----------------------------------------------- Code for Customer Attachments --------------------------------------------------------------------------------------------------------->

  <div id="openModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="popup1">
          <div class="right">
            <button type="button" data-dismiss="modal"><i class="fa fa-close"
                style="font-size:28px;color:red"></i></button>
          </div>

          <div style="background-color:white">
            <div class="w3-lobster container-fluid mt-3 w3-container  align-center1 w3-card register-card1 "
              style="background-color: white;">

              <div style="text-align:center;">
                <label style="font-size: 30px;"> Customer Attachments</label>
              </div>

              <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

                <div class="adjusttable1">
                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">Type</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control inputsmallsize30 adjusttable" [(ngModel)]="docType" name="docType"
                        id="docType" required>
                        <option value="null" disabled selected>--Select Document Type--</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">Document Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control inputsmallsize30 adjusttable" [(ngModel)]="docName"
                        name="docName" id="docName" required>


                    </div>
                  </div>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">Document Number</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control inputsmallsize30 adjusttable" [(ngModel)]="docNumber"
                        name="docNumber" id="docNumber" required>
                    </div>
                  </div>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">File</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control inputsmallsize30 adjusttable" [(ngModel)]="fileUpload"
                        name="fileUpload" id="fileUpload" required>
                    </div>
                  </div>

                  <div class="adjusttable" id="tab">
                    <table class="table" id="tblMultileads">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="center">Type</th>
                          <th>Document Name</th>
                          <th>Document Number</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyLeads">

                        <tr *ngIf="custAttch == 0">
                          <td width="100%" colspan="4"><span> No Attchments uploaded yet.</span></td>
                        </tr>

                        <tr *ngFor="let dynamic of custAttch; let i = index;">

                        </tr>

                      </tbody>

                    </table>
                  </div>

                </div>
              </div>
            </div>
            <div>.</div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div>.</div>


<div class="select">
  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialPhoneNumber1" />
  <input type="hidden" id="country2" name="country2" [(ngModel)]="trialPhoneNumber1" />
</div>
