<div>
  <div>

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UNC PARAMETER DETAILS</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterSpecificationForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
                Specification Details
              </label>
            </div>

            <div class="form-row " style="background-color:white;">
              <div class="form-row  adjusttable" style="background-color:white;">
                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <table class="w3-table  w3-bordered">
                    <thead>
                      <tr>
                        <th style="text-align:center;">SOURSE OF UNCERTAINTY</th>
                        <th style="text-align:center;">PROBABILITY DISTRIBUTION</th>
                        <th style="text-align:center;">TYPE</th>
                        <th style="text-align:center;">DIVIDING FACTOR</th>
                        <th style="text-align:center;">SENSITIVITY COEFFICIENT</th>
                        <th style="text-align:center;">VALUE FOR ESTIMATE</th>
                        <th style="text-align:center;">PERCENTAGE FOR ESTIMATE</th>
                        <th style="text-align:center;">DEGREE OF FREEDOM</th>
                        <th style="text-align:center;">MASTER TYPE</th>
                        <th style="text-align:center;">MASTER NUMBER</th>
                        <th>SAVE</th>
                        <th>DELETE</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="Rows">
                      <tr
                        *ngFor="let itemrow of  createMasterSpecificationForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                        [formGroupName]="fieldGlobalIndex(i)">


                        <td>
                          <!-- <select class="w3-input form-control w3-border inputsmallsize30" formControlName="uncMasterType">
                              <option [value]="uncMasterTypeName1" *ngFor="let uncMasterTypeName1 of uncMasterTypeName">{{uncMasterTypeName1}}
                              </option>
                            </select> -->
                          <select class="w3-input form-control w3-border inputsmallsize30"
                            formControlName="sourceOfUncertainity">
                            <option [value]="uncSourceOfUncertaintyName1"
                              *ngFor="let uncSourceOfUncertaintyName1 of uncSourceOfUncertaintyName">
                              {{uncSourceOfUncertaintyName1}}
                            </option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize9"
                            formControlName="probabiltyDistribution">
                            <option [value]="uncProbabilityDistributionName1"
                              *ngFor="let uncProbabilityDistributionName1 of uncProbabilityDistributionName">
                              {{uncProbabilityDistributionName1}}
                            </option>
                          </select>

                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize15" formControlName="type">
                            <option [value]="uncTypeName1" *ngFor="let uncTypeName1 of uncTypeNameArray">
                              {{uncTypeName1}}
                            </option>
                          </select>
                        </td>


                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="dividingFactor">
                            <option [value]="uncDividingFactorName1"
                              *ngFor="let uncDividingFactorName1 of uncDividingFactorName">{{uncDividingFactorName1}}
                            </option>
                          </select>
                        </td>

                        <td>
                          <input class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="sensitivityCoefficient" type="text" name="parameter" id="parameter"
                            size="10">

                          <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('sensitivityCoefficient').invalid && (itemrow.get('sensitivityCoefficient').dirty || itemrow.get('sensitivityCoefficient').touched)">
                            Enter valid value For Sensitivity Coefficient</div>

                            <!-- <div class="w3-panel w3-text-red"
                            *ngIf="CreateUOMcalculatorform.controls['status'].touched && CreateUOMcalculatorform.controls['status'].hasError('required')">
                            Please select status</div> -->

                        </td>

                        <td>
                          <input class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="valueForEstimate" type="text" name="parameter" id="parameter" size="10">

                          <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('valueForEstimate').invalid && (itemrow.get('valueForEstimate').dirty || itemrow.get('valueForEstimate').touched)">
                            Enter valid value For Estimate</div>
                        </td>

                        <td style="width: 20%;">
                          <label style="display: inline-block;">Ag:</label>&nbsp;
                          <input style="display: inline-block;" class="w3-input form-control w3-border inputsmallsize4"
                            formControlName="percentageForEstimateAg" type="text" name="parameter" id="parameter">

                          <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('percentageForEstimateAg').invalid && (itemrow.get('percentageForEstimateAg').dirty || itemrow.get('percentageForEstimateAg').touched)">
                            Enter valid value For percentage for Estimate Ag</div>

                          <label style="display: inline-block;">Dg:</label>&nbsp;
                          <input style="display: inline-block;" class="w3-input form-control w3-border inputsmallsize4"
                            formControlName="percentageForEstimateDg" type="text" name="parameter" id="parameter">

                          <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('percentageForEstimateDg').invalid && (itemrow.get('percentageForEstimateDg').dirty || itemrow.get('percentageForEstimateDg').touched)">
                            Enter valid value For percentage for Estimate Dg</div>

                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="degreeOfFreedom">
                            <option [value]="uncDegreeOfFreedomName1"
                              *ngFor="let uncDegreeOfFreedomName1 of uncDegreeOfFreedomName">{{uncDegreeOfFreedomName1}}
                            </option>
                          </select>
                        </td>


                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7" formControlName="masterType">
                            <option [value]="uncMasterTypeName1" *ngFor="let uncMasterTypeName1 of uncMasterTypeName">
                              {{uncMasterTypeName1}}
                            </option>
                          </select>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize7"
                            formControlName="masterNumber">
                            <option [value]="uncMasterNumberName1"
                              *ngFor="let uncMasterNumberName1 of uncMasterNumberName">{{uncMasterNumberName1}}
                            </option>
                          </select>
                        </td>

                        <td>
                          <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                            style="width:50px; height:30px;" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                        </td>

                        <td>
                          <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)"></i></span>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <br>
                  <div style="color:red;" id="trial"></div>
                  <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                  <label>Items per page:
                    <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                      formControlName="itemsPerPage">
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>

              </div>

              <div class="form-row " style="background-color:white;">
                <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                  (click)="addNewRow()">Add </button>
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
