

a{
  color:blue;
}

.noborder {
  border: none;
  border: 1px solid white;
}

.textboxareascrolling1 {
  width: 595px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.lessspace2 {
  resize: both;
  overflow: auto;
}

::placeholder {
  color: #070403;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
  text-decoration: underline;
  opacity: 1 !important;
}


#cross:hover i

/* when link is hovered select i */
  {
  /* when icon is hovered select i */
  visibility: visible;
}

#cross i {
  /* in all other case hide it */
  visibility: hidden;
}


.hiddentext {
  position: absolute;
  top: 120px;
  left: 250px;
  z-index: 0;
}


.centerstyle {
  margin-left: 35%;
}


.boxforcheck {
  width: 50px;
  height: 20px;
  border: 1px solid #000;
}



.divincenter {
  width: 75%;
  float: left;
  text-align: right;
}


.divincenter1 {
  width: 25%;
  float: left;
  text-align: right;
}

.textcenter {
  width: 100%;
  float: left;
  text-align: center;
}

.textcenter1 {
  color: #000;
  font-size: 89%
}

.lessspace {
  width: 50px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

::placeholder {
  color: black;
}


.inp {

  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: none;
  border-width: 0 0 2px;
  height: 15px;

}

.inp:focus {
  border-color: green
}

.inputsmallsize1 {
  width: 10px;
  border: 1px solid white;
}


.textboxarea1 {
  width: 350px;
  height: 80px;

}

.upload-button {
  margin-left: 70px;
}

.Quotfile {
  margin-left: 70px;
}

/* h6 {
  font-size: 15px;
} */

.inputsmallsize2 {
  width: 20px;
}

.inputsmallsize3 {
  width: 25px;
}

.inputsmallsize4 {
  width: 50px;
}

.inputsmallsize5 {
  width: 70px;
}

.inputsmallsize6 {
  width: 75px;
}

.inputsmallsize7 {
  width: 90px;
}

.inputsmallsize15 {
  width: 185px;
}

.inputsmallsize25 {
  width: 165px;
}

.justtrial {
  width: 50px;
  height: 10px;
}

.inputsmallsize30 {
  width: 280px;
}

.inputsmallsize50 {
  width: 350px;
}



.textboxareascrolling {
  width: 910px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.textboxarea {
  width: 378px;
  height: 80px;
}

.align-center {

  width: 90%;
  margin: auto;
}

.register-card {
  margin-top: 2%;
  border-radius: 10px;
  padding-bottom: 0px;

}

.w3-lobster {
  font-family: "calibri";
}

.space {
  padding-top: 13px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 45px;

}

.spacetopfortr {
  padding-top: 13px;
}

.spaceTopBottom {
  padding-top: 23px;
  padding-bottom: 55px;
}

.spaceleft {
  padding-left: 0px;
}

.spaceRight {
  margin-right: -920%;
}

.Adjustspaceleft {
  padding-left: 130px;
}

.adjusttable {
  margin-bottom: 5px;

}


.Adjustspace {
  padding-right: 2%;
}

.adjustleft {
  padding-left: 0px;
}

.spaceTop {
  padding-top: 23px;
}


.add {
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 23px;
  background-color: lightblue;
}

.centercard {
  margin-left: 25%;
  margin-right: 25%;
}

.centeralign {
  margin-left: 65px;
}

.centeralign1 {
  margin-left: 62px;
}


.leftspaceforcustomer {
  margin-left: 20px;

}

.right {
  text-align: right;
}

.textcenter {
  text-align: center;
  font-size: 20px;
}

.div1_trial {
  resize: both;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
  border: 0px solid grey;
  display: block;

}

table {
  font-family: 'calibri';
  border-collapse: collapse;

  width: 100%;
}

tr {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
  overflow: auto;

}

.td1 {
  width: 460px;
}

.td2 {
  width: 460px;
}

.fulllengthtd {
  width: 760px;
}

.noborderright {
  border-right: 0px solid white;
  border-right-style: none;
}

.noborderleft {
  border-left: 0px solid white;
  border-right-style: none;
  border-left-style: none;
}

.noborderup {
  border-top-style: none;
  border-top: none;
}

.noborderbottom {
  border-bottom-style: none;
  border-bottom: none;
}


.rowitem {
  max-height: 30em;
  padding: 15px 0;
  overflow: hidden;
}

th {
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);
}

.bg-primary {
  color: #ffffff;
  ;
  background-color: #caeaf7;
  ;
  margin-left: 25%;
  margin-right: 25%;
}

.button {
  font-size: 15px;
  padding: 10px;
  background-color: #008080;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
  background-color: #008080;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'calibri';
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}




/************************** Button CSS ********************************************************/


/* ...trial css animation......*/

.box-1 {
  background-color: #008080;
  height: 40px;
  width: 100px;
}

.btn {
  line-height: 20px;
  height: 3em;
  text-align: center;

  width: 130px;
  cursor: pointer;
  font-size: 15px;
  background-color: #d9534f;

}

.flex-parent {
  display: flex;
  margin-bottom: 1%;

}

.jc-center {
  justify-content: center;
  margin-bottom: 1%;
}

button.margin-right {
  margin-right: 2px;
}

/* 
      ========================
            BUTTON ONE
      ========================
      */

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;

}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(27, 25, 25, 0.5);
  border-bottom-color: rgba(29, 27, 27, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 15;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(14, 13, 13, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 10);
}


@media screen and (max-width: 500px) {


  .divincenter {
    width: 65%;
    float: left;
    text-align: center;
  }


  .divincenter1 {
    width: 35%;
    float: left;
    text-align: right;
  }

  .textcenter {
    width: 78%;
    text-align: left;
  }

  .textcenter1 {


    float: left;
    text-align: center;
    color: #000;
    font-size: 86%
  }




  /* h6 {
    font-size: 13px;
  } */

  .box {
    width: 70%;

  }

  .popup {
    width: 70%;
  }

  .centercard {
    width: 70%;
    margin-left: 15%;
  }

  .register-card {
    height: auto;
  }

  .spaceTopBottom {

    margin-bottom: -25%;
  }

  .inputsmallsize15 {
    width: 93%;
  }

  .inputsmallsize30 {
    width: 93%;
  }

  .inputsmallsize45 {
    width: 93%;
  }

  .textboxareascrolling {
    width: 95%;
    height: 80px;
    overflow-y: scroll;
  }

  .centeralign {
    margin-left: 2px;
  }

  .centeralign1 {
    margin-left: 2px;
  }

  .spaceleft {
    padding-left: 0px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustleft {
    padding-left: -90px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustlabel {
    margin-left: -18px;
    display: inline;
  }

  .adjustlabel2 {
    margin-left: 15px;
    margin-right: -1002px;
  }

  .adjusttable {
    margin-bottom: 15px;

  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .adjusttable {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -18px;
  }

  th,
  td {
    text-align: left;
    width: 50%;
  }

  .mobiletdview {
    width: 360px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .upload-button {
    margin-left: 0px;
  }

  .Quotfile {
    margin-left: 0px;
  }

  .spacetopforbutton {
    margin-top: 3px;
  }

  .space {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

  }

  .buttoncss {
    height: 3em;
    width: 300px;

  }



}


@media screen and (min-width: 501px) and (max-width: 1000px) {


  .divincenter {
    width: 67%;
    float: left;
    text-align: center;
  }


  .divincenter1 {
    width: 33%;
    float: left;
    text-align: right;
  }

  .textcenter {
    width: 88%;
    text-align: left;
  }

  .textcenter1 {

    text-align: center;
    float: left;
    color: #000;
    font-size: 86%
  }



  .buttoncss {
    height: 3em;
  }


  .box {
    width: 70%;

  }

  .popup {
    width: 70%;
  }

  .centercard {
    width: 70%;
    margin-left: 15%;
  }

  .register-card {
    height: auto;
  }

  .spaceTopBottom {

    margin-bottom: -25%;
  }

  .inputsmallsize15 {
    width: 55%;
  }

  .inputsmallsize30 {
    width: 85%;
  }

  .inputsmallsize45 {
    width: 155%;
  }

  .textboxareascrolling {
    width: 159%;
    height: 80px;
    overflow-y: scroll;
  }

  .centeralign {
    margin-left: 2px;
  }

  .centeralign1 {
    margin-left: 2px;
    font-size: 14px;
  }

  .spaceleft {
    padding-left: 0px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustleft {
    padding-left: -90px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustlabel {
    margin-left: -18px;
    display: inline;
  }

  .adjustlabel2 {
    margin-left: 15px;
    margin-right: -1002px;
  }

  .adjusttable {
    margin-bottom: 15px;
  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .adjusttable {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -18px;
  }

  th,
  td {
    text-align: left;

    width: 50%;


  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .upload-button {
    margin-left: 0px;
  }

  .Quotfile {
    margin-left: 0px;
  }

  .spacetopforbutton {
    margin-top: 3px;
  }
}


/*********************************************** trial adjusting **************************************************/



* {
  margin: 0px;
  padding: 0px
}


.media1140px,
.media768px,
.media480px,
.media300px {
  padding: 10px;
}

p {
  margin: 0 0 0px 0;
}

/* middle section end */

.backgroundfordiv {
  background-color: #008080;
}

.required:after {
  content: " *";
  color: red;
}


/*****************************************************************************/


input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

::placeholder {
  color: black;
}

.widthofremove {
  width: 110px;
}


/************************** hide column *************************/

.btn-condensed.btn-condensed {
  padding: 0 5px;
  box-shadow: none;
}


/* use class to have a little animation */
.hide-col {
  width: 0px !important;
  height: 0px !important;
  display: block !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

/***************  for discount field ****************************/


table#tblResult {
  clear: both;
  border-collapse: collapse;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

table#tblResult th,
table#tblResult td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  background: #fff;
}

/*************************** trial *************/

td.triangle {
  position: relative;
  width: 100px;
  height: 100px;
}

td.triangle .div2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 30px;
  background: red;
}

td.triangle .div1 {
  position: absolute;
  right: 0;
  top: 1;
  width: 100px;
  height: 30px;
  background: yellow;
}


/********************************** print ******************************/

@media print {

  @page {
    margin: 0;
  }

  body {
    display: none;
  }
}

@media print {
  .printMe {
    position: fixed;
    visibility: visible
  }
}


@media print {

  .printMe {
    visibility: visible;
  }

  .noprint {
    visibility: hidden;
  }

}



/**************************** Css for manage-footer***************************************/
p {
  font-family: Lato;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.show {
  opacity: 1;
}

.modal {
  z-index: 1072;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}


.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}



.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


.modal-footer> :not(:first-child) {
  margin-left: 0.25rem;
}

.modal-footer> :not(:last-child) {
  margin-right: 0.25rem;
}

/* ========= */

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: 0.2rem 0 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.popup2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.inputsmallsizeForBranch {
  width: 45px;
}

/* POP UP */
.popup {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 50%;
  transition: all 2s ease-in-out;
}

.popup-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}

@media (max-width: 320px) {
  .popup {
    top: 27% !important;
  }
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.cancel-btn {
  float: right;
  margin: 11px 20px 0 0;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #e40000;
}

.popup .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup .content p a {
  color: #e40000;
  text-decoration: none;
}

.webkit-square {
  -webkit-text-security: square !important;
  letter-spacing: 8px;
}

.done-btn {
  max-width: 100px !important;
}

.resend-code {
  position: absolute;
  right: 0;
  padding: 0;
  font-size: 14px;
  top: 24px;
  color: #e40000;
  font-weight: 500;
  text-decoration: none !important;
}

/* POP UP1 */
.popup1 {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 70%;
  transition: all 2s ease-in-out;
}

.popup1-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup1 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}

@media (max-width: 320px) {
  .popup1 {
    top: 27% !important;
  }
}

.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

.popup1-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup1-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.cancel-btn {
  float: right;
  margin: 11px 20px 0 0;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #e40000;
}

.popup1 .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup1 .content p a {
  color: #e40000;
  text-decoration: none;
}

.webkit-square {
  -webkit-text-security: square !important;
  letter-spacing: 8px;
}

.done-btn {
  max-width: 100px !important;
}

.resend-code {
  position: absolute;
  right: 0;
  padding: 0;
  font-size: 14px;
  top: 24px;
  color: #e40000;
  font-weight: 500;
  text-decoration: none !important;
}

/* POP UP2 */
.popup2 {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 5 0%;
  transition: all 2s ease-in-out;
}

.popup2-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup2 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}


.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

.popup2-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup2-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.popup2 .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup2 .content p a {
  color: #e40000;
  text-decoration: none;
}
/* POP UP12 */
.popup12 {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 50%;
  transition: all 2s ease-in-out;
}

.popup12-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup12 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}

.popup12 .content {
  max-height: 30%;
  overflow: auto;
}

.popup12-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup12-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
.popup12 .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup12 .content p a {
  color: #e40000;
  text-decoration: none;
}


@media (max-width: 320px) {
  .popup2 {
    top: 27% !important;
  }
}
@media (max-width: 320px) {
  .popup12 {
    top: 27% !important;
  }
}



.cance2-btn {
  float: right;
  margin: 11px 20px 0 0;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #e40000;
}

.popup2 .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup2 .content p a {
  color: #e40000;
  text-decoration: none;
}

.webkit-square {
  -webkit-text-security: square !important;
  letter-spacing: 8px;
}

.done-btn {
  max-width: 100px !important;
}

.resend-code {
  position: absolute;
  right: 0;
  padding: 0;
  font-size: 14px;
  top: 24px;
  color: #e40000;
  font-weight: 500;
  text-decoration: none !important;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap>textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */


  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid rgb(156, 152, 152);
  padding: 0.5rem;
  font: inherit;
  width: 150px;
  word-wrap: break-word;
  /* Place on top of each other */
  grid-area: 1 / 1;
}
#btnUpdate{
  background-color: #5cb85c;
}
