<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Search and Modify Definition</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchDefinitionForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-6">
              <div class="input-icons">
                <label class="SearchDefinition">Search Definition</label>
                <input class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                  placeholder=" &#61442; Search Definition" formControlName="searchDefinitionValue" [(ngModel)]="searchDefinitionValue"
                  required>
                  <div class="w3-panel w3-text-red"
                  *ngIf="SearchDefinitionForm.controls.searchDefinitionValue.invalid && (SearchDefinitionForm.controls.searchDefinitionValue.dirty || SearchDefinitionForm.controls.searchDefinitionValue.touched)">
                  please enter minimum 3 characters to search</div>
              </div>
            </div>



            <div class="col-sm-6">
              &emsp;&emsp;&emsp;&emsp;
              <label style="display:inline-block;" class="adjustlabel">Active</label>&emsp;&emsp;&emsp;
              <label style="display:inline-block;" class="adjustlabel2">Inactive</label><br> &emsp;&emsp;&emsp;&emsp;
              <input style="display:inline-block;" class="radio" type="radio" name="status" value="1" checked
                formControlName="status" [(ngModel)]="status">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
              <input style="display:inline-block;" class="radio1" type="radio" name="status" value="0" 
                formControlName="status" [(ngModel)]="status">
            </div>
<br>
          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">
          <div class="col-sm-12"> 
            <button class="w3-btn box-1 btn btn-one marginForSearchButton" style="background-color: #008080" type="button"
            (click)="searchData()">Search</button>
          </div> 
          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th style="text-align:center ;"> Name</th>
                <th style="text-align:center ;">TYPE</th>
                <th style="text-align:center ;"> CATEGORY</th>
                <th style="text-align:center ;"> STATUS</th>
              </tr>
           

                 <tr *ngIf="definitionDataArray == 0">
                <td width="100%" colspan="4">
                  <span>Enter Criteria to search definition(s).</span>
                </td>
              </tr>

                <tr *ngFor="let definition of definitionDataArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">
                  <td style="text-align:center;"><a class="a1"><span (click)="moveToUpdateDefinitionScreen($event)">{{definition[0]}}</span></a></td>
                  <td style="text-align:center;">{{definition[1]}}</td>
                  <td style="text-align:center;">{{definition[2]}}</td>
                  <td style="text-align:center;">{{definition[3]}}</td>
                </tr>

            
            </table>

            <br>
            <div style="color:red;" id="trial"></div>
            <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
            <label>Items per page:
              <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>
          </div>


        </div>


      </form>
    </div>
  </div>
</div>
