<div >
  <div >
  
      <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Master Instrument Details</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterInstrumentDetailsForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);"> Master Instrument Details</label><br>
            </div>
            <br>
            <div class="form-row spaceTopBottom" style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">ID No.</label>
                <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="ID No."
                  formControlName="idNo" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['idNo'].touched && createMasterInstrumentDetailsForm.controls['idNo'].hasError('required')">
                  Please enter ID No.</div>
              </div>

              <div class="col-sm-3 adjustleft">
                <label class="required">Master Name</label>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" placeholder="Master Name" formControlName="masterName" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['masterName'].touched && createMasterInstrumentDetailsForm.controls['masterName'].hasError('required')">
                  Please enter Master Name</div>
              </div>

              <div class="col-sm-2 spaceleft1">
                <label class="required">Master Type</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="masterType" required
                  name="masterType" id="masterType">
                  <option [ngValue]="masterTypeName"
                  *ngFor="let masterTypeName of arrayOfMasterTypeName">
                  {{masterTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['masterType'].touched && createMasterInstrumentDetailsForm.controls['masterType'].hasError('required')">
                  Please select Master Type</div>
              </div>
 
              <div class="col-sm-2 spaceleft1">
                <label class="required">Instrument Type</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="instrumentType"
                  name="instrumentType" id="instrumentType" required>
                  <option [ngValue]="instrumentTypeName"
                  *ngFor="let instrumentTypeName of arrayOfInstrumentTypeName">
                  {{instrumentTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['instrumentType'].touched && createMasterInstrumentDetailsForm.controls['instrumentType'].hasError('required')">
                  Please select Instrument Type </div>
              </div>

              <div class="col-sm-2 spaceleft">
                <label class="required">Range Type</label> 
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="rangeType" required
                  name="rangeType" id="rangeType">
                  <option [ngValue]="rangeTypeName"
                  *ngFor="let rangeTypeName of arrayOfRangeTypeName">
                  {{rangeTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['rangeType'].touched && createMasterInstrumentDetailsForm.controls['rangeType'].hasError('required')">
                  Please select Range Type</div>
              </div>

            </div>
            <br>

            <div class="form-row spaceTopBottom" style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">Serial No.</label>
                <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Serial No"
                  formControlName="serialNo" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['serialNo'].touched && createMasterInstrumentDetailsForm.controls['serialNo'].hasError('required')">
                  Please enter Serial No</div>
              </div>

              <div class="col-sm-3 spaceleft">
                <label class="required">Model</label><br>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" placeholder="Model" formControlName="model" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['model'].touched && createMasterInstrumentDetailsForm.controls['model'].hasError('required')">
                  Please enter Purchased From</div>
              </div>

              <div class="col-sm-2 spaceleft1">
                <label class="required">Branch</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="branch" required>
                  <option [ngValue]="branchName"
                  *ngFor="let branchName of arrayOfBranchName">
                  {{branchName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['branch'].touched && createMasterInstrumentDetailsForm.controls['branch'].hasError('required')">
                  Please select Branch</div>
              </div>

              <div class="col-sm-2 spaceleft1">
                <label class="required">Calibration Lab</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="calibrationLab"
                  name="calibrationLaboratory" id="calibrationLaboratory" required>
                  <option [ngValue]="calibrationLabTypeName"
                  *ngFor="let calibrationLabTypeName of arrayOfCalibrationLabTypeName">
                  {{calibrationLabTypeName}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['calibrationLab'].touched && createMasterInstrumentDetailsForm.controls['calibrationLab'].hasError('required')">
                  Please select Calibration Lab </div>

              </div>

              <div class="col-sm-2 spaceleft">
                <label class="required">Calibration Frequency</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="calibrationFrequency"
                  name="calibrationFrequency" id="calibrationFrequency" required>
                  <option selected disabled value="null">---Select---</option>
                  <option value="1">1 Months</option>
                  <option value="2">2 Months</option>
                  <option value="3">3 Months</option>
                  <option value="4">4 Months</option>
                  <option value="5">5 Months</option>
                  <option value="6">6 Months</option>
                  <option value="7">7 Months</option>
                  <option value="8">8 Months</option>
                  <option value="9">9 Months</option>
                  <option value="10">10 Months</option>
                  <option value="11">11 Months</option>
                  <option value="12">12 Months</option>
                  <option value="13">13 Months</option>
                  <option value="14">14 Months</option>
                  <option value="15">15 Months</option>
                  <option value="16">16 Months</option>
                  <option value="17">17 Months</option>
                  <option value="18">18 Months</option>
                  <option value="19">19 Months</option>
                  <option value="20">20 Months</option>
                  <option value="21">21 Months</option>
                  <option value="22">22 Months</option>
                  <option value="23">23 Months</option>
                  <option value="24">24 Months</option>
                  <option value="25">25 Months</option>
                  <option value="26">26 Months</option>
                  <option value="27">27 Months</option>
                  <option value="28">28 Months</option>
                  <option value="29">29 Months</option>
                  <option value="30">30 Months</option>
                  <option value="31">31 Months</option>
                  <option value="32">32 Months</option>
                  <option value="33">33 Months</option>
                  <option value="34">34 Months</option>
                  <option value="35">35 Months</option>
                  <option value="36">36 Months</option>
                  <option value="37">37 Months</option>
                  <option value="38">38 Months</option>
                  <option value="39">39 Months</option>
                  <option value="40">40 Months</option>
                  <option value="41">41 Months</option>
                  <option value="42">42 Months</option>
                  <option value="43">43 Months</option>
                  <option value="44">44 Months</option>
                  <option value="45">45 Months</option>
                  <option value="46">46 Months</option>
                  <option value="47">47 Months</option>
                  <option value="48">48 Months</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['calibrationFrequency'].touched && createMasterInstrumentDetailsForm.controls['calibrationFrequency'].hasError('required')">
                  Please select Calibration Frequency</div>
              </div>

            </div>
            <br>


            <div class="form-row spaceTopBottom " style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">Make</label><br>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" placeholder="Make" formControlName="make" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['make'].touched && createMasterInstrumentDetailsForm.controls['make'].hasError('required')">
                  Please enter Make</div>

              </div>

              <div class="col-sm-3 spaceleft">
                <label>Person Holding</label>
                <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Person Holding"
                  formControlName="personHolding">
              </div>

              <div class="col-sm-2 spaceleft1">
                <label class="required">Reading Overloading</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="readingOverloading"
                  required>
                  <option selected disabled value="null">--Select--</option>
                  <option value=1>Yes</option>
                  <option value=0>No</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['readingOverloading'].touched && createMasterInstrumentDetailsForm.controls['readingOverloading'].hasError('required')">
                  Please select Reading Overloading</div>
              </div>


              <div class="col-sm-2 adjustleft">
                <label>Status</label>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status">
                  <option selected value="Draft">Draft</option>
                  <option value="Submitted">Submitted</option>
                  <option value="Approved">Approved</option>
                </select>
              </div>

              <div class="col-sm-2 spaceleft">
                <label>LC UOM Chart</label><br>
                <a href="Untitled1 Diagram.PNG">Open</a>
              </div>

            </div>
            <br>

            <div class="form-row spaceTopBottom" style="background-color:white;">

              <div class="col-sm-3 spaceleft">
                <label class="required">Purchased From</label><br>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" placeholder="Purchased From" formControlName="purchasedFrom" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="createMasterInstrumentDetailsForm.controls['purchasedFrom'].touched && createMasterInstrumentDetailsForm.controls['purchasedFrom'].hasError('required')">
                  Please enter Purchased From</div>
              </div>

              <div class="col-sm-3 spaceleft">
                <label>Date of Purchase</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="dateOfPurchase">
                </ejs-datepicker>

              
              </div>

              <div class="col-sm-3 spaceleft">
                <label>Date of Installation</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="dateOfInstallation">
                </ejs-datepicker>

              

              </div>     
            </div>

            <br>
            <div class="flex-parent jc-center ">
              <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                type="button" (click)="saveData()" [disabled]="createMasterInstrumentDetailsForm.invalid">Create</button>
            </div>

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
             <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge">
                Specification Details
              </label>
            </a> <br>
            </div>
           
            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <a (click)="openChildWindow1()"> <label class=" w3-lobster w3-xlarge" >Calibration Certificate Details</label></a><br>
            </div>
            <br>

          </div>
        </form>
      </div>
    </div>
  </div>


  <form name="f1">
     <input type="hidden" id="id1" name="p_name" size="10" [(ngModel)]="p_name" (input)="hello1($event)">
     <input type="hidden" id="id2" name="m_name" size="10" [(ngModel)]="m_name" (ngModelChange)="hello2($event)">
  </form>