<div class="bgcolorcomponent">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Request and Inward</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="createRequestInwardDocumentForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label class="required">Inward Type</label>
              <select class="form-control inputsmallsize30" formControlName="inwardType" [(ngModel)]="inwardType"
                (click)="changeCalibratedAt()" required>
                <option selected disabled value="null">--Select Inward Type--</option>
                <option [ngValue]="reqAndInwTypeName" *ngFor="let reqAndInwTypeName of arrayReqAndInwTypeName">
                  {{reqAndInwTypeName}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['inwardType'].touched && createRequestInwardDocumentForm.controls['inwardType'].hasError('required')">
                Please select inward type</div>
            </div>


            <div class="col-sm-4 adjustleft">
              <label class="required">Inward Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="inwardDate| date:'dd-MM-yyyy'" formControlName="inwardDate"
                [max]="lastDayOfMonth"></ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">Expected Delivery Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue2| date:'dd-MM-yyyy'" formControlName="expectedDeliveryDate"
                required></ejs-datepicker>

            </div>

          </div><br>

          <div class="form-row spaceTopBottom" style="background-color:white;" *ngIf="displayDCDetails==1">
            <div class="col-sm-4 spaceleft">
              <label>Customer DC No</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Type Here To Search Customer" formControlName="customerDCNo">
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">DC Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                [ngModel]="dateValue1| date:'dd-MM-yyyy'" formControlName="dcDate">
              </ejs-datepicker>

            </div>

          </div>

          <br>
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label class="required">Customer</label>



              <input list="customerNm" type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="customerName" name="customername" [(ngModel)]="customerName"
                (ngModelChange)="setCustomerName()" required>
              <datalist id="customerNm" required>
                <option [ngValue]="customer1.name" [value]="customer1.name" selected
                  *ngFor="let customer1 of customerWithAddress">{{customer1.address}}</option>
              </datalist>


              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['customerName'].touched && createRequestInwardDocumentForm.controls['customerName'].hasError('required')">
                Please select customer</div>
              <div style="color:red;" id="UserNameValidation"></div>
            </div>


            <div class="col-sm-4 spaceleft">
              <label class="required">Shipped To</label>

              <input list="shippedToNm" type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="shippedTo" name="shippedTo" [(ngModel)]="shippedTo" required>
              <datalist id="shippedToNm" required>
                <option [ngValue]="customer1.name" [value]="customer1.name" selected
                  *ngFor="let customer1 of customerWithAddress">{{customer1.address}}</option>
              </datalist>


              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['shippedTo'].touched && createRequestInwardDocumentForm.controls['shippedTo'].hasError('required')">
                Please select customer</div>
              <div style="color:red;" id="UserNameValidation"></div>
            </div>

            <div class="col-sm-4 spaceleft">
              <label class="required">Reports in Name of</label>

              <input list="customerNms" type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="reportInNameOf" name="customername" [(ngModel)]="reportsInNameof" required>
              <datalist id="customerNms" required>
                <option [ngValue]="customer1.name" [value]="customer1.name" selected
                  *ngFor="let customer1 of customerWithAddress">{{customer1.address}}</option>
              </datalist>

              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['reportInNameOf'].touched && createRequestInwardDocumentForm.controls['reportInNameOf'].hasError('required')">
                Please Select Reports in Name of</div>
              <div style="color:red;" id="UserNameValidation"></div>
            </div>

          </div>

          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 adjustleft">
              <label class="required">No of Instruments</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" [(ngModel)]="noOfInstruments"
                formControlName="noOfInstruments" required>
              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['noOfInstruments'].touched && createRequestInwardDocumentForm.controls['noOfInstruments'].hasError('required')">
                Please enter no of instruments</div>
            </div>

            <div class="col-sm-4 spaceleft">
              <label>Calibrated At</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" [(ngModel)]="universal"
                formControlName="calibratedAt" readonly>
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">Lab Location</label>
              <select class="form-control inputsmallsize30" formControlName="labLocation" [(ngModel)]="labLocation"
                required>
                <option value=0 selected>0</option>
              </select>
            </div>

          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-3 adjustleft">
              <label class="required">Reqest Type</label>
              <select class="form-control inputsmallsize15" formControlName="reqType" [(ngModel)]="reqType" required>
                <option value="null" selected disabled>--Select Req Type--</option>
                <option [ngValue]="reqTypeOfRequestAndInwardName"
                  *ngFor="let reqTypeOfRequestAndInwardName of arrayReqTypeOfRequestAndInwardName">
                  {{reqTypeOfRequestAndInwardName}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls['reqType'].touched && createRequestInwardDocumentForm.controls['reqType'].hasError('required')">
                Select Reqest Type</div>
            </div>


            <div class="col-sm-3 spaceleft">
              <label>Reqest Contact Name</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text"
                formControlName="reqContactName" [(ngModel)]="reqContactName">
            </div>

            <div class="col-sm-3 adjustleft">
              <label>Reqest Contact Phone</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="tel"
                formControlName="reqContactPhone" [(ngModel)]="reqContactPhone" id="reqPhone" name="reqPhone">
              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls.reqContactPhone.invalid && (createRequestInwardDocumentForm.controls.reqContactPhone.dirty || createRequestInwardDocumentForm.controls.reqContactPhone.touched)">
                Please enter valid phone no</div>
            </div>

            <div class="col-sm-3 spaceleft">
              <label>Reqest Email</label>
              <input class="w3-input form-control w3-border inputsmallsize15" style="display: inline-block;" type="text"
                formControlName="reqEmail" [(ngModel)]="reqEmail">
              <span data-tip="Email must contain atleast one - '.' and one - '@' for example universal@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="createRequestInwardDocumentForm.controls.reqEmail.invalid && (createRequestInwardDocumentForm.controls.reqEmail.dirty || createRequestInwardDocumentForm.controls.reqEmail.touched)">
                Please enter valid email</div>
            </div>
          </div>
          <br>
        </div>


        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" type="submit"
            [disabled]="!createRequestInwardDocumentForm.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="select">
  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialp1" />
  <input type="hidden" id="country2" name="country2" [(ngModel)]="trialp2" />
</div>
