

<div class="bgcolorcomponent">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text " style="color: rgb(85, 81, 81);">Search and Modify Request and Inward</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchRequestAndInwardForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-3 spaceleft">
              <label>Search Document</label><br>
              <input class="w3-input form-control w3-border inputsmallsize25" placeholder="Search by document number"
                type="text" formControlName="searchDocument" required>
             
            </div>



            <div class="col-sm-3 adjustleft">
              <label>Status</label><br>
              <select [(ngModel)]="statusChoice" formControlName="statusChoice"
                class="w3-input form-control w3-border inputsmallsize10 selectdocumenttype form-control">
                <option value="selectStatus" selected>--Select Status--</option>
                <option value="Draft" selected>Draft</option>
                <option value="Approved">Approved</option>
                <option value="Submitted">Submitted</option>
                <option value="Rejected">Rejected</option>
                <option value="Archieved">Archieved</option>

              </select>
            </div>

            <div class="col-sm-2 adjustleft">
              <label>From Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize10" format='dd-MM-yyyy'
                id='datepicker' formControlName="fromDate">
              </ejs-datepicker>
            </div>

            <div class="col-sm-4 adjustleft">
              <label>To Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize10" format='dd-MM-yyyy'
                id='datepicker' formControlName="toDate">
              </ejs-datepicker>
            </div>

          </div>
          <div class="col-sm-5">
            <label></label><br>
            <button class="w3-btn  box-1 btn btn-one btnstyle" style="background-color: #008080"
              (click)="searchData()">Search</button>
          </div>
          <br><br><br>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr class="center">
                <th style="text-align:center;">ACTION</th>
                <th style="text-align:center;"> INWARD REQUESTED NUMBER</th>
                <th style="text-align:center;"> CUSTOMER DC NUMBER</th>
                <th style="text-align:center;">INWARD REQUESTED DETAILS</th>
              </tr>
              <tbody>

                <tr *ngIf="reqAndIwdDataArray == 0">
                  <td width="100%" colspan="4"><span> Enter Criteria to search Request and Inward(s).</span></td>
                </tr>


                <tr
                  *ngFor="let req of reqAndIwdDataArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">

                  <td style="text-align:left;"><a class="a1"><span (click)="moveToSQDocUpdateScreen($event)">Create Copy
                        of Document</span></a><br>
                    <a class="a1"><span (click)="moveToSQDocUpdateScreen($event)">Create Repair Sales
                        Quotation</span></a><br>
                    <a class="a1"><span (click)="moveToSQDocUpdateScreen($event)">Create OutSoursed Delivery
                        Challan</span></a><br>
                    <a class="a1"><span (click)="moveToSQDocUpdateScreen($event)">Create Proforma Invoice</span></a><br>
                    <a class="a1"><span (click)="moveToSQDocUpdateScreen($event)">Create Invoice Cum Challan
                        Document</span></a>
                  </td>
                  <td style="text-align:center;">
                    <a class="a1"><span (click)="moveToRIDocUpdateScreen($event)">{{req[1]}}</span></a>
                  </td>
                  <td style="text-align:center;">{{req[2]}}</td>
                  <td style="text-align:left;">
                    <label>Customer Name : </label> {{req[3]}} <br>
                    <label>Inward Date : </label> {{req[4]}} <br>
                    <label>Status : </label> {{req[11]}} <br>
                  </td>
                  
                </tr>
              </tbody>
            </table>
            <br>

            <div style="color:red;" id="trial"></div>
            <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
            <label>Items per page:
              <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>

          </div>

        </div>

      </form>
    </div>
  </div>
</div>
