.a1 {
    color: #0093f5;
  
  }
  
  .a1:hover {
    color: rgb(219, 17, 51);
  
  }
  
  .center {
    text-align: center;
    width: 100%;
  }
  
  .inputsmallsize25 {
    width: 230px;
  }
  
  .inputsmallsize15 {
    width: 185px;
  }
  
  .inputsmallsize30 {
    width: 290px;
  }
  
  .inputsmallsize10 {
    width: 145px;
  }
  
  .textboxarea {
    width: 378px;
    height: 80px;
  }
  
  .align-center {
  
    width: 80%;
    margin: auto;
  }
  
  .register-card {
    margin-top: 2%;
    border-radius: 10px;
    padding-bottom: 0px;
   
  }
  
  .w3-lobster {
    font-family: "calibri";
  }
  
  .space {
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
  
  }
  
  .spaceTopBottom {
    padding-top: 23px;
    padding-bottom: 55px;
  }
  
  .spaceleft {
    padding-left: 0px;
  }
  
  .spaceRight {
    margin-right: -920%;
  }
  
  .Adjustspaceleft {
    padding-left: 130px;
  }
  
  .adjusttable {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "calibri";
  
  }
  
  
  .Adjustspace {
    padding-right: 2%;
  }
  
  .adjustleft {
    padding-left: 0px;
  }
  
  .spaceTop {
    padding-top: 23px;
  }
  
  
  .add {
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: lightblue;
  }
  
  .centercard {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  table {
    font-family: "calibri";
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    border: 3px solid #dddddd;
  }
  
  td {
    border: 3px solid #dddddd;
    font-size: 15px;
    font-family: "calibri";
  
  }
  
  th {
    border: 3px solid #dddddd;
    background-color: rgb(240, 240, 240);
    font-size: 15px;
    font-family: "calibri";
  
  }
  
  .bg-primary {
    color: #ffffff;
    ;
    background-color: #caeaf7;
    ;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .button {
    font-size: 15px;
    padding: 10px;
    background-color: #0b93ee;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .button:hover {
    background: #06D85F;
    background-color: #0b93ee;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'calibri';
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #06D85F;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  
  
  .input-icons i {
    position: absolute;
  }
  
  .input-icons {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "calibri";
  }
  
  .icon {
    padding: 10px;
    min-width: 40px;
  }
  
  .input-field {
    width: 100%;
  
    padding: 10px;
    padding-left: 20px;
    margin-left: -45px;
  
  }
  
  #selectdocumenttype {
    width: 120px;
    height: 40px;
    margin-left: 45px;
    font-size: 15px;
    font-family: "calibri";
  }
  
  ::placeholder {
  
    text-indent: 2%;
    color: black;
  
  }
  
  /************************** Button CSS ********************************************************/
  
  
  /* ...trial css animation......*/
  
  .box-1 {
    background-color: #0093f5;
    height: 100px;
    width: 100px;
  }
  
  
  .btn {
    line-height: 30px;
    height: 35px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    font-family: calibri;
    background-color: #0093f5;
  
  
  }
  
  .flex-parent {
    display: flex;
    margin-bottom: 1%;
  
  }
  
  .jc-center {
    justify-content: center;
    margin-bottom: 1%;
  }
  
  button.margin-right {
    margin-right: 20px;
  }
  
  /* 
    ========================
        BUTTON ONE
    ========================
    */
  
  .btn-one {
  
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    text-align: center;
    margin-left: 1px;
  }
  
  .btn-one span {
    transition: all 0.3s;
  }
  
  .btn-one::before {
  
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(27, 25, 25, 0.5);
    border-bottom-color: rgba(29, 27, 27, 0.5);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  
  .btn-one:hover::before {
    opacity: 15;
    transform: scale(1, 1);
  }
  
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(14, 13, 13, 0.1);
  }
  
  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 10);
  }
  
  
  @media screen and (max-width: 500px) {
  
    .input-icons i {
      position: absolute;
      padding-left: 1px;
      margin-left: -16px;
      margin-right: -16px;
    }
  
    .input-icons {
      width: 100%;
      height: 50%;
      margin-bottom: 10px;
      margin-left: -10px;
      padding-left: -1000px;
      text-align: left;
      font-size: 15px;
      font-family: "calibri";
    }
  
    .icon {
      padding-left: 1%;
      min-width: 50px;
      margin-right: -100px;
  
  
    }
  
    .input-field {
      width: 150%;
      height: 100%;
      padding-left: -5px;
      margin-left: -20px;
      text-align: left;
    }
  
    ::placeholder {
  
      text-indent: 3%;
  
    }
  
    .selectdocumenttype {
      width: 130%;
      margin-left: -10px;
      margin-right: -20px;
      margin-bottom: 15px;
    }
  
    .box {
      width: 70%;
  
    }
  
    .popup {
      width: 70%;
    }
  
    .centercard {
      width: 70%;
      height: 40px;
      margin-left: 15%;
    }
  
    .register-card {
      height: auto;
    }
  
    .spaceTopBottom {
  
      margin-bottom: -110%;
    }
  
    .inputsmallsize15 {
      width: 130%;
      margin-left: -20px;
      margin-right: -10px;
      margin-bottom: 15px;
  
    }
  
    .inputsmallsize30 {
      width: 130%;
      margin-left: -20px;
      margin-right: -10px;
      margin-bottom: 15px;
    }
  
    .inputsmallsize45 {
      width: 93%;
    }
  
  
    .spaceleft {
      padding-left: 0px;
      margin-left: -18px;
      width: 180px;
    }
  
    .adjustleft {
      padding-left: -90px;
      margin-left: -18px;
      width: 180px;
    }
  
    .adjustlabel {
      margin-left: -18px;
      display: inline;
    }
  
    .adjustlabel2 {
      margin-left: 15px;
      margin-right: -1002px;
    }
  
  
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
  
    .adjusttable {
      overflow-x: auto;
      margin-left: -20px;
      margin-right: -18px;
      margin-top: 50px;
      margin-bottom: 15px;
    }
  
    th,
    td {
      text-align: left;
      padding: 8px;
      font-size: 15px;
      font-family: "calibri";
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  
  
    .btnstyle {
      margin-left: -45px;
    }
  
  }
  
  
  @media screen and (min-width: 501px) and (max-width: 1000px) {
    .space {
      padding-top: 13px;
      padding-bottom: 25px;
      padding-left: -500px;
      padding-right: 45px;
  
    }
  
    .centercard {
      margin-left: 1%;
      margin-right: 25%;
    }
  
    .box {
      width: 70%;
  
    }
  
    .popup {
      width: 70%;
    }
  
    .centercard {
      width: 70%;
      margin-left: 15%;
    }
  
    .register-card {
      height: auto;
    }
  
    .spaceTopBottom {
  
      margin-bottom: -35%;
      margin-top: 15%;
    }
  
    .spaceleft {
      padding-left: 50px;
      margin-left: -100px;
      width: 300px;
    }
  
    .adjustleft {
      padding-left: 500px;
      margin-left: 500px;
      margin-right: -500px;
      width: 300px;
    }
  
    .adjustlabel {
      margin-left: -18px;
      display: inline;
    }
  
    .adjustlabel2 {
      margin-left: 15px;
      margin-right: -1002px;
    }
  
    .adjusttable {
      margin-bottom: 15px;
  
    }
  
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
  
    .adjusttable {
      overflow-x: auto;
      margin-left: -20px;
      margin-right: -18px;
    } 
  
    th,
    td {
      text-align: left;
      padding: 8px;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  
    .btnstyle {
      margin-left: -30px;
    }
  }
  
  
  /********************************* trial adjusting **************************************************/
  * {
    margin: 0px;
    padding: 0px
  }

  .media1140px,
  .media768px,
  .media480px,
  .media300px {
    padding: 10px;
  }
  
  p {
    margin: 0 0 0px 0;
  }
  
  /* middle section end */
  .required:after {
    content: " *";
    color: red;
  }
  

  /*************************************** Tooltip CSS ***************************************************/
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /********************************************************************************************/
  
  [data-tip] {
    position: relative;
  
  }
  
  [data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 10;
  }
  
  [data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 5px 8px;
    background: #f8f8f8;
    color: rgb(15, 15, 15);
    border-left: 5px solid #0a0a0a;
    border-right: 5px solid #0a0a0a;
    border-bottom: 5px solid #0a0a0a;
    z-index: 9;
    font-size: 0.95em;
    height: 80px;
    width: 200px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: black;
    white-space: pre-wrap;
  
    word-wrap: normal;
  }
  
  [data-tip]:hover:before,
  [data-tip]:hover:after {
    display: block;
    border: black;
    border-top: 1px solid #0a0a0a;
    border-left: 1px solid #0a0a0a;
    border-right: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
  }
  
  .wrapper {
    overflow: hidden;
    width: 200px;
  }
  
  .inputfield {
  
    width: 70px;
    height: 20px;
    color: #00F;
    font-weight: bold;
  }
  
  .tooltipques {
    display: block;
    overflow: hidden;
  }
  