<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Customer Ledger</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="CutomerLedgerform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-7 spaceleft">
              <label class="required">Search Customer</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Type Here To Search Customer" formControlName="customer">
              <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #186CFB" type="button"
                (click)="functionname()">Find Customer</button>


            </div>


            <div class="col-sm-5 adjustleft">
              <label></label><br>
              <select style="display:inline-block;" class="form-control inputsmallsize50"
                formControlName="SelectCustomer" required>
                <option value="null" selected disabled>Choose here</option>
                <option>1..</option>
                <option>2..</option>
              </select>
              <label class="required"></label>
              <div class="w3-panel w3-text-red"
                *ngIf="CutomerLedgerform.controls['SelectCustomer'].touched && CutomerLedgerform.controls['SelectCustomer'].hasError('required')">
                Please select Customer</div>

            </div>

          </div>
          <br>



          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-8 spaceleft">
              <label class="required">Start Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="StartDate">
              </ejs-datepicker>


              <!--   <input class="w3-input form-control w3-border inputsmallsize30" [ngModel] ="dateValue | date:'yyyy-MM-dd'" type="date" formControlName="poDate" >
              {{dateValue | customDate}}    -->


            </div>

            <div class="col-sm-4 adjustleft">
              <label>End Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="EndDate"></ejs-datepicker>
            </div>
          </div>

        </div>

        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Run Report</button>
        </div>


      </form>
    </div>
  </div>
</div>
