<div >
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Create UUC Name</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="CreateUUCNameform">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="w3-container w3-center w3-card register-card centercard1"
            style="background-color:rgb(233,233,233);">
            <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UUC Name Master</label><br>
          </div>
          <br>
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-3 spaceleft">
              <label class="required"> Nomenclature</label><br>
              <input class="w3-input form-control w3-border inputsmallsize30" list="customername"
                style="display:inline-block;" type="text" placeholder="Type Here To Search Nomenclature"
                formControlName="nomenclature" [(ngModel)]="nomenclature">&emsp;

              <datalist id="customername" required>
                <option [ngValue]="customer1.name" [value]="customer1" selected
                  *ngFor="let customer1 of arrayInstrumentListName"></option>
              </datalist>

            </div>

            <div class="col-sm-2 adjustleft">
              <label>Status</label><br>
              <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status" [(ngModel)]="status">
                <option selected value="Draft">Draft</option>
                <!-- <option>Submitted</option> -->
                <option value="Approved">Approved</option>
              </select>
            </div>

            <div class="col-sm-3 adjustleft">
              <label></label><br>
              <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                (click)="create()">Create</button>
            </div>

          </div>

          <br>

          <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
            style="background-color:rgb(233,233,233);">
            <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge" >UUC Parameter Master</label></a><br>
          </div>
          <br>

          <div class="form-row " style="background-color:white;">

            <div class=" form-group col-sm-12">
              <div>
                <br>
              </div>
            </div>
          </div>
          <br>

        </div>
      </form>


    </div>
  </div>
</div>
