<div>
  <div>

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UOM CALCULATOR DETAILS</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterSpecificationForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
                Calculations Details
              </label>
            </div>

            <div class="form-row " style="background-color:white;">
              <div class="form-row  adjusttable" style="background-color:white;">
                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <table class="w3-table  w3-bordered">
                    <thead>
                      <tr>
                        <th style="text-align:center;">UOM From</th>
                        <th style="text-align:center;">UOM To</th>
                        <th style="text-align:center;">Multiply By</th>
                        <th>SAVE</th>
                        <th>DELETE</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="Rows">
                      <tr
                        *ngFor="let itemrow of  createMasterSpecificationForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                        [formGroupName]="fieldGlobalIndex(i)">


                        <td>
                          
                          <!-- <select class="w3-input form-control w3-border inputsmallsize30" formControlName="uncMasterType">
                              <option [value]="uncMasterTypeName1" *ngFor="let uncMasterTypeName1 of uncMasterTypeName">{{uncMasterTypeName1}}
                              </option>
                            </select> -->

                          <select class="w3-input form-control w3-border inputsmallsize15" (change)="checkUom(i)"
                            formControlName="uomFrom">
                            <option [value]="uomName" *ngFor="let uomName of arrayUomNameAccorToParam1">{{uomName}}
                            </option>
                          </select>
                          <div id="showMsg-{{i}}" style="color: red;">
                           
                          </div>
                        </td>

                        <td>
                          <select class="w3-input form-control w3-border inputsmallsize15" (change)="checkUom(i)"
                            formControlName="uomTo">
                            <option [value]="uomName" *ngFor="let uomName of arrayUomNameAccorToParam1">{{uomName}}
                            </option>
                          </select>

                          <div id="showMsg1-{{i}}" style="color: red;">
                           
                          </div>
                        </td>


                        <td>
                          <input class="w3-input form-control w3-border inputsmallsize15" formControlName="multiplyBy"
                            type="text" name="parameter" id="parameter" size="10">
                          <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('multiplyBy').invalid && (itemrow.get('multiplyBy').dirty || itemrow.get('multiplyBy').touched)">
                            Enter valid value For MultiplyBy
                          </div>

                          <!--  <div class="w3-panel w3-text-red"
                            *ngIf="itemrow.get('sensitivityCoefficient').invalid && (itemrow.get('sensitivityCoefficient').dirty || itemrow.get('sensitivityCoefficient').touched)">
                            Enter valid value For Sensitivity Coefficient</div>  -->        
                        </td>


                        <td>
                          <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                            style="width:50px; height:30px;"  [disabled]="click" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                        </td>

                        <td>
                          <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)" ></i></span>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <br>
                  <div style="color:red;" id="trial"></div>
                  <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                  <label>Items per page:
                    <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                      formControlName="itemsPerPage">
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>

              </div>

              <div class="form-row " style="background-color:white;">
                <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                  (click)="addNewRow()" [disabled]="click">Add </button>                                                                                       
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
