<div>
  <div>
    
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Update Calibration Certificate Details Of
          Master Instrument</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createCalCertifiMasInstruDetailsForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);"> Calibration Certificate
                Details</label><br>
            </div>
            <br>

            <div class="form-row " style="background-color:white;">
              <div class="form-row spaceTopBottom " style="background-color:white;">
                <div class="col-sm-2 adjustleft">
                  <label>Status</label>
                  <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="status"
                    formControlName="status">
                    <option selected value="Draft">Draft</option>
                    <option value="Submitted">Submitted</option>
                    <option value="Approved">Approved</option>
                  </select>
                </div>
              </div>

              <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
                <table class="w3-table  w3-bordered">
                  <thead>
                    <tr>
                      <th style="text-align:center;">CALIBRATION CERTIFICATE</th>
                      <th style="text-align:center;">CALIBRATION AGENCY</th>
                      <th style="text-align:center;">CALIBRATION DATE</th>
                      <th style="text-align:center;">CALIBRATION DUE</th>
                      <th style="text-align:center;">DATE OF OUTWARD</th>
                      <th style="text-align:center;">DATE OF INWARD</th>
                      <th style="text-align:center;">CALIBRATION CHARGES</th>
                      <th style="text-align:center;">ATTACHMENT</th>

                      <th style="text-align:center;">CALIBRATION DATA</th>
                      <th style="text-align:center;">SAVE</th>
                      <th style="text-align:center;">DELETE</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="Rows">
                    <tr
                      *ngFor="let itemrow of  createCalCertifiMasInstruDetailsForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                      [formGroupName]="fieldGlobalIndex(i)">
                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize15" formControlName="calCertificate"
                          name="calCertificate" id="calCertificate" size="10">
                      </td>
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize15"
                          formControlName="calCertificateAgencyId" name="calCertificateAgencyId"
                          id="calCertificateAgencyId">
                          <option hidden selected>{{itemrow.get('calCertificateAgencyId').value}}</option>
                          <option [value]="calAgency" *ngFor="let calAgency of arrayOfCalAgencyNames">{{calAgency}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <ejs-datepicker class="w3-input form-control w3-border inputsmallsize9" format='dd-MM-yyyy'
                          formControlName="calibrationDate">
                        </ejs-datepicker>
                      </td>
                      <td>
                        <ejs-datepicker class="w3-input form-control w3-border inputsmallsize9" format='dd-MM-yyyy'
                          formControlName="calibrationDue">
                        </ejs-datepicker>
                      </td>
                      <td>
                        <ejs-datepicker class="w3-input form-control w3-border inputsmallsize9" format='dd-MM-yyyy'
                          formControlName="dateOfOutward">
                        </ejs-datepicker>
                      </td>
                      <td>
                        <ejs-datepicker class="w3-input form-control w3-border inputsmallsize9" format='dd-MM-yyyy'
                          formControlName="dateOfInward">
                        </ejs-datepicker>
                      </td>

                      <td><input class="w3-input form-control w3-border inputsmallsize7" name="calibrationCharges"
                          id="calibrationCharges" formControlName="calibrationCharges" size="10"></td>

                      <td>
                       
                        <input type="file" id="docFile" formControlName="attachment"
                          class="w3-input form-control w3-border inputsmallsize30"
                          (change)="onFileChangedForDocument($event,i)" style="display: inline-block;">
                        

                        <div *ngIf="arrayOfMasterInstruFileAttach1 == 0">
                          <span> No Attchments uploaded yet.</span>
                        </div>

                        <div *ngFor="let dynamic of arrayOfMasterInstruFileAttach1[i]; let ii = index;">
                        
                          <a (click)="getSelectedFile(i,ii)" style="color:blue;">{{dynamic[6]}}</a>
                         
                        </div>
                      </td>

                      <td><a (click)="openChildWindow()">Calibration Data</a></td>

                      <td>
                        <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                          style="width:50px; height:30px;" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                      </td>

                      <td>
                        <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)"></i></span>
                      </td>

                    </tr>
                  </tbody>
                </table>
                <br>
                <div style="color:red;" id="trial"></div>
                <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                <label>Items per page:
                  <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                    formControlName="itemsPerPage">
                    <option value="5" selected>5</option>
                
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  
                  </select>
                </label>
              </div>
            </div>

            <div class="form-row" style="background-color:white;">
              <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                (click)="addNewRow()">Add </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
