
  <div>
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">
  
  
      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Update UNC Name</label><br>
      </div>
  
  
      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createUNCNameform">
  
          <div class="form-group w3-row-padding space" style="background-color:white;">
  
            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UNC Name Master</label><br>
            </div>
            <br>
            <div class="form-row spaceTopBottom" style="background-color:white;">
  
              <div class="col-sm-3 spaceleft">
                <label class="required"> UNC</label><br>

                <!-- <input class="w3-input form-control w3-border inputsmallsize15" formControlName="uncName" [(ngModel)]="uncName"
                type="text" name="parameter" id="parameter" size="10"> -->

                <input class="w3-input form-control w3-border inputsmallsize15" list="uncname"
                style="display:inline-block;" type="text" placeholder="Search Unc Master Name"
                formControlName="uncName" [(ngModel)]="uncName">&emsp;

              <datalist id="uncname" required>
                <option [ngValue]="uncMastNm" selected
                  *ngFor="let uncMastNm of arrayUncMasterName">{{ uncMastNm | titlecase }}</option>
              </datalist>



              </div>

              <div class="col-sm-3 spaceleft">
                <label>Date Of Configuration</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="dateOfConfiguration">
                </ejs-datepicker>
              </div>
  
              <div class="col-sm-2 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize7" formControlName="status" [(ngModel)]="status">
                  <option selected value="Draft">Draft</option>
                  <!-- <option>Submitted</option> -->
                  <option value="Approved">Approved</option>
                </select>
              </div>
  
              <div class="col-sm-3 adjustleft">
                <label></label><br>
                <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                  (click)="create()">Update</button>
              </div>
  
            </div>
  
            <br>
  
            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge" >UNC Parameter Master</label></a><br>

              <!-- <a > <label class=" w3-lobster w3-xlarge" >UNC Parameter Master</label></a><br> -->
            </div>
            <br>
  
            <div class="form-row " style="background-color:white;">
  
              <div class=" form-group col-sm-12">
                <div class="flex-parent jc-center "> 
                  <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                  (click)="backToSearch()">Back to Search</button>
                  <br>
                </div>
              </div>
            </div>
            <br>
  
          </div>
        </form>
  
  
      </div>
    </div>
  </div>
  