<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);"> Update Definition </label><br>
    </div>


    <div class="w3-container w3-card register-card " style="background-color:white;">
      <form [formGroup]="addDefinitionForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">Caterory</label><br>
           
              <input list="categoryname" type="text" class="w3-input form-control w3-border inputsmallsize30"
              formControlName="category" name="categoryname" [(ngModel)]="categoryName" required> 
                      <datalist id="categoryname" required>
                        <option [ngValue]="category1" *ngFor="let category1 of categoryNames">{{category1}}</option>
                 </datalist>

              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['category'].touched && addDefinitionForm.controls['category'].hasError('required')">
                Please select category</div>
             
            </div>

            <div class="col-sm-3">
              <label class="required">Type</label>
              <select class="form-control inputsmallsize15" formControlName="type" [(ngModel)]="type" required>
                <option selected disabled value="null">--Select--</option>
                <option>USER_DEFINED</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['type'].touched && addDefinitionForm.controls['type'].hasError('required')">
                Please select type</div>
            </div>


            <div class="col-sm-5">
              <label> Description</label><br>
              <textarea class="w3-input form-control w3-border  textboxarea" type="text"
                formControlName="description" [(ngModel)]="description"></textarea>

            </div>
          </div>


          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required"> Name</label><br>
              <input class="w3-input form-control w3-border inputsmallsize30" style="display:inline-block;" type="text"
                placeholder="Name" formControlName="name" [(ngModel)]="name">
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls.name.invalid && (addDefinitionForm.controls.name.dirty || addDefinitionForm.controls.name.touched)">
                Please enter valid name</div>
            </div>

            <div class="col-sm-4">
              <label class="required">Status</label>
              <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status" [(ngModel)]="status" required>
                <!-- <option selected disabled value="null">--Select--</option> -->
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['status'].touched && addDefinitionForm.controls['status'].hasError('required')">
                Please select status</div>
            </div>

          </div>


        </div>
        <br>
        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
            type="submit">Update</button>
          <!-- <button class="w3-btn  box-1 btn btn-one" style="background-color: #008080" type="button"> Back To Menu
          </button> -->
        </div>
      </form>
    </div>
  </div>

</div>
