::placeholder {
    color: rgb(12, 12, 12);
  }
  
  .inputsmallsize15 {
    width: 185px;
  }
  
  .inputsmallsize30 {
    width: 280px;
  }
  
  .textboxarea {
    width: 378px;
    height: 80px;
  }
  
  .align-center {
  
    width: 70%;
    margin: auto;
  }
  
  .register-card {
    margin-top: 2%;
  
  
    border-radius: 10px;
    padding-bottom: 0px;
  
  }
  
  .w3-lobster {
    font-family: "calibri";
  }
  
  .space {
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 10px;
  
  }
  
  .spaceTopBottom {
    padding-top: 23px;
    padding-bottom: 55px;
  }
  
  .Adjustspace {
    padding-right: 2%;
  
  }
  
  .spaceTop {
    padding-top: 23px;
  
  }
  
  .add {
  
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: lightblue;
  }
  
  .centercard {
    margin-left: 25%;
    margin-right: 25%;
  
  }
  
  .field-icon {
    float: right;
  
    margin-right: 55px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
  }
  
  .bg-primary {
    color: #ffffff;
    ;
    background-color: #caeaf7;
    ;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .button {
    font-size: 15px;
    padding: 10px;
    background-color: #0b93ee;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .button:hover {
    background: #06D85F;
    background-color: #0b93ee;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #06D85F;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px) {
  
    .field-icon {
      float: right;
  
      margin-right: 17px;
      margin-top: -26px;
      position: relative;
      z-index: 2;
    }
  
  
    .box {
      width: 70%;
  
    }
  
    .popup {
      width: 70%;
    }
  
    .centercard {
      width: 70%;
      margin-left: 15%;
    }
  
    .spaceTopBottom {
  
      margin-bottom: -25%;
    }
  
    .inputsmallsize15 {
      width: 95%;
    }
  
    .inputsmallsize30 {
      width: 95%;
    }
  
    .space {
      padding-top: 13px;
      padding-bottom: 25px;
      padding-left: 25px;
      padding-right: 10px;
  
    }
  
  }
  
  
  /********************************* trial adjusting **************************************************/
  
  
  * {
    margin: 0px;
    padding: 0px
  }
  
  
  .media1140px,
  .media768px,
  .media480px,
  .media300px {
    padding: 15px;
  }
  
  p {
    margin: 0 0 0px 0;
  }
  
  .clearb {
    clear: both;
  }
  
  /* misc end */
  
  
  
  /* header start */
  #mainHeader {
  
    padding: 0.5em;
    overflow: auto;
  }
  
  /* to make our logo resize automatically */
  #responsiveLogo {
    width: 100%;
  }
  
  #responsiveLogo img {
    max-height: 100%;
    max-width: 100%;
  }
  
  /* header end */
  
  
  /* middle section start */
  #mainSection {
    background-color: #D9F8F2;
    float: left;
    width: 96%;
  }
  
  #sideBox1 {
    background-color: #C9A449;
    width: 96%;
  }
  
  #mainSection,
  #sideBox1 {
    overflow: auto;
    padding: 2%;
  }
  
  /* middle section end */
  
  .backgroundfordiv {
    background-color: #399c92;
  }
  
  .required:after {
    content: " *";
    color: red;
  }
  
  /************************** Button CSS ********************************************************/
  
  
  /* ...trial css animation......*/
  
  .box-1 {
    background-color: #0093f5;
    height: 40px;
    width: 100px;
  }
  
  .btn {
    line-height: 30px;
    height: 40px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0093f5;
  
  }
  
  .flex-parent {
    display: flex;
    margin-bottom: 1%;
  
  }
  
  .jc-center {
    justify-content: center;
    margin-bottom: 1%;
  }
  
  button.margin-right {
    margin-right: 20px;
  }
  
  /* 
    ========================
          BUTTON ONE
    ========================
    */
  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  
  .btn-one span {
    transition: all 0.3s;
  }
  
  .btn-one::before {
  
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(27, 25, 25, 0.5);
    border-bottom-color: rgba(29, 27, 27, 0.5);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  
  .btn-one:hover::before {
    opacity: 15;
    transform: scale(1, 1);
  }
  
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(14, 13, 13, 0.1);
  }
  
  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 10);
  }
  
  /*************************************** Tooltip CSS ***************************************************/
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /********************************************************************************************/
  
  [data-tip] {
    position: relative;
  
  }
  
  [data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 10;
  }
  
  [data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 5px 8px;
    background: #f8f8f8;
    color: rgb(15, 15, 15);
    border-left: 5px solid #0a0a0a;
    border-right: 5px solid #0a0a0a;
    border-bottom: 5px solid #0a0a0a;
    z-index: 9;
    font-size: 0.95em;
    height: 80px;
    width: 200px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: black;
    white-space: pre-wrap;
  
    word-wrap: normal;
  }
  
  [data-tip]:hover:before,
  [data-tip]:hover:after {
    display: block;
    border: black;
    border-top: 1px solid #0a0a0a;
    border-left: 1px solid #0a0a0a;
    border-right: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
  }
  
  .wrapper {
    overflow: hidden;
    width: 200px;
  }
  
  .inputfield {
    float: left;
    width: 100px;
    color: #00F;
    font-weight: bold;
  }
  
  .tooltipques {
    display: block;
    overflow: hidden;
  }
  