<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">Update User</label><br>
    </div>


    <div class="w3-container w3-card register-card " style="background-color:white;">
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" id="Login">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="form-row spaceTopBottom">
            <div class="form-group Adjustspace col-sm-4">
              <label>User Number</label>
              <input type="text" class="form-control inputsmallsize30" placeholder="User Number"
                [(ngModel)]="userNumber" formControlName="userNumber" name="usernumber" id="usernumber" readonly>
            </div>

            <div class="form-group Adjustspace col-sm-4">
              <label class="required">User Name</label>
              <h1>{{dot}}</h1>
              <input type="text" class="form-control inputsmallsize30" value="UserName" [(ngModel)]="userName"
                (click)="change()" (click)="userNameValid()" (keyup)="userNameValid()" formControlName="userName"
                name="username" id="username" readonly>
            </div>
            
          </div>
          <br>


          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">First Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="First Name"
                [(ngModel)]="firstName" name="firstName" id="firstName" formControlName="firstName">
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.firstName.invalid && (addUserForm.controls.firstName.dirty || addUserForm.controls.firstName.touched)">
                Please enter valid first name</div>
            </div>

            <div class="col-sm-4 Adjustspace">
              <label>Middle Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Middle Name"
                [(ngModel)]="middleName" formControlName="middleName" name="middleName" id="middleName">
            </div>
            <div class="col-sm-4">
              <label class="required">Last Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Last Name"
                [(ngModel)]="lastName" formControlName="lastName" name="lastName" id="lastName">
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.lastName.invalid && (addUserForm.controls.lastName.dirty || addUserForm.controls.lastName.touched)">
                Please enter valid last name</div>

            </div>

          </div>


          <br>
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class=" form-group col-sm-4 Adjustspace">
              <label class="required">Gender</label>
              <select class="form-control inputsmallsize30" formControlName="gender" name="gender" id="gender"
                [(ngModel)]="gender" required>
                <option value="null" disabled selected>--Select--</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['gender'].touched && addUserForm.controls['gender'].hasError('required')">
                Please select gender</div>
            </div>
            <div class=" form-group col-sm-4">
              <label class="required">Status</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="status" formControlName="status"
                name="status" id="status" required>
                <option value="null" disabled selected>--Select--</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['status'].touched && addUserForm.controls['status'].hasError('required')">
                Please select status</div>
            </div>



            <div class="col-sm-4 spaceleft">
              <label class="required">Customer</label>
              <input list="customerNm" type="text" class="w3-input form-control w3-border inputsmallsize30"
                formControlName="customerName" name="customername" [(ngModel)]="customer" required>
              <datalist id="customerNm" required>
                <option value="null" disabled selected>{{customer}}</option>
                <option [ngValue]="customer1" selected *ngFor="let customer1 of customers">{{customer1}}</option>
              </datalist>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['customerName'].touched && addUserForm.controls['customerName'].hasError('required')">
                Please select customer</div>
              <div style="color:red;" id="UserNameValidation"></div>
            </div>
          </div>

          <br>

          <div class="form-row spaceTopBottom">
            <div class="form-group Adjustspace col-sm-4">
              <label class="required">Role</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="roleName" formControlName="roleName"
                name="rolename" id="rolename" required>
                <option value="null" disabled selected>{{roleName}}</option>
                 <option [ngValue]="role1" *ngFor="let role1 of roles">{{role1}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['roleName'].touched && addUserForm.controls['roleName'].hasError('required')">
                Please select role</div>
            </div>

            <div class="form-group  col-sm-4">
              <label class="required">Department</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="departmentName"
                formControlName="departmentName" name="departmentname" id="departmentname" required>
                <option value="null" disabled selected>{{departmentName}}</option>
                <option [ngValue]="department1" *ngFor="let department1 of departments">{{department1}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['departmentName'].touched && addUserForm.controls['departmentName'].hasError('required')">
                Please select department</div>
            </div>


            <div class="form-group  col-sm-4">
              <label class="required">Branch</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="branchName" formControlName="branchName"
                name="branchname" id="branchname" required>
                <option value="null" disabled selected>{{branchName}}</option>
                <option [ngValue]="branch1" *ngFor="let branch1 of branches">{{branch1}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['branchName'].touched && addUserForm.controls['branchName'].hasError('required')">
                Please select branch</div>

            </div>
          </div>


          <br>



          <div class="form-row spaceTopBottom">
            <div class="form-group Adjustspace col-sm-4">
              <label class="required">Security Question</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="securityQuestion"
                formControlName="securityQuestion" name="securityQuestion" id="securityQuestion" required>
                <option value="null" disabled selected>--Select Security Question--</option>
                <option [ngValue]="securityQuestion1" *ngFor="let securityQuestion1 of securityQuestionName">{{securityQuestion1}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['securityQuestion'].touched && addUserForm.controls['securityQuestion'].hasError('required')">
                Please select security question</div>
            </div>
            <div class="form-group col-sm-4">
              <label class="required">Security Answer</label>
              <input type="text" class="form-control inputsmallsize30" [(ngModel)]="securityAnswer"
                placeholder="Security Answer" formControlName="securityAnswer" name="securityAnswer" id="securityAnswer"
                (ngModelChange)="spacesNotAllowed()" required>
              <div style="color:red;" id="Validation"></div>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls['securityAnswer'].touched && addUserForm.controls['securityAnswer'].hasError('required')">
                Please enter security answer</div>
            </div>

            <div class="form-group Adjustspace col-sm-4">
              <label></label>
              <div style="color:red;" id="spaceNotAllowed"></div>
            </div>

          </div>

          <br>

          <div class="form-row spaceTopBottom">
            <div class="form-group  col-sm-4">
              <label>Phone</label><br>
              <input type="tel" class="form-control inputsmallsize30" [(ngModel)]="phoneNo" placeholder="Phone"
                formControlName="phoneNo" name="phoneno" id="phoneno">
                <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.phoneNo.invalid && (addUserForm.controls.phoneNo.dirty || addUserForm.controls.phoneNo.touched)">
                Please enter valid phone no</div>  
            </div>


            <div class="form-group Adjustspace col-sm-5">
              <label class="required">Email Work</label><br>
              <input style="display:inline-block;" type="email" class="form-control inputsmallsize30"
                placeholder="Email" [(ngModel)]="email" formControlName="email" name="email" id="email">&nbsp;
              <span data-tip="Email must contain atleast 1-dot and 1-@ for example abc@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.email.invalid && (addUserForm.controls.email.dirty || addUserForm.controls.email.touched)">
                Please enter valid email</div>

            </div>

          </div>
          <br>


         
          <div class="form-row spaceTopBottom">

            <div class="form-group row col-sm-4 ">
              <label class="required">Password</label><br>
              <input style="display:inline-block;" type="password" class="form-control inputsmallsize30"
                placeholder="Password" [(ngModel)]="password" formControlName="password" name="password"
                id="password">&nbsp;
              <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              <span data-tip="Password must contain atleast 6 characters including 1 digit">
                <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.password.invalid && (addUserForm.controls.password.dirty || addUserForm.controls.password.touched)">
                Please enter valid password</div>
            </div>
            <div class="form-group  col-sm-4">
              <label class="required">Re-Password</label>
              <input type="password" class="form-control inputsmallsize30" placeholder="Re-Password"
                formControlName="repassword" name="repassword" id="repassword" [(ngModel)]="password" required>
              <div class="w3-panel w3-text-red"
                *ngIf="addUserForm.controls.repassword.invalid && (addUserForm.controls.repassword.dirty || addUserForm.controls.repassword.touched)">
                Please enter valid re-password</div>
            </div>
            <div class="registrationFormAlert form-group  col-sm-4">
              <label> </label>
              <div style="color:red;" id="CheckPasswordMatch"></div>
            </div>

          </div>

          <br>



          <div class="form-row spaceTop">
            <div class="form-group Adjustspace col-sm-12">
              <div class="col-sm-4">
              <label>Date Created : </label>
              <h5 style="font-family: calibri;font-size: 15px; ">{{dateValue1 | date:'fullDate'}}</h5>
            </div>
            <div class="col-sm-4">
              <label>Date Modified : </label>
              <h5 style="font-family: calibri;font-size: 15px; ">{{dateValue | date:'fullDate'}}</h5>
            </div>
            </div>
            <br>
            <div class="form-row spaceTop">
              <label class="w3-text-red spaceTop">* indicates required fields.</label>
            </div>
          </div>

        </div>
        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit">Update</button>
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
    type="submit" (click)="backToMenu()">Back</button>

        </div>

      </form>

    </div>

  </div>

</div>

<div>.</div>

<div class="select">

  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialP1" />
</div>