<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Search and Modify Customer Summary Report</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchDocumentform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">


            <div class="col-sm-2">
              <div class="input-icons">
                <label class="required">Search Document</label>
              </div>
            </div>
            <div class="col-sm-4">
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="document"
                required>
              <div class="w3-panel w3-text-red"
                *ngIf="SearchDocumentform.controls['document'].touched && SearchDocumentform.controls['document'].hasError('required')">
                Please Enter Search criteria to proceed</div>
            </div>

            <div class="col-sm-3">
              <select class="w3-input form-control w3-border inputsmallsize15 selectdocumenttype form-control">
                <option>Draft</option>
                <option>Approved</option>
                <option>Submitted</option>
                <option>Rejected</option>
                <option>archieved</option>

              </select>
            </div>

            <div class="col-sm-3">&emsp;&emsp;
              <button class="w3-btn  box-1 btn btn-one " style="background-color: #186CFB" type="button"
                (click)="searchandmodifypaymentreceipt()">Search</button>
            </div>
            <br><br>
          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th>DOCUMENT NUMBER</th>
                <th>DOCUMENT NAME</th>
                <th>CUSTOMER/SUPPLIER</th>
                <th> DOCUMENT DATE</th>
                <th> STATUS</th>
                <th>PREVIEW</th>
              </tr>
              <tr>
                <td width="100%" colspan="6">
                  <span>Enter Criteria to Search Document(s).</span>
                </td>
              </tr>

            </table>
          </div>


        </div>

      </form>
    </div>
  </div>
</div>
