<div class="container-full container-fluid">

  <div>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand w3-allerta w3-xxxlarge w3-text-blue" href="#">UCSPL </a>
      </div>
      <ul class="nav navbar-nav">

        <li><a routerLink="/nav" class="w3-bar-item  w3-button w3-text">Contact</a>&nbsp;</li>

      </ul>
    </div>

    <div></div>



  </div>
</div>


<div class="row">
  <div class="col-12">

    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card">


      <div class="w3-container w3-center  register-card centercard" style="background-color:white;">

      </div>
      <div style="background-color:white;" class="w3-container w3-center  register-card">
        <img src="assets/Universal_image.jpg" class="logo"><br>
      </div>


      <div class="w3-container container-fluid  register-card register-card1" style="background-color:white;">
        <form [formGroup]="loginForm">
          <label class="w3-text-black" style="font-family: 'calibri'; font-size: 15px;"><b>User Name</b></label>
          <input class="w3-input w3-border" type="email" formControlName="email" [(ngModel)]="email" id="email">


          <label class="w3-text-black" style="font-family: 'calibri'; font-size:15px;"><b>Password</b></label>
          <input class="w3-input w3-border" type="password" formControlName="password" [(ngModel)]="password" id="pass">
          <div class="w3-panel w3-text-red"
            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            Password must be at least 6 characters long, and contain a number</div>
          <br>

          <div>
            <div class="col-sm-7">
              <input type="checkbox" value="lsRememberMe" id="rememberMe" style="width:17px; height:15px;"
                name="rememberMe">&nbsp;<span style=" font-family: 'calibri'">Remember me</span>


            </div>
            <div class="col-sm-5">
              <a routerLink="/forgotpassword"  class="forgotpassword" href="" style="font-family: 'calibri'">Forgot password?</a>
            </div>
          </div>
          <br>

          <br>

          <div class="flex-parent jc-center">

            <button (click)="doLogin()" class="w3-btn box-1 btn  btn-one margin-right"><span
                style=" font-family: 'calibri'; size: 15px; color:black; "> <i
                  class="fa fa-lock"></i><label>&nbsp;&nbsp; Sign in </label></span></button>

          </div>

          <br>



        </form>

      </div>
    </div>


  </div>
</div>
