<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;"> CUSTOMER PURCHASE ORDER DOCUMENT </label>
    </div>

    <div class="flex-parent jc-center">

      <button type="button" id="openModalButton1" class="w3-btn  box-1 btn btn-one margin-right buttoncss "
        data-toggle="modal" data-target="#openModal1" (click)="manageDocument()"
        style="background-color: #008080;">Manage<br>
        Document</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss  " (click)="manageItems()"
        style="background-color: #008080;">Manage
        <br>Items</button>
      <button type="button" id="openModalButton" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal" (click)="manageFooter()" style="background-color: #008080;">Manage
        <br>Footers</button>


      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss" (click)="printPage()"
        style="background-color: #008080;">Print <br>Preview</button>
    </div>
    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">



      <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">


        <div class="form-group w3-row-padding space">
        </div>

        <div id="printable">

          <div class="adjusttable ">
            <table class="mytable mytable-body">


              <tr class="noborderbottom">
                <td class="col-6 td1" style="border-width: 1px 0px 0px 1px;">
                  <div class="leftspaceforcustomer">
                    <br>
                    <label>UCSPL PO No:</label> &nbsp;<span><input style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15 margin2" type="type"
                        [(ngModel)]="ucsplPoNo" disabled></span>
                    <br>
                    <br>

                    <label>Customer PO No:</label> &nbsp;<span><input style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15 margin2" type="type"
                        [(ngModel)]="custPoNo"></span>
                    <br>
                    <br>
                    <label>Customer PO Date:</label> &nbsp;
                    <span>
                      <ejs-datepicker style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy' id='datepicker'
                        [(ngModel)]="poDate">
                      </ejs-datepicker>
                    </span><br>

                  </div>
                </td>
                <td class="col-6 td1" style="border-width: 1px 1px 0px 0px;">
                  <div>
                    <label>Customer:</label><br>
                    <span>

                      <div>
                        <input list="customerName" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="customername" [(ngModel)]="customerNameTrial"
                          (ngModelChange)="customerNameChange($event)" autocomplete="off" required>
                        <datalist id="customerName" required>
                          <option value="null" disabled selected>{{customerNameTrial}}</option>
                          <option [ngValue]="customerData.name" [value]="customerData.name" selected
                            *ngFor="let customerData of trialCustomerWithAddress">{{customerData.address}}</option>
                        </datalist>
                      </div>

                      <div>{{ customerAddressline1 }} {{ customerAddressline2 }} <br>
                        {{ customerCity }}
                        {{ customerPin }},{{ customerCountry }}</div>
                      <div><b>State:</b> {{ customerState }} <b>State Code:</b> {{ stateCode }}
                        <b>PAN NO:</b>{{ customerPanNo }} <b>GSTIN:</b>{{ customerGstNo }}</div>

                    </span><br>
                    <label></label>

                  </div>
                </td>
              </tr>

            </table>
          </div>


          <div>
            <div class="adjusttable" id="tab">
              <form [formGroup]="reqdocParaDetailsForm">
                <table class="table" id="tblMultileads">
                  <thead>
                    <tr>
                      <th class="center">Sr.No.</th>
                      <th>ID. NO<button class="pull-right  btn-default btn-condensed hide-column noprint"
                          data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>ITEM/PART<br> CODE<button class="pull-right  btn-default btn-condensed hide-column noprint"
                        data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                        <i class="fa fa-close"></i>
                      </button></th>
                      <th>HSN No<button class="pull-right  btn-default btn-condensed hide-column noprint"
                        data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                        <i class="fa fa-close"></i>
                      </button></th>
                      <th>INSTRUMENT</th>
                      <th>RANGE <br>FROM</th>
                      <th>RANGE <br>TO</th>
                      <th *ngIf="closeQuantity==0">QUANTITY</th>
                      <th>RATE</th>
                      <th>ITEM <BR> DISC
                        <button class="pull-right  btn-default btn-condensed hide-column noprint" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th *ngIf="closeQuantity==0">Amount</th>
                      <th>SAVE <br>DATA
                        <button class="pull-right  btn-default btn-condensed hide-column" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button>
                      </th>


                    </tr>
                  </thead>
                  <tbody id="tbodyLeads" formArrayName="Rows">

                    <tr *ngFor="let itemrow of  reqdocParaDetailsForm.controls.Rows.controls;  let i=index;let l=last"
                      [formGroupName]="i">

                      <td>

                        {{i+1}}
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="idNo">
                      </td>

                      <td><input type="text" class="form-control inputsmallsize7" formControlName="customerPartNo">
                      </td>
                      <td><input type="text" class="form-control inputsmallsize7" formControlName="hsnNo">
                      </td>
                      <td style="width: 150px;">

                        <input list="instruname" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="instruname" formControlName="instruName" autocomplete="off" required>
                        <datalist id="instruname" required>
                          <option [ngValue]="instrument" *ngFor="let instrument of instrumentName">{{instrument}}
                          </option>

                        </datalist>

                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="description"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>
                      </td>
                      <td><input type="text" class="form-control inputsmallsize4" formControlName="rangeFrom">
                      </td>
                      <td><input type="text" class="form-control inputsmallsize4" formControlName="rangeTo">
                      </td>
                      <td *ngIf="closeQuantity==0"><input type="text" class="form-control inputsmallsize4" formControlName="quantity"
                          id="QUANTITY" (keyup)="getAmount1(i)"></td>
                      <td><input type="text" class="form-control inputsmallsize4" formControlName="rate" id="RATE"
                          (keyup)="getAmount1(i)"></td>
                      <td><input type="text" class="form-control inputsmallsize4" (keyup)="getAmount(i)"
                          formControlName="discountOnItem" id="DISCOUNT_ON_ITEM"></td>
                      <td class="right" *ngIf="closeQuantity==0"><input type="text" value="$999,00" class="form-control inputsmallsize7"
                          (click)="getAmount(i)" formControlName="amount"></td>

                      <td><button class="w3-btn box-2 btn btn-one margin-right button1  button11"
                          style=" width:49px; height:35px;" id="btn-{{i}}"
                          (click)="saveItemDetails(i)">save</button>&nbsp;&nbsp;&nbsp;<span><i
                            class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow1(i)"></i></span> <br>
                      </td>
                    </tr>
                  </tbody>

                  <tfoot class="footer-restore-columns">
                    <tr>
                      <th colspan="11"><a class="restore-columns noprint">show hidden columns</a></th>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
            <div class="form-row" style="background-color:white;">
              <div class="col-sm-10">
                <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                  style="background-color: #008080; width:50px; height:40px;" (click)="addNewRow()"> Add</button>
                </div>
              
                  <div *ngIf="closeQuantity==1" class="col-sm-2 adjustPoValue">
                    <label>PO  Value : </label>&nbsp;&nbsp;<input type="text" class="form-control inputsmallsize7" style="display: inline-block; border: 2px solid black;background-color: rgb(163, 223, 220);font-size: medium;" [(ngModel)]="poValue">
                    </div>
  
              </div><br>
            <div class="summary adjusttable" >
              <!-- <div *ngIf="closeQuantity==1">
              <label>PO Value:</label>&nbsp;<input type="text" class="form-control inputsmallsize7" style="display: inline-block; border: 2px solid black;background-color: rgb(133, 216, 212);" [(ngModel)]="poValue">
              </div> -->
              <table *ngIf="closeQuantity==0">
                <tbody>

                  <tr>
                    <td class="col-6 td1"> Gross Amount in Words : {{netValueInWords}}</td>
                    <td class="col-6 td1">
                      <table>
                        <tbody>
                          <tr>
                            <td class="right">
                              <strong>SUBTOTAL= </strong>
                            </td>
                            <td class="right">{{subTotal}}</td>

                          </tr>
                          <tr *ngIf="disc==1">
                            <td class="right">
                              <strong>DISCOUNT ON SUBTOTAL=</strong>
                            </td>
                            <td class="right"><input type="number" style="float:right; clear:both;direction: rtl;"
                                class="form-control  inputsmallsize5" [(ngModel)]="discountOnSubtotal"
                                (keyup)="discountOnSubTotal()" (click)="discountOnSubTotal()" value=""></td>

                          </tr>
                          <tr>
                            <td class="right">
                              <strong>TOTAL= </strong>
                            </td>
                            <td class="right">{{total}}</td>
                          </tr>

                          <tr *ngIf="cgstDisplay==1">
                            <td class="right">
                              <strong>CGST 9%=</strong>
                            </td>
                            <td class="right">{{cgstAmount | number : '1.2-2'}}</td>
                          </tr>

                          <tr *ngIf="igstDisplay==1">
                            <td class="right">
                              <strong>IGST 18%=</strong>
                            </td>
                            <td class="right">{{igstAmount | number : '1.2-2'}}</td>
                          </tr>
                          <tr *ngIf="sgstDisplay==1">
                            <td class="right">
                              <strong>SGST 9%=</strong>
                            </td>
                            <td class="right">{{sgstAmount | number : '1.2-2'}}</td>
                          </tr>


                          <tr>
                            <td class="right">
                              <strong>NET ₹=</strong>
                            </td>
                            <td class="right">
                              <strong>{{netValue | number : '1.2-2' }}</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <br>
            <div>
              <span><b>List of attached Documents:</b>
                <br>
              </span>
              <div *ngFor="let dynamic of poAttachFiles; let i = index;">
                <div *ngIf="file == 1" style="text-align: left;">

                  <span> <a (click)="getSelectedFile(i)" style="color:blue;">{{dynamic.originalFileName}}</a></span>

                </div>
              </div>



              <br>
              <p style="color:#000;font-size:15px">
                Thanking You,<br>
                For, UNIVERSAL CALIBRATION SERVICES PVT. LIMITED
              </p><br><br>

              <span style="color:#000;font-size:15px">
                (Mr. R. M. Bhosale)<br>
                9822006244, 9011023770
              </span>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div><br>
<div class="flex-parent jc-center ">
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="saveAllData()">Submit</button>

  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="backToMenu()">Back</button>
</div>
<div>.</div>




<!----------------------------------------------- Code for Manage Footer--------------------------------------------------------------------------------------------------------->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>
        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">


              <div class="form-group w3-row-padding space"
                style="background-color:white;border:gray; text-align:center; ">
                <label style="font-size: 30px; color:#008080; text-align:center; "> Manage Footers </label>
                <br><br>

                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-3 spaceleft">
                    <label style="font-size: 15px; text-align:left; color:black;">Footer Type</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control inputsmallsize30 adjusttable" (ngModelChange)="footerType($event)"
                      [(ngModel)]="itemtype" name="itemtype" id="itemtype" required>
                      <option value="null" disabled selected>--Select--</option>
                      <option value=1>FOOTER_SALES_QUOTATION_TERMS</option>
                      <option value=2>FOOTER_FREE_FORM</option>
                      <option value=3>FOOTER_FILE_ATTACHMENT</option>
                      <option value=4>FOOTER_DISC_ON_SUBTOTAL</option>
                      <option value=5>FOOTER_TAXES</option>
                    </select>
                  </div>

                  <br>

                  <div>

                    <div id="taxes_style" *ngIf="selectTagEvent==3">
                      <br><br>
                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-3 spaceleft"> <label
                            style="font-size: 15px; text-align:left; color:black;">Document Name</label>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control inputsmallsize30 adjusttable"
                            [(ngModel)]="documentName" name="docName" id="docName" required>
                        </div>
                      </div><br>
                      <div>
                        <div class="col-sm-3 spaceleft">
                          <label style="font-size: 15px; text-align:left; color:black;">PO Attachment</label>
                        </div>
                        <div class="col-sm-9">
                          <input type="file" id="docFile" [(ngModel)]="fileUpload"
                            (change)="onFileChangedForDocument($event)"><br><br>


                        </div>
                      </div><br><br>

                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="flex-parent jc-center col-sm-12">
                          <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                            style="background-color: #008080; width:100px; height:40px;"
                            (click)="onUploadForDocument()"> Upload Po File</button>
                          <div style="color:#439b43;" id="enquiryFile"></div>
                          <span id="blah"></span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <br><br><br>

                  <div class="form-row " style="background-color:white;">
                    <div class="adjusttable">
                      <table class="table" id="tblMultileads" style="border:solid 1px grey;">
                        <thead>
                          <tr>
                            <th class="center" style="text-align: center;">ITEM DETAILS</th>
                            <th style="text-align: center;">ACTION</th>
                          </tr>
                        </thead>

                        <tbody id="tbodyLeads">

                          <tr *ngIf="disc == 1" style="text-align: center;">
                            <td>Discount on Subtotal</td>
                            <td><i class="fa fa-close" style="font-size:28px;color:red"
                                (click)="deleteDiscOnSubtotal()"></i></td>
                          </tr>
                          <ng-container *ngFor="let dynamic of poAttachFiles; let i = index;">
                            <tr *ngIf="file == 1" style="text-align: center;">
                              <td>{{dynamic.documentName}}<br>
                                <a (click)="getSelectedFile(i)" style="color:blue;">{{dynamic.originalFileName}}</a>
                              </td>
                              <td><i class="fa fa-close" style="font-size:28px;color:red" (click)="deletePoFile(i)"></i>
                              </td>
                            </tr>
                          </ng-container>


                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div>.</div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!----------------------------------------------- Code for Manage Document--------------------------------------------------------------------------------------------------------->
<div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup1">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> PURCHASE ORDER DOCUMENT </label>
            </div>


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

              <form [formGroup]="manageDocumentForm" (ngSubmit)="onSubmit()">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <label style="font-size: 30px; color:#008080"> Manage Document </label>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-4 spaceleft">
                      <label>UCSPL PO No</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="documentNumber" formControlName="documentNumber" readonly>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label class="required">Document Type</label>
                      <select class="form-control inputsmallsize30" [(ngModel)]="documentType"
                        formControlName="documentType" name="document_type" id="document_type" required>
                        <option selected disabled value="null">--Select Doc Type--</option>
                        <option>Customer PO Closed</option>
                        <option>Customer PO Open</option>
                      </select>
                      <div class="w3-panel w3-text-red"
                        *ngIf="manageDocumentForm.controls['documentType'].touched && manageDocumentForm.controls['documentType'].hasError('required')">
                        Please select Document Type</div>

                    </div>

                    <div class="col-sm-4 adjustleft">
                      <label class="required">Valid To Date</label>
                      <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                        id='datepicker' [ngModel]="validToDate" formControlName="validToDate">
                      </ejs-datepicker>
                    </div>
                    <br>
                  </div>

                  <div class="form-row spaceTopBottom" style="background-color:white;">


                    <div class="col-sm-4 spaceleft">
                      <label>Created By</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="createdBy" formControlName="createdBy">
                    </div>
                    <div class="col-sm-4 spaceleft">
                      <label>Status</label>
                      <select class="form-control inputsmallsize30" [(ngModel)]="status" formControlName="status"
                        name="status" id="status" required>
                        <option value="null" disabled selected>--Select Status--</option>
                        <option value="Draft">Draft</option>
                        <option value="Approved">Approved</option>
                        <option value="Submitted">Submitted</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Archieved">Archieved</option>
                      </select>
                    </div>
                    <div class="col-sm-4 spaceleft">
                      <label>Approved By</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="approvedBy" formControlName="approvedBy">
                    </div>
                    <br>
                  </div>
                  <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-4 spaceleft">
                    <label>Update History</label>
                    <textarea style="display:inline-block;"
                      class="w3-input form-control w3-border  textboxareascrolling1" [(ngModel)]="updateHistory"
                      formControlName="updateHistory">
                          </textarea>
                  </div>
                  </div>

                </div>

                <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div>

              </form>
            </div>
          </div>
          <div>.</div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="select">

  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialP1" />
</div>
