<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Create Payment Receipt</label><br>
    </div>



    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchUserform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-3 spaceleft">
              <label>By Name</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Name"
                [(ngModel)]="Name" formControlName="name">
            </div>
            &emsp;&emsp;
            <div class="col-sm-3 adjustleft">
              <label>By Dept</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Department"
                formControlName="department">
            </div>
            &emsp;&emsp;
            <div class="col-sm-3 adjustleft">
              <label>By Address</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Address"
                formControlName="address">
            </div>
            &emsp;&emsp;
            <div class="col-sm-2">
              <label style="display:inline-block;" class="adjustlabel">Active</label>&emsp;&emsp;&emsp;
              <label style="display:inline-block;" class="adjustlabel2">Inactive</label><br>
              <input style="display:inline-block;" class="radio" type="radio" name="Status" value="active" checked
                formControlName="status">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
              <input style="display:inline-block;" class="radio" type="radio" name="Status" value="inactive" checked
                formControlName="status">
            </div>

            <div class="col-sm-1">
              <button class="w3-btn  box-1 btn btn-one " style="background-color: #186CFB" type="button"
                (click)="functionname()">Search</button>
            </div>

          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th style="text-align: center;">NAME</th>
                <th style="text-align: center;">DEPARTMENT</th>
                <th style="text-align: center;">ADDRESS</th>
                <th style="text-align: center;">CONTACT DETAILS</th>
                <th style="text-align: center;">PREVIEW</th>
              </tr>
              <tr>

                <td width="100%" colspan="5"><span> Enter Criteria to search customer(s).</span></td>
                <!--       <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td> -->
              </tr>
            </table>
          </div>


        </div>


      </form>
    </div>
  </div>
</div>
