<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);"> Add Definition </label><br>
    </div>


    <div class="w3-container w3-card register-card " style="background-color:white;">
      <form [formGroup]="addDefinitionForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">Caterory</label><br>
           
              <input list="categoryname" type="text" class="w3-input form-control w3-border inputsmallsize30"
              formControlName="category" name="categoryname" [(ngModel)]="categoryName" (ngModelChange)="changeStructure()" autocomplete="off" required> 
                      <datalist id="categoryname" required>
                        <option [ngValue]="category1" *ngFor="let category1 of categoryNames">{{category1}}</option>
                 </datalist>

              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['category'].touched && addDefinitionForm.controls['category'].hasError('required')">
                Please select category</div>
             
            </div>

            <!-- <div class="col-sm-3">
              <label class="required">Type</label>
              <select class="form-control inputsmallsize15" formControlName="type" [(ngModel)]="type" required>
                <option selected disabled value="null">--Select--</option>
                <option>USER_DEFINED</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['type'].touched && addDefinitionForm.controls['type'].hasError('required')">
                Please select type</div>
            </div> -->


            <div *ngIf="this.hideNameAndStatus==0" class="col-sm-4">
              <label class="required"> Name</label><br>
              <input class="w3-input form-control w3-border inputsmallsize30" style="display:inline-block;" type="text"
                placeholder="Name" formControlName="name" [(ngModel)]="name" required>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls.name.invalid && (addDefinitionForm.controls.name.dirty || addDefinitionForm.controls['name'].touched)">
                Please enter valid name</div>
            </div>

            <div *ngIf="this.hideNameAndStatus==0" class="col-sm-4">
              <label class="required">Status</label>
              <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status" [(ngModel)]="status" required>
                <!-- <option selected disabled value="null">--Select--</option> -->
                <option value="1">Active</option>
                <option value="0">Inactive</option>                                                                                                                                                                                                                                                              
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['status'].touched && addDefinitionForm.controls['status'].hasError('required')">
                Please select status</div>
            </div>
           <br>
          </div>


          <div *ngIf="hideDisplayName==0" class="form-row spaceTopBottom" style="background-color:white;">
           
            <div class="col-sm-5">
              <label> Display Name</label><br>
              <textarea class="w3-input form-control w3-border  textboxarea" type="text"
                formControlName="description" [(ngModel)]="description"> </textarea>

            </div>
        
          </div>


          <div *ngIf="displayDateData==1" class="form-row spaceTopBottom" style="background-color:white;">
        
            <!-- <div class="col-sm-4 spaceleft">
              <label class="required">Available Dates</label>
              <select class="form-control inputsmallsize30" formControlName="dateColletion" required>
                <option value="null" disabled selected>--Available Financial Year Dates--</option>
                <option [ngValue]="startDate" *ngFor="let startDate of statrtDateCollection">{{startDate}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createSalesQuotationform.controls['typeOfQuotation'].touched && createSalesQuotationform.controls['typeOfQuotation'].hasError('required')">
                Please select Document Type</div> 
            </div> -->

            <div class="col-sm-4 adjustleft">
              <label class="required">Financial Year Starts From</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue4" formControlName="fromDate">
              </ejs-datepicker>
            </div>
  
          
            <div class="col-sm-4">
              <label class="required">Status</label>
              <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status" [(ngModel)]="status" required>
                <!-- <option selected disabled value="null">--Select--</option> -->
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['status'].touched && addDefinitionForm.controls['status'].hasError('required')">
                Please select status</div>
            </div>
  
   
         </div>

         <div class="form-row spaceTopBottom" style="background-color:white;">

          <div *ngIf="displayUomData==1" class="col-sm-4 adjustleft">
            <label class="required">Parameter</label>
            <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="selectParameter"
              formControlName="selectParameter" required>
              <option [value]="paraName" *ngFor="let paraName of arrayParameterNames">{{paraName}}</option>
            </select>
            <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['selectParameter'].touched && addDefinitionForm.controls['selectParameter'].hasError('required')">
                Please select parameter for uom</div>
          </div>
    
          <div *ngIf="displayParameterData==1" class="col-sm-4 adjustleft">
            <label class="required">Frequency</label>
            <select class="w3-input form-control w3-border inputsmallsize15" [(ngModel)]="frequency"
              formControlName="frequency" required>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>                     
            <div class="w3-panel w3-text-red"
                *ngIf="addDefinitionForm.controls['frequency'].touched && addDefinitionForm.controls['frequency'].hasError('required')">
                Please select frequency</div>
          </div>
    
          </div>


 <!-- <div class="form-row col-sm-12 ">
            <label class="w3-text-red">* indicates required fields.</label>
          </div> -->
         
        </div>
        <br>
        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
            type="submit">Create</button>
          <!-- <button class="w3-btn  box-1 btn btn-one" style="background-color: #008080" type="button"> Back To Menu
          </button> -->
        </div>
      </form>
    </div>
  </div>

</div>
