





<div class="w3-container  align-center w3-card register-card ">

  <div class="w3-container w3-center w3-card register-card" style="background-color:white;">
    <label class=" w3-lobster w3-xxxlarge w3-text-teal">Student Registration Form</label><br>
    <label>Fill out the form carefully for registration</label>
  </div>

<div class="w3-container w3-card register-card" style="background-color:white;" >
<form [formGroup]="registerForm" (ngSubmit)="store()">

    <div class="form-group" style="background-color:white;">

      <div class="w3-row-padding space" style="background-color:white;">
        <div class="w3-third">
          <label>First Name</label>
          <input class="w3-input w3-border" type="text" placeholder="One" formControlName="firstName" >
          <div class="w3-panel w3-red"  *ngIf="registerForm.controls.firstName.invalid && (registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched)">Please enter valid first name</div> 
          
        </div>
        <div class="w3-third">
          <label>Middle Name</label>
          <input class="w3-input w3-border" type="text" placeholder="Two" formControlName="middleName" >
          <div class="w3-panel w3-red"  *ngIf="registerForm.controls.middleName.invalid && (registerForm.controls.middleName.dirty || registerForm.controls.middleName.touched)">Please enter valid Middle name</div> 
        </div>
        <div class="w3-third">
          <label>Last Name</label>
          <input class="w3-input w3-border" type="text" placeholder="Three" formControlName="lastName" >
          <div class="w3-panel w3-red"  *ngIf="registerForm.controls.lastName.invalid && (registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched)">Please enter valid last name</div> 
          
        </div>

      </div>   

  <div class="w3-row-padding space" style="background-color:white;" >
    <div class="w3-col s6">
      <label>Birth Date</label>
      <ejs-datepicker   id='datepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' formControlName="birthdate"></ejs-datepicker>
    </div>

 <div class="w3-col s6 " style="background-color:white;">
  <label >Gender :</label>
  <select id="gender" name="gender" class="w3-input w3-border" formControlName="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>
</div>
</div>      

  <div class="add space" style="background-color:white;">
    <label >Address</label>
    <textarea name="textarea" class="w3-input w3-border" formControlName="address" >
      </textarea>
    </div>

    <div class="w3-row-padding  space" style="background-color:white;">
      <div class="w3-col s6">
        <label>Email</label>
        <input class="w3-input w3-border" type="email"  formControlName="email" >
        <div class="w3-panel w3-red"  *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">Please enter valid email address</div> 
      </div>

        <div class="w3-col s6">
          <label>Phone Number</label>
          <input class="w3-input w3-border" type="tel" formControlName="phoneno" >
          <div class="w3-panel w3-red"  *ngIf="registerForm.controls.phoneno.invalid && (registerForm.controls.phoneno.dirty || registerForm.controls.phoneno.touched)">Please enter valid phone number</div> 
        </div>
    </div>


  <div class="add w3-row-padding" style="background-color:white;">

  <label>Courses </label><br>
  <table>

    <tr>
      <td>  <p><input class="radio" type="radio" name="course" value="java" checked formControlName="course"></p></td>
    <td><label class="w3-validate">JAVA</label> &nbsp;&nbsp;</td>
   
  <td><p><input class="radio" type="radio" name="course" value="cpp" formControlName="course"></p> </td> 
  <td> <label class="w3-validate">C++</label>  &nbsp;&nbsp;</td>
 
  
  <td><p><input class="radio" type="radio" name="course" value="c" formControlName="course"> </p>  </td>
    <td><label class="w3-validate">C</label> &nbsp;&nbsp;</td>

    
  <td><p><input class="radio" type="radio" name="course" value="none" formControlName="course"></p></td>
    <td><label class="w3-validate">None</label></td>
  </tr>
  </table>    
    </div>

      <div class="w3-row-padding space" style="background-color:white;">
        <div class="w3-col s6">
          <label>User Name</label>
          <input type="text" name="uname" class="w3-input w3-border" formControlName="username">
          </div>
          <div class="w3-col s6">
            <label>Password</label>
            <input type="password" name="pwd" class="w3-input w3-border" formControlName="password" >
            <div class="w3-panel w3-red"  *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">Password must be at least 6 characters long, and contain a number</div> 
            </div>
      </div>
    </div>

    <div class="w3-row-padding space add" style="background-color:rgb(255, 255, 255);">
        <button (click)="navigateToRegisterDetail()"  class="w3-btn w3-teal w3-text-black btn effect01" type="submit"  [disabled]="!registerForm.valid" >Register</button>
        <button  class="w3-btn w3-teal w3-text-black btn effect01" type="reset">Clear</button>
        <a [routerLink]="['/login']" class="w3-btn w3-teal w3-text-black btn effect01">Cancel</a>


    </div>
</form>
</div>
</div>
