<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;"> SALES QUOTATION DOCUMENT </label>
    </div>

    <div class="flex-parent jc-center">
      <button type="button" id="openModalButton1" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal1" (click)="manageDocument()"
        style="background-color: #008080;">Manage
        <br>Document</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss " (click)="ManageHeader()"
        style="background-color: #008080;">Manage<br>
        Headers</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss  " (click)="manageItems()"
        style="background-color: #008080;">Manage
        <br>Items</button>
      <button type="button" id="openModalButton" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal" (click)="manageFooter()" style="background-color: #008080;">Manage
        <br>Footers</button>


      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss" (click)="printPage()"
        style="background-color: #008080;">Print <br>Preview</button>
    </div>
    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">



      <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">


        <div class="form-group w3-row-padding space">
        </div>

        <div id="printable">
          <div class="textcenter">
            <label>
              QUOTATION
            </label>
          </div>
          <div class="adjusttable ">
            <table class="mytable mytable-body">
              <tr>
                <td class="col-6 td1">
                  <h5>To,</h5>
                  <div class="leftspaceforcustomer">

                    <input list="customerName" type="text" class="w3-input form-control w3-border inputsmallsize30"
                      name="customername" [(ngModel)]="customerNameTrial" (ngModelChange)="customerNameChange($event)"
                      autocomplete="off" required>
                    <datalist id="customerName" required>
                      <option value="null" disabled selected>{{customerNameTrial}}</option>
                      <option [ngValue]="customerData.name" [value]="customerData.name" selected
                        *ngFor="let customerData of trialCustomerWithAddress">{{customerData.address}}</option>
                    </datalist>
                  </div>

                  <div class="leftspaceforcustomer">{{ customerAddressline1 }} {{ customerAddressline2 }} <br>
                    {{ customerCity }}
                    {{ customerPin }},{{ customerCountry }}</div>
                  <div class="leftspaceforcustomer"><b>State:</b> {{ customerState }} <b>State Code:</b> {{ stateCode }}
                    <b>PAN NO:</b>{{ customerPanNo }} <b>GSTIN:</b>{{ customerGstNo }}</div>
                </td>
                <td class="col-6 td1">
                  <span><b>UNIVERSAL CALIBRATION SERVICES PVT LIMITED</b>
                    <br>
                    PLOT NO.G 43/1 &amp; 2,G 44/1 &amp; 2, G-Block ,AJANTA NAGAR, BEHIND KASTURI MARKET, MIDC,
                    CHINCHWAD, PUNE-411019, Phone No : 020 67115100<br>
                    email Id : mkt@universalinstruments.co.in <br>
                  </span>
                  <span style="font-size: 13px;"><b>State :</b> Maharashtra <b> State Code :</b> 27 <b> PAN NO :</b>
                    AABCU3149C <b> GSTIN :</b>
                    27AABCU3149C1ZL</span>
                </td>
              </tr>

              <tr class="noborderbottom">
                <td class="col-6 td1" style="border-width: 1px 0px 0px 1px;">
                  <div>
                    <label>Quotation No</label> : <span> <input list="branchDesc" type="text"
                        class="w3-input form-control w3-border inputsmallsizeForBranch" name="quotationNo"
                        [(ngModel)]="prefixQuotationNumber" autocomplete="off" style="display:inline-block;" required>
                      <datalist id="branchDesc" required>

                        <option value="null" disabled selected>{{prefixQuotationNumber}}</option>
                        <option [ngValue]="branchData.description" [value]="branchData.description" selected
                          *ngFor="let branchData of branchWithDescription">{{branchData.branch}}</option>
                      </datalist> {{ quotationNumber }}

                    </span>

                    <br>
                    <label>Quotation Date</label> : &nbsp;
                    <span>
                      <ejs-datepicker style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy' id='datepicker'
                        [(ngModel)]="dateOfQuotation1">
                      </ejs-datepicker>
                    </span><br>
                    <label>Kind Attention</label> : &nbsp;<span><input style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15 margin2" type="type"
                        [(ngModel)]="kindAttentionTrial"></span> <br>

                  </div>
                </td>
                <td class="col-6 td1" style="border-width: 1px 1px 0px 0px;">
                  <div>
                    <label>Your Reference Number</label> : &nbsp;<span><select class="form-control inputsmallsize15"
                        style="display: inline-block;" [(ngModel)]="customerReferenceTrial" name="custRefNo"
                        id="custRefNo" required>

                        <option [ngValue]="reference1" *ngFor="let reference1 of referenceName">{{reference1}}</option>
                      </select></span> <br>

                    <label>Reference Date</label> : &nbsp;<span>
                      <ejs-datepicker style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15 margin3" format='dd-MM-yyyy'
                        id='datepicker' [(ngModel)]="referenceDate1">
                      </ejs-datepicker>
                    </span>

                    <br>
                    <label></label><br>

                  </div>
                </td>
              </tr>

              <tr style="border-width: 0px 1px 1px 1px;">
                <td style="border-width: 0px 1px 1px 1px;" colspan="2">
                  <div style="border-width: 0px 1px 1px 1px;" class="leftspaceforcustomer">
                    Dear Sir,<br>
                    We acknowledge with thanks for your enquiry of Calibration of Instruments, we are pleased to
                    offer as follows.
                  </div>
                </td>
              </tr>
            </table>
          </div>


          <div>
            <div class="adjusttable" id="tab">
              <form [formGroup]="reqdocParaDetailsForm">
                <table class="table" id="tblMultileads">
                  <thead>
                    <tr>
                      <th class="center">Sr.<br> No.</th>
                      <th>INSTRUMENTS<BR>/DESCRIPTION</th>
                      <th>ID. NO<button class="pull-right  btn-default btn-condensed hide-column noprint"
                          data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>ACCREDIATION</th>
                      <th>RANGE<BR>/ACCURACY</th>
                      <th>SAC CODE</th>
                      <th>QUANTITY</th>
                      <th>RATE</th>
                      <th>ITEM <BR> DISC
                        <button class="pull-right  btn-default btn-condensed hide-column noprint" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>AMOUNT</th>
                      <th>SAVE <br>DATA
                        <button class="pull-right  btn-default btn-condensed hide-column" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button>
                      </th>


                    </tr>
                  </thead>
                  <tbody id="tbodyLeads" formArrayName="Rows">

                    <tr *ngFor="let itemrow of  reqdocParaDetailsForm.controls.Rows.controls;  let i=index;let l=last"
                      [formGroupName]="i">

                      <td>
                        <!-- <input class="form-control inputsmallsize2" style="display: inline-block;" id="sr_no"
                        type="text"  formControlName="srNo"> -->
                        {{i+1}}
                      </td>
                      <td>

                        <input list="instruname" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="instruname" formControlName="instruName" autocomplete="off" required>
                        <datalist id="instruname" required>
                          <option [ngValue]="instrument" *ngFor="let instrument of instrumentName">{{instrument}}
                          </option>

                        </datalist>

                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="description"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>
                      </td>


                      <td><input type="text" class="form-control inputsmallsize5" formControlName="idNo">
                      </td>
                      <td>

                        <input list="accrediationName" type="text"
                          class="w3-input form-control w3-border inputsmallsize15" name="accrediationName"
                          formControlName="accrediation" autocomplete="off" required>
                        <datalist id="accrediationName" required>
                          <option value="NABL"></option>
                          <option value="NON-NABL"></option>
                          <option value="Subcontracting NABL"></option>
                          <option value="Subcontracting NON-NABL"></option>
                        </datalist>
                      </td>


                      <td><input type="text" class="form-control inputsmallsize7" formControlName="range">
                      </td>
                      <td><input type="text" value="00998346" class="form-control inputsmallsize5"
                          formControlName="sacCode"></td>
                      <td><input type="text" class="form-control inputsmallsize4" formControlName="quantity"
                          id="QUANTITY" (keyup)="getAmount1(i)"></td>
                      <td><input type="text" class="form-control inputsmallsize6" formControlName="rate" id="RATE"
                          (keyup)="getAmount1(i)"></td>
                      <td><input type="text" class="form-control inputsmallsize4" (keyup)="getAmountTrial(i)"
                          formControlName="discountOnItem" id="DISCOUNT_ON_ITEM"></td>

                      <td class="right"><input type="text" class="form-control inputsmallsize7"
                          (click)="getAmountTrial(i)" formControlName="amount"></td>
                      <!--   <td><button class="w3-btn box-2 btn btn-one margin-right button1  button11" style="background-color: #186CFB; width:35px; height:25px;" (click)="SaveItemData($event, i)">save</button></td>   -->
                      <td><button class="w3-btn box-2 btn btn-one margin-right button1  button11"
                          style=" width:60px; height:35px;" id="btn-{{i}}"
                          (click)="saveItemDetails(i)">save</button>&nbsp;&nbsp;&nbsp;<span><i
                            class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow1(i)"></i></span> <br>
                      </td>

                    </tr>


                  </tbody>

                  <tfoot class="footer-restore-columns">
                    <tr>
                      <th colspan="11"><a class="restore-columns noprint">show hidden columns</a></th>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
            <div>
              <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                style="background-color: #008080; width:50px; height:40px;" (click)="addNewRow()"> Add</button>

            </div>
            <div class="summary adjusttable">
              <table>
                <tbody>

                  <tr>
                    <td class="col-6 td1"> Gross Amount in Words : {{netValueInWords}}</td>
                    <td class="col-6 td1">
                      <table>
                        <tbody>
                          <tr>
                            <td class="right">
                              <strong>SUBTOTAL= </strong>
                            </td>
                            <td class="right">{{subTotal}}</td>

                          </tr>
                          <tr *ngIf="disc==1">
                            <td class="right">
                              <strong>DISCOUNT ON SUBTOTAL=</strong>
                            </td>
                            <td class="right"><input type="number" style="float:right; clear:both;direction: rtl;"
                                class="form-control  inputsmallsize5" [(ngModel)]="discountOnSubtotal"
                                (keyup)="discountOnSubTotal()" (click)="discountOnSubTotal()" value=""></td>

                          </tr>
                          <tr>
                            <td class="right">
                              <strong>TOTAL= </strong>
                            </td>
                            <td class="right">{{total}}</td>
                          </tr>
                          <!-- <tr *ngFor="let t of taxesList">
                            <td class="right">{{t.name}}</td>
                            <td class="right">{{t.taxAmount | number : '1.2-2'}}</td>

                          </tr> -->

                          <tr *ngIf="cgstDisplay==1">
                            <td class="right">
                              <strong>CGST 9%=</strong>
                            </td>
                            <td class="right">{{cgstAmount | number : '1.2-2'}}</td>
                          </tr>

                          <tr *ngIf="igstDisplay==1">
                            <td class="right">
                              <strong>IGST 18%=</strong>
                            </td>
                            <td class="right">{{igstAmount | number : '1.2-2'}}</td>
                          </tr>
                          <tr *ngIf="sgstDisplay==1">
                            <td class="right">
                              <strong>SGST 9%=</strong>
                            </td>
                            <td class="right">{{sgstAmount | number : '1.2-2'}}</td>
                          </tr>


                          <tr>
                            <td class="right">
                              <strong>NET ₹=</strong>
                            </td>
                            <td class="right">
                              <strong>{{netValue | number : '1.2-2' }}</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div>
              <span><b>Note:Plese fillup our service request form for promt service and error free calibration
                  certificates</b>
                <br>
              </span><br>

              <div class="col-sm-4 adjustleft ">
                <label>Payment Terms & Conditions </label>


                <select class="form-control inputsmallsize40" [(ngModel)]="paymentTerms" name="paymentTerms"
                  id="paymentTerms" (ngModelChange)="changePaymentTerms()" placeholder="--Select Payment Terms--">
                  <option [ngValue]="terms.id" *ngFor="let terms of paymentTermList">{{terms.name}}</option>
                </select>


              </div>
              <div class="col-sm-4 adjustleft ">
                <div *ngIf="termbox1==1">
                  <div>
                    <label> advance</label> </div>
                  <div class="col-sm-2 adjustleft" *ngIf="termbox1==1">
                    <input class="w3-input form-control w3-border inputsmallsize5" style="display: inline-block;"
                      (keyup)="descriptionForPaymentTerms()" type="text" [(ngModel)]="box1">

                  </div>

                  <div class="col-sm-2 adjustleft" *ngIf="termbox2==1">
                    <input class="w3-input form-control w3-border inputsmallsize5"
                      (keyup)="descriptionForPaymentTerms()" type="text" [(ngModel)]="box2" disabled>
                  </div>
                  <label class="required" style="color:red;">% value should be between 0 to 100</label>
                </div>
              </div>

              <div class="col-sm-4 adjustleft ">
                <label>Terms & Conditions </label>
                <ng-multiselect-dropdown-angular7 [placeholder]="'Terms and Condition'" [data]="dropdownList"
                  [(ngModel)]="selectedItems"  [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)"
                  (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown-angular7>
              </div>


              <br><br><br><br>

              <div class="col-sm-12 adjustleft">
                <label> Description for Terms & Conditions</label><br>
                <table style="border: 2px solid white ;">
                  <tbody>
                    <tr style="border: 2px solid white ;">Taxes- CSGT 9% & SGCST 9%, or IGST 18%(SAC 00998346)</tr>
                    <tr style="border: 2px solid white ;">Spares-Extra if any for repair</tr>
                    <tr style="border: 2px solid white ;">Items for calibration should be sent & collected personally to
                      ensure safety of your costly equipments. If it is sent through courier,it will be on your own risk
                      & responsibility.</tr>
                    <tr style="border: 2px solid white ;">Instruments status-While calibration instruments should be in
                      working condition.</tr>
                    <tr style="border: 2px solid white ;">Calibration Schedule-Calibration schedule should be informed
                      at least one week in advance or as per mutual discussion.</tr>
                    <tr style="border: 2px solid white ;">Certainty-Quoted rates are best understanding from
                      information’s given by you. At the time of calibration capability for calibration & charges may
                      changes.</tr>
                    <tr style="border: 2px solid white ;">We will handle the equipments received for calibration with
                      utmost care. However, if it breaks during calibration process due to any defect in the Equipment,
                      we will not be responsible for the same.</tr>
                  </tbody>
                </table>
                <table style="border: 2px solid white ;">
                  <tbody>
                    <tr style="border: 2px solid white ;">{{paymentTermDescription}}</tr>
                  </tbody>
                </table>

                <table style="border: 2px solid white ;">
                  <tbody>
                    <tr style="border: 2px solid white ;" *ngFor="let term1 of termDescriptionArray1; let i = index;">
                      {{term1}}
                    </tr>
                    <tr>
                      <textarea class="textareaheightwidth1" [(ngModel)]="remarkForTerm"
                        placeholder="Enter Remark Here"></textarea>

                    </tr>
                  </tbody>
                </table>
                <br>
              </div>
              <p style="color:#000;font-size:15px">
                We hope you will find our offer satisfactory and looking forward to receive your valued order, which we
                assure that you shall receive prompt attention. <br>
                Please feel free contact us if any doubt or any additional information needed.
              </p>
              <br>
              <p style="color:#000;font-size:15px">
                Thanking You,<br>
                For, UNIVERSAL CALIBRATION SERVICES PVT. LIMITED
              </p><br><br>

              <span style="color:#000;font-size:15px">
                (Mr. R. M. Bhosale)<br>
                9822006244, 9011023770
              </span>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div><br>
<div class="flex-parent jc-center ">
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="saveAllData()">Submit</button>
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="backToMenu()">Back</button>
</div>
<div>.</div>




<!----------------------------------------------- Code for Manage Footer--------------------------------------------------------------------------------------------------------->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>
        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

              <div class="form-group w3-row-padding space"
                style="background-color:white;border:gray; text-align:center; ">
                <label style="font-size: 30px; color:#008080; text-align:center; "> Manage Footers </label>
                <br><br>

                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-3 spaceleft">
                    <label style="font-size: 15px; text-align:left; color:black;">Footer Type</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control inputsmallsize30 adjusttable" (ngModelChange)="footerType($event)"
                      [(ngModel)]="itemtype" name="itemtype" id="itemtype" required>
                      <option value="null" disabled selected>--Select--</option>
                      <option value=1>FOOTER_SALES_QUOTATION_TERMS</option>
                      <option value=2>FOOTER_FREE_FORM</option>
                      <option value=3>FOOTER_FILE_ATTACHMENT</option>
                      <option value=4>FOOTER_DISC_ON_SUBTOTAL</option>
                      <option value=5>FOOTER_TAXES</option>
                    </select>
                  </div>

                  <br>

                </div> <br><br>

                <div class="form-row " style="background-color:white;">
                  <div class="adjusttable">
                    <table class="table" id="tblMultileads" style="border:solid 1px grey;">
                      <thead>
                        <tr>
                          <th class="center" style="text-align: center;">ITEM DETAILS</th>
                          <th style="text-align: center;">ACTION</th>
                        </tr>
                      </thead>

                      <tbody id="tbodyLeads">

                        <tr *ngIf="disc == 1" style="text-align: center;">
                          <td>Discount on Subtotal</td>
                          <td><i class="fa fa-close" style="font-size:28px;color:red"
                              (click)="deleteDiscOnSubtotal()"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>.</div>
        </div>

      </div>

    </div>
  </div>
</div>


<!----------------------------------------------- Code for Manage Document--------------------------------------------------------------------------------------------------------->
<div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup1">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> SALES QUOTATION DOCUMENT </label>
            </div>


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">



              <form [formGroup]="manageDocumentForm" (ngSubmit)="onSubmit()">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <label style="font-size: 30px; color:#008080"> Manage Document </label>

                  <div class="form-row spaceTopBottom" style="background-color:white;">
                    <div class="col-sm-4 spaceleft">
                      <label>Document No</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="documentNumber" formControlName="documentNumber" readonly>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label class="required">Type of Quotation</label>

                      <select class="form-control inputsmallsize30" formControlName="typeOfQuotation"
                        [(ngModel)]="typeOfQuotation" required>
                        <option value="null" disabled selected>--Select Doc Type--</option>
                        <option [ngValue]="docType" *ngFor="let docType of docTypeName">{{docType}}</option>
                      </select>

                      <div class="w3-panel w3-text-red"
                        *ngIf="manageDocumentForm.controls['typeOfQuotation'].touched && manageDocumentForm.controls['typeOfQuotation'].hasError('required')">
                        Please select Document Type</div>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label>Archive Date</label>
                      <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                        id='datepicker' [(ngModel)]="archieveDate" formControlName="archieveDate">
                      </ejs-datepicker>
                    </div>
                    <br>
                  </div>

                  <div class="form-row spaceTopBottom" style="background-color:white;">


                    <div class="col-sm-4 spaceleft">
                      <label>Contact Number</label>
                      <input type="tel" class="form-control inputsmallsize30" id="phoneno" [(ngModel)]="contactNo"
                        formControlName="contactNo">
                      <div class="w3-panel w3-text-red"
                        *ngIf="manageDocumentForm.controls.contactNo.invalid && (manageDocumentForm.controls.contactNo.dirty || manageDocumentForm.controls.contactNo.touched)">
                        Please enter valid phone no</div>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label>Email</label><br>
                      <input type="email" style="display:inline-block;" class="form-control inputsmallsize30"
                        id="myEmail" [(ngModel)]="email" formControlName="email">&nbsp;
                      <span data-tip="Email must contain atleast 1-dot and 1-@ for example universal@gmail.com"> <i
                          class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
                      <div class="w3-panel w3-text-red"
                        *ngIf="manageDocumentForm.controls.email.invalid && (manageDocumentForm.controls.email.dirty || manageDocumentForm.controls.email.touched)">
                        Please enter valid email</div>

                      <!--   <input class="w3-input form-control w3-border inputsmallsize30" [ngModel] ="dateValue | date:'yyyy-MM-dd'" type="date" formControlName="poDate" >
                      {{dateValue | customDate}}    -->

                    </div>


                    <div class="col-sm-4 spaceleft">
                      <label>Created By</label>
                      <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                        [(ngModel)]="createdBy" formControlName="createdBy">
                    </div>
                    <br>
                  </div>


                  <div class="form-row" style="background-color:white;">
                    <div class="col-sm-4 spaceleft">
                      <label>Status</label>
                      <select class="form-control inputsmallsize30" [(ngModel)]="status" formControlName="status"
                        name="status" id="status" required>
                        <option value="null" disabled selected>--Select Status--</option>
                        <option value="Draft">Draft</option>
                        <option value="Approved">Approved</option>
                        <option value="Submitted">Submitted</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Archieved">Archieved</option>
                      </select>
                    </div>

                    <div class="col-sm-4 spaceleft">
                      <label>Remark</label>
                      <textarea style="display:inline-block;"
                        class="w3-input form-control w3-border  textboxareascrolling1" [(ngModel)]="remark"
                        formControlName="remark">
                            </textarea>
                    </div>


                  </div>


                </div>
                <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div>

              </form>
            </div>
          </div>
          <div>.</div>
        </div>


      </div>

    </div>
  </div>
</div>
<div class="select">

  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialP1" />
</div>
