<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Search and Modify Payment Receipt</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchUserform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row " style="background-color:white;">


            <div class="col-sm-6 spaceleft spaceBottom">
              <label>Search Payment Receipt</label> <br>
              <input style="display: inline;" class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="&#61442; Search Payment Receipt">
              <button class="w3-btn  box-1 btn btn-one margin-right1" style="background-color: #186CFB" type="button"
                (click)="functionname()">Search</button>
            </div>


            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <br>
              <table class="w3-table  w3-bordered">
                <tr>
                  <th style="text-align:center;"> PAYMENT RECEIPT NO</th>
                  <th style="text-align:center;">CUSTOMER NAME</th>
                  <th style="text-align:center;">PAYMENT DETAILS</th>

                </tr>
                <tr>

                  <td width="100%" colspan="3">
                    <span>Enter Criteria to Search Payment receipt.</span>
                  </td>



                </tr>
              </table>
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
