<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">My Request For Collection</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchUserform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
          </div>

          <div class="input-icons">
            <label class="search">Search</label>
            <input class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
              placeholder="Type here to filter records from table below..">
          </div>

          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th>SR No.</th>
                <th style="text-align:center;">COLLECTION DATE</th>
                <th style="text-align:center;">CUSTOMER</th>
                <th style="text-align:center;">BRANCH</th>
                <th style="text-align:center;">CONTACT NAME</th>
                <th style="text-align:center;">Mobile No</th>
                <th style="text-align:center;">ATTACHMENT</th>
                <th style="text-align:center;">DATE COLLECTED</th>
                <th style="text-align:center;">COLLECTION QTY.</th>
                <th style="text-align:center;">COLLECTED QTY.</th>
                <th style="text-align:center;">REMARK</th>
                <th style="text-align:center;">STATUS</th>
              </tr>
              <tr>

                <td width="100%" colspan="12">
                  <span>Your search did not return any result</span>
                </td>


              </tr>
            </table>
          </div>


        </div>


      </form>
    </div>
  </div>
</div>
