
<div>
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">Update UOM Calculator</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="createUOMCalculatorForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="w3-container w3-center w3-card register-card centercard1"
            style="background-color:rgb(233,233,233);">
            <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">UOM Calculator</label><br>
          </div>
          <br>
          <div class="form-row " style="background-color:white;">

            <div class="col-sm-5 adjustleft">
              <label>Parameter</label>
             
              <input class="w3-input form-control w3-border inputsmallsize30" list="uncname" type="text"
                placeholder="Search Parameter" formControlName="selectParameter" [(ngModel)]="selectParameter">

              <datalist id="uncname" required>
                <option [ngValue]="paraName" [value]="paraName" selected *ngFor="let paraName of arrayParameterNames">
                </option>
              </datalist>


              <div class="w3-panel w3-text-red"
                *ngIf="createUOMCalculatorForm.controls['selectParameter'].touched && createUOMCalculatorForm.controls['selectParameter'].hasError('required')">
                Please Select Parameter</div>

            </div>

            <div class="col-sm-4 adjustleft">
              <label>Status</label><br>
              <select class="w3-input form-control w3-border inputsmallsize15" [(ngModel)]="status" formControlName="status" required>
                <option selected value="Draft">Draft</option>
                <option value="Submitted">Submitted</option>
                <option value="Approved">Approved</option>
              </select>

              <div class="w3-panel w3-text-red"
                *ngIf="createUOMCalculatorForm.controls['status'].touched && createUOMCalculatorForm.controls['status'].hasError('required')">
                Please select status</div>

            </div>

            <div class="col-sm-3 adjustleft">

              <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                (click)="create()">Update</button>
              <p id="demo"></p>
            </div>

          </div>

          <br> <br>

          <br>


          <div class="w3-container w3-center w3-card register-card centercard1"
            style="background-color:rgb(233,233,233);">
            <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge">UOM Calculator Detail</label></a>


          </div>
          <br>

        </div>





      </form>


    </div>
  </div>
