<form>
	<label for="email">Email</label>
	<input type="email" id="email" (click)="call()">
	<label for="pass">Password</label>
	<input type="password" id="pass">
	<input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
	<input type="submit" value="Login" (click)="lsRememberMe()">
  </form>