<!--<div>
  <input type="button" value="Convert" (click)="convetToPDF()"/>
  </div> -->
<button (click)="printPage()">print</button>

<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Manage Approvers</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchUserform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row" style="background-color:white;">



            <div class="form-group  col-sm-2">
              <label class="required">List of Documents</label>
            </div>
            <div class="form-group  col-sm-10">
              <select class="form-control inputsmallsize30" (ngModelChange)="searchdata($event)"
                [(ngModel)]="documentname" formControlName="documentname" name="documentname" id="documentname"
                required>
                <option [ngValue]="i+1" *ngFor="let document11 of documents; index as i">{{document11}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="SearchUserform.controls['documentname'].touched && SearchUserform.controls['documentname'].hasError('required')">
                Please select document</div>
            </div>

            <br><br>
            <div class="form-row adjusttable">
              <table class="w3-table w3-bordered " id="contentToConvert">
                <label class="ExistingUser">Existing Users</label>

                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Remove</th>
                </tr>


                <tr *ngIf="usersarray == 0">
                  <td width="100%" colspan="4"><span> No Records found.</span></td>
                </tr>

                <tr *ngFor="let user of usersarray">

                  <td style="text-align:center;"><a href=" ">{{user[0]}} {{user[1]}}</a></td>
                  <td style="text-align:center;">{{user[3]}}</td>
                  <td style="text-align:center;">{{user[4]}}</td>
                  <td> <i class="w3-medium custom-icon fa fa-trash" (click)="deleteUser(user)"></i> </td>

                </tr>

                <br><br>

                <label class="Adduser">Add Users</label>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Add</th>
                </tr>

                <tr *ngIf="usersarray_addusers_table == null">
                  <td width="100%" colspan="4"><span> No Records found.</span></td>
                </tr>

                <tr
                  *ngFor="let user of usersarray_addusers_table | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">

                  <td style="text-align:center;"><a href=" ">{{user[0]}} {{user[1]}}</a></td>
                  <td style="text-align:center;">{{user[3]}}</td>
                  <td style="text-align:center;">{{user[4]}}</td>
                  <td> <i class=" fa fa-user-plus" (click)="addUser(user)"></i> </td>

                </tr>

              </table>
              <br>

              <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
              <label>Items per page:
                <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </label>




            </div>


          </div>
        </div>
      </form>
    </div>
  </div>
  <div>.</div>
</div>
