.align-center {

  width: 70%;
  margin: auto;
}

.register-card {
  margin-top: 2%;

  border-radius: 10px;
  padding-bottom: 0px;

}

.inputsmallsize3 {
  width: 78px;
}

.inputsmallsize10 {
  width: 95px;
}

.inputsmallsize15 {
  width: 185px;
}

.inputsmallsize30 {
  width: 280px;
}

.inputsmallsize50 {
  width: 350px;
}

.w3-lobster {
  font-family: "Times New Roman", serif;
}

.space {
  padding-top: 13px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;

}

.spaceTopBottom {
  padding-top: 23px;
  padding-bottom: 55px;
}

.Adjustspace {
  padding-right: 2%;

}

.spaceTop {
  padding-top: 23px;

}

.add {

  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 23px;
  background-color: lightblue;
}

.centercard {
  margin-left: 25%;
  margin-right: 25%;

}

.bg-primary {
  color: #ffffff;
  ;
  background-color: #caeaf7;
  ;
  margin-left: 25%;
  margin-right: 25%;
}

.button {
  font-size: 1em;
  padding: 10px;
  background-color: #0b93ee;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
  background-color: #0b93ee;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}



/********************************* trial adjusting **************************************************/


* {
  margin: 0px;
  padding: 0px
}


.media1140px,
.media768px,
.media480px,
.media300px {
  padding: 15px;
}

p {
  margin: 0 0 0px 0;
}

.clearb {
  clear: both;
}

/* misc end */



/* header start */
#mainHeader {

  padding: 0.5em;
  overflow: auto;
}

/* to make our logo resize automatically */
#responsiveLogo {
  width: 100%;
}

#responsiveLogo img {
  max-height: 100%;
  max-width: 100%;
}

/* header end */


/* middle section start */
#mainSection {
  background-color: #D9F8F2;
  float: left;
  width: 96%;
}

#sideBox1 {
  background-color: #C9A449;
  width: 96%;
}

#mainSection,
#sideBox1 {
  overflow: auto;
  padding: 2%;
}

/* middle section end */

.backgroundfordiv {
  background-color: #0b93ee;
}

.required:after {
  content: " *";
  color: red;
}

/************************** Button CSS ********************************************************/


/* ...trial css animation......*/

.box-1 {
  background-color: #0093f5;
  height: 40px;
  width: 100px;
}

.btn {
  line-height: 30px;
  height: 40px;
  text-align: center;
  width: 130px;
  cursor: pointer;
  font-size: 16px;
  background-color: #0093f5;

}

.flex-parent {
  display: flex;
  margin-bottom: 1%;

}

.jc-center {
  justify-content: center;
  margin-bottom: 1%;
}

button.margin-right {
  margin-right: 20px;
}

/* 
  ========================
        BUTTON ONE
  ========================
  */
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(27, 25, 25, 0.5);
  border-bottom-color: rgba(29, 27, 27, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 15;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(14, 13, 13, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 10);
}

th {
  border: 3px solid #dddddd;
  background-color: rgb(240, 240, 240);
  text-align: left;
  padding: 8px;
  text-align: center;
  font-family: 'calibri';
  font-size: 15px;
}

tr {
  background-color: white;
  border: 3px solid lightgray;
  text-align: center;
  font-family: 'calibri';
  font-size: 15px;
}

td {
  background-color: white;
  border: 3px solid lightgray;
  text-align: center;
  font-family: 'calibri';
  font-size: 15px;
}

.space {
  padding-top: 13px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

table {
  font-family: 'calibri';
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

.ListofDocuments {
  font-family: 'calibri';
  font-size: 15px;
}

#selectdocumenttype {
  font-family: 'calibri';
  font-size: 15px;
}

.ExistingUser {
  font-family: 'calibri';
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .box {
    width: 80%;

  }

  .popup {
    width: 80%;
  }

  .centercard {
    width: 70%;
    margin-left: 15%;
  }

  .inputsmallsize3 {
    width: 25%;
  }

  .inputsmallsize10 {
    width: 50%;
  }

  .inputsmallsize15 {
    width: 95%;
  }

  .inputsmallsize30 {
    width: 109%;
  }

  .inputsmallsize50 {
    width: 95%;
  }

  .textboxareascrolling {
    width: 95%;
    height: 80px;
    overflow-y: scroll;
  }

  .textboxarea {
    width: 95%;
    height: 80px;

  }

  .spaceTopBottom {

    margin-bottom: -25%;
  }

  th {
    border: 3px solid #dddddd;
    background-color: rgb(240, 240, 240);
    text-align: left;
    padding: 8px;

    font-family: 'calibri';
    font-size: 15px;
  }

  tr {
    background-color: white;
    border: 3px solid lightgray;
    font-family: 'calibri';
    font-size: 15px;
    text-align: left;
    padding: 8px;
  }

  td {
    background-color: white;
    border: 3px solid lightgray;
    font-family: 'calibri';
    font-size: 15px;
    text-align: left;
    padding: 8px;
  }

  .space {
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 45px;
  }

  table {
    font-family: 'calibri';
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;

  }

  .ListofDocuments {
    font-family: 'calibri';
    font-size: 15px;
    margin-left: -25px;
    text-align: left;

  }

  #selectdocumenttype {
    font-family: 'calibri';
    font-size: 15px;
    width: 175px;
    margin-left: -25px;
    margin-right: -500px;


  }

  .ExistingUser {
    font-family: 'calibri';
    font-size: 15px;
    text-align: left;

    width: 150px;

  }

  .adjusttable {
    overflow-x: auto;
    margin-left: -5px;
    margin-right: -25px;
    border: white;

  }




  tr:nth-child(even) {
    background-color: #f2f2f2
  }

}

/*      @media print {
            :not(.printMe) {
              display: none !important;
            }
          }  
        
                  @media print {
            .printMe {
              visibility: visible
            }
          }
  
                  @media print {
            :not(.printMe) {
              visibility: hidden;
            }
          }
  
    */

@page :left {

  margin: 0.4mm 1.28mm 0.30mm 0mm;
}


@media print {
  .printMe {
    position: fixed;

    left: -500;
    right: 0;
    top: 0;
    bottom: 0;

    visibility: visible
  }
}
