<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;"> PROFORMA DOCUMENT </label>
    </div>

    <div class="flex-parent jc-center">
      <button type="button" id="openModalButton1" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal1" [disabled]="clickToDisable" (click)="manageDocument()"
        style="background-color: #008080;">Manage
        <br>Document</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss " id="openModalButton2" data-toggle="modal"
        data-target="#openModal2" [disabled]="clickToDisable" (click)="manageHeaders()" style="background-color: #008080;">Manage<br>
        Headers</button>
      <button class="w3-btn  box-1 btn btn-one margin-right buttoncss " [disabled]="clickToDisable" (click)="manageItems()"
        style="background-color: #008080;">Manage
        <br>Items</button>
      <button type="button" id="openModalButton" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal" [disabled]="clickToDisable" (click)="manageFooters()" style="background-color: #008080;">Manage
        <br>Footers</button>

      <!-- <button class="w3-btn  box-1 btn btn-one margin-right buttoncss" (click)="printPage()"
        style="background-color: #008080;">Print <br>Preview</button> -->
    </div>
    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">

      <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">

        <div class="form-group w3-row-padding space">

        </div>

        <div id="printable">
          <div class="adjusttable">

          </div>
          <div class="adjusttable">
            <table>

              <tr>
                <td class="col-12" colspan="2">
                  <div class="divincenter">
                    <span>
                      <div class="textcenter">
                        <span class="centerstyle">
                          <label>
                            GST TAX INVOICE
                          </label>
                        </span>
                      </div><br>
                      <span class="textcenter1">Tax Invoice u/s 31 of CGST Act 2017 and State (Maharashtra) SGST Act
                        2017 u/r - 1 of Tax Invoice
                        Credit and Debit Note Rules.
                      </span>
                    </span>
                  </div>
                  <div>

                    <table style="width: 20%; float:right">
                      <tr>
                        <td>
                          <div class="boxforcheck"></div>
                        </td>
                        <td>Original</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="boxforcheck"></div>
                        </td>
                        <td>Duplicate</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="boxforcheck"></div>
                        </td>
                        <td>Triplicate</td>
                      </tr>
                    </table>

                  </div>
                  <div class="div1">

                  </div>

                </td>
              </tr>

              <tr>
                <td class="col-12" colspan="2">
                  <div style="text-align:center">
                    <span><b>UNIVERSAL CALIBRATION SERVICES PVT LIMITED</b>
                      <br>
                      PLOT NO.G 43/1 &amp; 2,G 44/1 &amp; 2, G-Block ,AJANTA NAGAR, BEHIND KASTURI MARKET, MIDC,<br>
                      CHINCHWAD, PUNE-411019, Phone No : 020 67115100
                      email Id : mkt@universalinstruments.co.in <br>
                    </span>
                    <span style="font-size: 13px;"><b>State :</b> Maharashtra <b> State Code :</b> 27 <b> PAN NO :</b>
                      AABCU3149C <b> GSTIN :</b>
                      27AABCU3149C1ZL</span>
                    </div>
                </td>
              </tr>

              <tr>

                <td class="col-6 td1">
                  <label>BILLED TO,</label>
                  <div class="leftspaceforcustomer">

                    <strong>{{custNameTrialBilledTo}} </strong>
                  </div>
                  <div class="leftspaceforcustomer">
                    {{ billedCustDepartment}}
                  </div>
                  <div class="leftspaceforcustomer">{{ billedCustAddressline1 }} {{ billedCustAddressline2 }} <br>
                    {{ billedCustCity }}
                    {{  billedCustPin }},{{  billedCustCountry }}</div>
                  <div class="leftspaceforcustomer"><b>State:</b> {{  billedCustState }} <b>State Code:</b>
                    {{ billedStateCode }}
                    <b>PAN NO:</b>{{ billedCustPanNo }} <b>GSTIN:</b>{{ billedCustGstNo }}</div>
                </td>

                <td class="col-6 td1">
                  <label>SHIPPED TO,</label>
                  <div class="leftspaceforcustomer">

                    <strong> {{custNameTrialShippedTo}} </strong>
                  </div>
                  <div class="leftspaceforcustomer">
                    {{shippedCustDepartment}}
                  </div>
                  <div class="leftspaceforcustomer">{{ shippedCustAddressline1 }} {{ shippedCustAddressline2 }} <br>
                    {{ shippedCustCity }}
                    {{ shippedCustPin }},{{ shippedCustCountry }}</div>
                  <div class="leftspaceforcustomer"><b>State:</b> {{ shippedCustState }} <b>State Code:</b>
                    {{ stateCode }}
                    <b>PAN NO:</b>{{ shippedCustPanNo }} <b>GSTIN:</b>{{ shippedCustGstNo }}</div>
                </td>

              </tr>

              <tr class="noborderbottom">
                <td class="col-3 td1">
                  <div>
                    <label>Invoice No</label> : <span> <input list="branchDesc" type="text"
                        class="w3-input form-control w3-border inputsmallsizeForBranch" name="quotationNo"
                        [(ngModel)]="prefixInvDocNumber" autocomplete="off" style="display:inline-block;"
                        (ngModelChange)="changeBranchName($event)" required>
                      <datalist id="branchDesc" required>
                        <option value="null" disabled selected>{{prefixInvDocNumber}}</option>
                        <option [ngValue]="branchData.description" [value]="branchData.description" selected
                          *ngFor="let branchData of branchWithDescription">{{branchData.branch}}</option>
                      </datalist> {{ invDocNumber  }}
                    </span> <br>


                    <label>DATE</label> : &nbsp;<span>
                      <ejs-datepicker style="display: inline-block;"
                        class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy' id='datepicker'
                        [(ngModel)]="dateOfInvoice">
                      </ejs-datepicker>
                    </span> <br>

                  </div>
                </td>
                <td class="col-9 td1">
                  <table>
                    <tr>
                      <td colspan="2">
                        <div style="text-align:center">
                          <label>YOUR REFERENCE</label>
                        </div>
                      </td>
                    </tr>


                    <tr class="noborderbottom">
                      <td class="col-6 td1" style="border-width: 1px 0px 0px 1px;">
                        <div>
                          <label>P.O.NO. </label> : &nbsp;<span><input class="inp inputsmallsize15" type="type"
                              [(ngModel)]="poNo" readonly></span> <br>
                          <label>P.O. DATE </label> : &nbsp;<span>
                            <ejs-datepicker style="display: inline-block;"
                              class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                              id='datepicker' [(ngModel)]="poDate">
                            </ejs-datepicker>
                          </span> <br>
                          <label>VENDOR CODE NO: </label><span><input class="inp inputsmallsize15" type="type"
                              [(ngModel)]="vendorCodeNo"></span> <br>

                        </div>
                      </td>
                      <td class="col-6 td1" style="border-width: 1px 1px 0px 0px;">
                        <div>
                          <label>D.C. NO.</label> : &nbsp;<span><input class="inp inputsmallsize15" type="type"
                              [(ngModel)]="dcNo" readonly></span> <br>
                          <label>D.C. DATE </label> : &nbsp;<span>
                            <ejs-datepicker style="display: inline-block;"
                              class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                              id='datepicker' [(ngModel)]="dcDate">
                            </ejs-datepicker>
                          </span><br>
                          <label></label><br>
                          <label></label><br>
                        </div>
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>
          </div>


          <div>
            <div class="adjusttable" id="tab">
              <form [formGroup]="reqdocParaDetailsForm">
                <table class="table" id="tblMultileads">
                  <thead>
                    <tr>
                      <th class="center">SR.<br> NO.</th>
                      <th>PO.SR.NO<button class="pull-right btn-default btn-condensed hide-column noprint"
                          data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>ITEM/PART CODE<button class="pull-right btn-default btn-condensed hide-column noprint"
                          data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>INSTRUMENTS <BR>/DESCRIPTION</th>
                      <th *ngIf="hideRange==0">RANGE</th>
                      <th>SAC CODE<button class="pull-right  btn-default btn-condensed hide-column noprint"
                          data-toggle="tooltip" data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th *ngIf="hideHsn==0">HSN No<button
                          class="pull-right  btn-default btn-condensed hide-column noprint" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button></th>
                      <th>QUANTITY</th>
                      <th>UNIT PRICE</th>
                      <th>AMOUNT</th>
                      <th *ngIf="hideSaveColumn==0">SAVE <br> DATA
                        <button class="pull-right btn-default btn-condensed hide-column noprint" data-toggle="tooltip"
                          data-placement="bottom" title="Hide Column">
                          <i class="fa fa-close"></i>
                        </button>
                      </th>

                    </tr>
                  </thead>
                  <tbody id="tbodyLeads" formArrayName="Rows">

                    <tr *ngFor="let itemrow of  reqdocParaDetailsForm.controls.Rows.controls;  let i=index;let l=last"
                      [formGroupName]="i">
                      <td>

                        {{i+1}}
                      </td>
                      <td style="width:8%"><input type="text" class="form-control inputsmallsize7"
                          formControlName="poSrNO">
                      </td>
                      <td style="width:8%"> <input type="text" class="form-control inputsmallsize7"
                          formControlName="itemOrPartCode"></td>
                      <td style="width:20%">


                        <input list="instruname" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="instruname" formControlName="instruName" autocomplete="off" required>
                        <datalist id="instruname" required>
                          <option [ngValue]="instrument" *ngFor="let instrument of instrumentName">{{instrument}}
                          </option>

                        </datalist>

                        <div class="grow-wrap">
                          <textarea name="text" id="text" formControlName="description"
                            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>
                      </td>

                      <td *ngIf="hideRange==0" style="width:10%">
                        <!-- {{rangeFrom}} - {{rangeTo}} -->
                        <input type="text" class="form-control inputsmallsize4" style="display: inline-block;"
                          formControlName="rangeFrom"> -
                        <input type="text" class="form-control inputsmallsize4" style="display: inline-block;"
                          formControlName="rangeTo">
                      </td>
                      <td style="width:10%"><input type="text" value="00998346" class="form-control inputsmallsize5"
                          formControlName="sacCode"></td>
                      <td *ngIf="hideHsn==0"><input type="text" class="form-control inputsmallsize7"
                          formControlName="hsnNo">
                      </td>

                      <td style="width:13%"><input type="text" style="display:inline-block"
                          class="form-control inputsmallsize4" formControlName="quantity" id="QUANTITY"
                          (keyup)="getAmount1(i)" disabled>&emsp;<label style="font-size: 14px;">Total Quantity</label><br><br>
                        <!-- <a id="openModalButton12" data-toggle="modal" data-target="#openModal12"
                          (click)="editQuantity()">Edit</a> -->
                          <div *ngIf="showMessage==1">
                          <input type="text" style="display:inline-block"
                          class="form-control inputsmallsize4" formControlName="editQuant" id="editQuant"
                          (keyup)="checkAmount(i)" id="btnQuantEdit-{{i}}" disabled>&emsp;<label style="font-size: 14px;" >Edit</label>
                        </div>

                        <div *ngIf="showMessage==0">
                          <input type="text" style="display:inline-block"
                          class="form-control inputsmallsize4" formControlName="editQuant" id="editQuant"
                          (keyup)="checkAmount(i)" id="btnQuantEdit-{{i}}">&emsp;<label style="font-size: 14px;" >Edit</label>
                          <!-- <input class="inp inputsmallsize15" type="type"
                              [(ngModel)]="poNo" readonly> -->
                              <div  style="color: red;" id="alertEdit-{{i}}"></div>
                                <div  style="color: red;" id="alertEdit1-{{i}}">


                              </div>
                        </div>
                        </td>


                      <!-- <button type="button" id="openModalButton1" class="w3-btn  box-1 btn btn-one margin-right buttoncss"
        data-toggle="modal" data-target="#openModal1" (click)="manageDocument()"
        style="background-color: #008080;">Manage
        <br>Document</button> -->

                      <td>
                        <!-- <div *ngIf="displayRate==1"> -->
                        <input type="text" class="form-control inputsmallsize6" (keyup)="getAmount1(i)"
                          formControlName="unitPrice" id="UNIT_PRICE">
                        <!-- </div> -->

                        <!-- <div *ngIf="displayRate==0">
                          <select class="form-control inputsmallsize6" (keyup)="getAmount1(i)"
                          formControlName="unitPrice" id="UNIT_PRICE">
                            <option [value]="rate" *ngFor="let rate of rateArray1[i]">{{rate}}</option>
                          </select>
                         

                          </div> -->
                      </td>


                      <td><input type="text" value="$999,00" class="form-control inputsmallsize7"
                          (click)="getAmount1(i)" formControlName="amount"></td>

                      <td *ngIf="hideSaveColumn==0"><button class="w3-btn box-2 btn btn-one margin-right button1  button11"
                          style=" width:60px; height:35px;" id="btn-{{i}}" (click)="trialSaveFunction(i)">save</button>
                        <!-- &nbsp;<span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow1(i)"></i></span> -->
                        <br>
                      </td>

                    </tr>
                  </tbody>
                  <tfoot class="footer-restore-columns noprint">
                    <tr>
                      <th colspan="11" height="5"><a class="restore-columns">Show Hidden Columns</a></th>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
            <!-- <div>
              <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                style="background-color: #008080; width:50px; height:30px;" (click)="addNewRow()"> Add</button>


            </div> -->
            <div class="summary adjusttable">
              <table>
                <tbody>

                  <tr>
                    <td class="col-6 td1">
                      <span style="font-size: 13px;"><strong> Receiver's Name & Signature:</strong></span><br><br>
                      <span style="font-size: 11px;"><strong> Note:</strong>SUPPLY / SERVICE MEANT FOR EXPORT / SUPPLY
                        TO SEZ DEVELOPERS FOR AUTHORIZED OPRATIONS UNDER TAKING WITHOUT PAYMENT OF INTEGRATED
                        TAX.</span>

                      <br>
                      <table class="noborder">
                        <tr class="noborder" *ngIf="cgstDisplay==1">
                          <strong>
                            <td class="noborder"> CGST in Words ({{cgstAmount}}) : {{cgstValueInWords}} </td>
                          </strong></tr>

                        <tr class="noborder" *ngIf="sgstDisplay==1">
                          <strong>
                            <td class="noborder">SGST in Words ({{sgstAmount}}) : {{sgstValueInWords}}</td>
                          </strong>
                        </tr>

                        <tr class="noborder" *ngIf="igstDisplay==1">
                          <strong>
                            <td class="noborder">IGST in Words ({{igstAmount}}) : {{igstValueInWords}}</td>
                          </strong>
                        </tr>
                      </table>

                      <strong> Total GST Amount in Words ({{taxesTotal}}): {{gstValueInWords}}</strong>
                      <br>
                      <strong> Total Invoice Amount in Words : {{netValueInWords}}</strong>
                    </td>

                    <td class="col-6 td1">
                      <table>
                        <tbody>
                          <tr>
                            <td class="right">
                              <strong>SUBTOTAL= </strong>
                            </td>
                            <td class="right">{{subTotal}}</td>
                          </tr>
                          <tr *ngIf="discOnSubTotalForShow==1">
                            <td class="right">
                              <strong>DISCOUNT ON SUBTOTAL=</strong>
                            </td>
                            <td class="right"><input type="number" style="float:right; clear:both;direction: rtl;"
                                class="form-control  inputsmallsize5" [(ngModel)]="discOnSubTotal"
                                (keyup)="discOnSubTotalFunction()" (click)="discOnSubTotalFunction()" value=""></td>

                          </tr>
                          <tr>
                            <td class="right">
                              <strong>TOTAL= </strong>
                            </td>
                            <td class="right">{{total}}</td>
                          </tr>

                          <tr *ngIf="cgstDisplay==1">
                            <td class="right">
                              <strong>CGST 9%=</strong>
                            </td>
                            <td class="right">{{cgstAmount | number : '1.2-2'}}</td>
                          </tr>

                          <tr *ngIf="igstDisplay==1">
                            <td class="right">
                              <strong>IGST 18%=</strong>
                            </td>
                            <td class="right">{{igstAmount | number : '1.2-2'}}</td>
                          </tr>
                          <tr *ngIf="sgstDisplay==1">
                            <td class="right">
                              <strong>SGST 9%=</strong>
                            </td>
                            <td class="right">{{sgstAmount | number : '1.2-2'}}</td>
                          </tr>

                          <tr>
                            <td class="right">
                              <strong>NET ₹=</strong>
                            </td>
                            <td class="right">
                              <strong>{{netValue | number : '1.2-2' }}</strong>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td class="col-6 td1"> <span style="font-size: 13px;"><br>
                        Declaration: I/we certify that our registration certificate under GST Act 2017 is in force on
                        that
                        date on which the supply of good specified in this tax invoice is made by me/us and
                        the transaction of supply covered this tax invoice had been effected by me/us it shall
                        be accounted for in the turnover of suppliers while filling of return and
                        the due tax if any payable on the suppliers has been or shall be paid,further certified
                        that the particulars given above are true and correct and the ammount indicated represents
                        the prices actually charged and the there is no flow if additional consideration directly
                        or indirectly from the Buyer<br>.
                      </span> </td>
                    <td class="right col-6" style="border-width: 0px 1px 0px 0px;">
                      <div style="text-align: center;">
                        <b> UNIVERSAL CALIBRATION SERVICES PVT. LIMITED</b>
                      </div>
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<div class="flex-parent jc-center ">
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="button"
    (click)="saveAllData1()">Submit</button>&nbsp;
  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
    (click)="backToMenu()">Back</button>
</div>
<div>.</div>


<!----------------------------------------------- Code for Manage Footer--------------------------------------------------------------------------------------------------------->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>
        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">


              <div class="form-group w3-row-padding space"
                style="background-color:white;border:gray; text-align:center; ">
                <label style="font-size: 30px; color:#008080; text-align:center; "> Manage Footers </label>
                <br><br>

                <div class="form-row spaceTopBottom" style="background-color:white;">
                  <div class="col-sm-3 spaceleft">
                    <label style="font-size: 15px; text-align:left; color:black;">Footer Type</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control inputsmallsize30 adjusttable" (ngModelChange)="toggle($event)"
                      [(ngModel)]="itemType" name="itemtype" id="itemtype" required>
                      <option value="null" disabled selected>--Select--</option>
                      <option value=1>FOOTER_SALES_QUOTATION_TERMS</option>
                      <option value=2>FOOTER_FREE_FORM</option>
                      <option value=3>FOOTER_FILE_ATTACHMENT</option>
                      <option value=4>DISC_ON_SUBTOTAL</option>
                      <option value=5>FOOTER_TAXES</option>
                    </select>
                  </div>

                  <br>

                </div> <br><br>

                <div class="form-row " style="background-color:white;">
                  <div class="adjusttable">
                    <table class="table" id="tblMultileads" style="border:solid 1px grey;">
                      <thead>
                        <tr>
                          <th class="center" style="text-align: center;">ITEM DETAILS</th>
                          <th style="text-align: center;">ACTION</th>
                        </tr>
                      </thead>

                      <tbody id="tbodyLeads">

                        <tr *ngIf="discOnSubTotalForShow==1" style="text-align: center;">
                          <td>
                            DISCOUNT ON SUBTOTAL
                          </td>
                          <td><i class="fa fa-close" style="font-size:28px;color:red"
                              (click)="deleteDiscountOnSubtotal()"></i></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div>.</div>
        </div>

      </div>

    </div>
  </div>
</div>


<!----------------------------------------------- Code for Manage Document--------------------------------------------------------------------------------------------------------->
<div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup1">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close" style="font-size:28px;color:red"
            (click)="updateData1()" ></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> CHALLAN CUM INVOICE DOCUMENT </label>
            </div>

            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

              <form [formGroup]="manageDocumentForm" (ngSubmit)="updateData()">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <label style="font-size: 30px; color:#008080"> Manage Document </label>
                  <div class=" form-row spaceTopBottom">
                    <div class="col-sm-8 spaceleft">
                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-6 spaceleft">
                          <label>Document No</label>
                          <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                            [(ngModel)]="documentNumber" formControlName="documentNumber" readonly>
                        </div>

                        <div class="col-sm-6 spaceleft">
                          <label class="required">Group Type</label>
                          <select class="form-control inputsmallsize30" [(ngModel)]="documentType"
                            formControlName="documentType" (click)="changeDocType()" required>
                            <option selected disabled value="null">{{documentType}}</option>
                            <option [ngValue]="documentType" *ngFor="let documentType of documentTypeName">
                              {{documentType}}
                            </option>
                          </select>
                          <div class="w3-panel w3-text-red"
                            *ngIf="manageDocumentForm.controls['documentType'].touched && manageDocumentForm.controls['documentType'].hasError('required')">
                            Please select Group Type</div>

                            <div *ngIf="showMessage==1">
                            <label  style="color:green;">To edit quantity first select GROUP BY NAME </label>
                             </div>
                        </div>


                      </div>

                      <div class="form-row spaceTopBottom" style="background-color:white;">

                        <!-- <div class="col-sm-4 spaceleft">
                      <label>Request Number</label><br>
                      <input type="text" style="display:inline-block;" class="form-control inputsmallsize30"
                        id="myEmail" [(ngModel)]="requestNumber" formControlName="requestNumber">&nbsp;

                    </div> -->

                        <div class="col-sm-6 spaceleft">
                          <label>Charges Type</label>
                          <select class="form-control inputsmallsize30" [(ngModel)]="invoiceTypeOfDoc"
                            formControlName="invoiceTypeOfDoc" name="invoiceTypeOfDoc" id="invoiceTypeOfDoc" required>
                            <option value="null" disabled selected>{{invoiceTypeOfDoc}}</option>
                            <option [ngValue]="invoiceType" *ngFor="let invoiceType of invoiceTypeName">{{invoiceType}}
                            </option>

                          </select>
                        </div>

                        <div class="col-sm-6 spaceleft">
                          <label>Archive Date</label>
                          <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                            id='datepicker' [(ngModel)]="archieveDate" formControlName="archieveDate">
                          </ejs-datepicker>
                        </div>
                        <br>
                      </div>


                      <div class="form-row" style="background-color:white;">
                        <div class="col-sm-6 spaceleft">
                          <label>Status</label>
                          <select class="form-control inputsmallsize30" [(ngModel)]="status" formControlName="status"
                            name="status" id="status" required>
                            <option value="null" disabled selected>--Select Status--</option>
                            <option value="Draft">Draft</option>
                            <option value="Approved">Approved</option>
                            <option value="Submitted">Submitted</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Archieved">Archieved</option>
                          </select>
                        </div>

                        <div class="col-sm-6 spaceleft">
                          <label>Created By</label>
                          <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                            [(ngModel)]="createdBy" formControlName="createdBy">
                        </div>

                        <br>
                        <br>

                      </div>


                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-4 spaceleft">
                          <label>Remark</label>
                          <textarea style="display:inline-block;"
                            class="w3-input form-control w3-border  textboxareascrolling1" [(ngModel)]="remark"
                            formControlName="remark">
                            </textarea>
                        </div>
                        <br>
                      </div>
                    </div>

                    <div class="col-sm-4 adjustleft ">
                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-12 adjustleft ">
                          <label class="required">Select Request Numbers </label>
                          <div *ngIf="dropdownList">
                          <ng-multiselect-dropdown-angular7 class="w3-input form-control w3-border inputsmallsize50"
                            [placeholder]="'Request Number'" [data]="dropdownList"
                            [(ngModel)]="selectedRequestNumberFromCreateInvoiceScreen" formControlName="selectedItems"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)"
                            (onDeSelect)="onItemDeSelect($event)" required>
                          </ng-multiselect-dropdown-angular7>
                        </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div>

              </form>
            </div>
          </div>
          <div>.</div>
        </div>

      </div>
    </div>
  </div>
</div>

<!----------------------------------------------- Code for Manage Header--------------------------------------------------------------------------------------------------------->

<div id="openModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup2">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> CHALLAN CUM INVOICE DOCUMENT </label>
            </div>


            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

              <form>

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <label style="font-size: 30px; color:#008080; text-align: center;"> Manage Header </label>

                  <div class="form-row spaceTopBottom" style="background-color:white;">


                    <div class="col-sm-3 spaceleft">
                      <label style="font-size: 15px; text-align:left; color:black;">Header Type</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control inputsmallsize30 adjusttable"
                        (ngModelChange)="toggleHeaderForCustomer($event)" [(ngModel)]="headerType" name="headertype"
                        id="headertype" required>
                        <option value="null" disabled selected>--Select--</option>
                        <option value=1>Customer shipped to</option>
                        <option value=2>Customer billed to</option>
                      </select>
                    </div>

                    <br>

                    <div id="taxes_style" *ngIf="selectTagEventForHeader==1">
                      <br><br>
                      <div>
                        <div class="col-sm-3 spaceleft">
                          <label>SHIPPED TO :</label> </div>
                        <input list="customername" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="customername" [(ngModel)]="shippedCustNameTrial"
                          (ngModelChange)="headercustNameChange($event)" autocomplete="off" required>
                        <datalist id="customername" required>
                          <option value="null" disabled selected>{{shippedCustNameTrial}}</option>
                          <option [ngValue]="customer1.name" [value]="customer1.name" selected
                            *ngFor="let customer1 of trialCustomerWithAddress">{{customer1.address}}</option>

                        </datalist>

                      </div>
                    </div>


                    <div id="taxes_style" *ngIf="selectTagEventForHeader==2">
                      <br><br>
                      <div>
                        <div class="col-sm-3 spaceleft">
                          <label>BILLED TO :</label> </div>
                        <input list="customername" type="text" class="w3-input form-control w3-border inputsmallsize30"
                          name="customername" [(ngModel)]="billedCustNameTrial"
                          (ngModelChange)="headercustNameChange1($event)" autocomplete="off" required>
                        <datalist id="customername" required>
                          <option value="null" disabled selected>{{billedCustNameTrial}}</option>
                          <option [ngValue]="customer1.name" [value]="customer1.name" selected
                            *ngFor="let customer1 of trialCustomerWithAddress">{{customer1.address}}</option>
                        </datalist>
                      </div>
                    </div>
                  </div>

                </div>

              </form>
            </div>
          </div>
          <div>.</div>
        </div>

      </div>
    </div>
  </div>
</div>

<!----------------------- code for edit quantity------------------------------>

<div id="openModal12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup12">
        <div class="right">
          <button type="button" data-dismiss="modal"><i class="fa fa-close"
              style="font-size:28px;color:red"></i></button>
        </div>

        <div style="background-color:white">
          <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
            style="background-color: white;">

            <div style="text-align:center;">
              <label style="font-size: 30px;"> CHALLAN CUM INVOICE DOCUMENT </label>
            </div>

            <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">

                <div class="form-group w3-row-padding space" style="background-color:white;border:gray">
                  <div style="text-align: center; font-size: 30px;">
                  <label style=" color:#008080"> Edit Quantity </label>
                </div>
                  <div class=" form-row spaceTopBottom">

                    <div class="col-sm-4 adjustleft ">
                      <div class="form-row spaceTopBottom" style="background-color:white;">
                        <div class="col-sm-12 adjustleft ">
                          <label class="required">Select Request Numbers </label>
                          <!-- <ng-multiselect-dropdown-angular7 class="w3-input form-control w3-border inputsmallsize50" [placeholder]="'Request Number'" [data]="dropdownList"
                        [(ngModel)]="selectedRequestNumberFromCreateInvoiceScreen" formControlName="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)"
                        (onDeSelect)="onItemDeSelect($event)" required>
                      </ng-multiselect-dropdown-angular7> -->
                          <select class="form-control inputsmallsize30"  (ngModelChange)="editQuantityFun($event)" (click)="editQuantityFun($event)" [(ngModel)]="selectedRequestNumberEdit"
                             name="selectedRequestNumberEdit" id="selectedRequestNumberEdit" required>
                            <!-- <option value="null" disabled selected>{{invoiceTypeOfDoc}}</option> -->
                            <option [ngValue]="invoiceType.itemText" *ngFor="let invoiceType of requestNumbersCollectionArray">{{invoiceType.itemText}}
                            </option>

                          </select>
                        </div>
                      </div>
                    </div>

                  </div><br><br><br>

                 

                  <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
                    <table class="w3-table  w3-bordered">
                      <tr>
                        <th style="text-align:center;">Instrument Name</th>
                        <th style="text-align:center;">Total Quantity</th>
                        <th style="text-align:center;">Quantity</th>
                      </tr>
                      <tbody>
        
                        <!-- <tr *ngIf="usersarray == 0">
                          <td width="100%" colspan="7"><span> Enter Criteria to search user(s).</span></td>
                        </tr> -->
        
        
                        <tr *ngFor="let instru of countForInstruName1Edit; let i = index;">
                          <td style="text-align:center;">{{instru.type}}</td>
                          <td style="text-align:center;">{{instru.value}}</td>
                          <td style="text-align:center;"><input type="text" class="form-control inputsmallsize6" 
                            [(ngModel)]="editQuantity[i]" id="editQuantity" (keyup)="reflectQuantity(i)"></td>
                        </tr>
        
                      </tbody>
        
                    </table>
                    <br>
                    <!-- <div style="color:red;" id="trial"></div>
                    <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                    <label>Items per page:
                      <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                      </select>
                    </label> -->
        
                  </div>





                </div>
                <!-- <div class="flex-parent jc-center ">
                  <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080"
                    type="submit">Update</button>
                </div> -->

              
            </div>
          </div>
          <div>.</div>
        </div>

      </div>
    </div>
  </div>
</div>







