<!-- <div style="background-color: white;">
  <div style="background-color: white;">
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center1 w3-card register-card backgroundfordiv">


      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge w3-text-blue ">Create UNC Master Details</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="CreateUNCmasterDetailform">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge w3-text-blue  ">UNC Name Master</label><br>
            </div>
            <br>
            <div class="form-row " style="background-color:white;">

              <div class="col-sm-4 spaceleft1">
                <label class="required"> UNC</label><br>
                <input class="w3-input form-control w3-border inputsmallsize30" type="text" [(ngModel)]="Name"
                  formControlName="UNC" required>
                <div class="w3-panel w3-text-red"
                  *ngIf="CreateUNCmasterDetailform.controls['UNC'].touched && CreateUNCmasterDetailform.controls['UNC'].hasError('required')">
                  Please enter UNC</div>
              </div>

              <div class="col-sm-4 adjustleft">
                <label>Date of Configuration</label><br>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="Date">
                </ejs-datepicker>
              </div>

              <div class="col-sm-3 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize15" formControlName="status">
                  <option selected value="null">Draft</option>
                  <option>Submitted</option>
                  <option>Approved</option>
                </select>
              </div>
              <br><br><br><br>

            </div>


            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge w3-text-blue ">UNC Parameter Master</label><br>
            </div>
            <br>


            <div class="form-row " style="background-color:white;">

              <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
                <table class="w3-table  w3-bordered">
                  <tr>
                    <th style="text-align:center;">SELECT</th>
                    <th style="text-align:center;">SOURCE OF UNCERTAINTY</th>
                    <th style="text-align:center;">PROBABILITY DISTRIBUTION</th>
                    <th style="text-align:center;">TYPE</th>
                    <th style="text-align:center;">DIVIDING FACTOR</th>
                    <th style="text-align:center;">SENSITIVITY COEFFICIENT</th>
                    <th style="text-align:center;">VALUE FOR ESTIMATE</th>
                    <th style="text-align:center;">PERCENTAGE FOR ESTIMATE</th>
                    <th style="text-align:center;">DEGREE OF FREEDOM</th>
                    <th style="text-align:center;">MASTER TYPE</th>
                    <th style="text-align:center;">MASTER NUMBER</th>

                  </tr>
                  <tr *ngFor="let item of row; let i = index">

                    <td> <input type="checkbox" formControlName="select"></td>
                    <td><select class="w3-input form-control w3-border inputsmallsize30" style="text-align:center;"
                        formControlName="sourceofuncertainity">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option value="1020029">10% from surfcae plate</option>
                        <option value="1020010">Accuracy from master certificate</option>
                        <option value="1020009">Accuracy of master</option>
                        <option value="1020038">Accuracy of master (I/P SIDE)</option>
                        <option value="1020039">Accuracy of master (O/P SIDE)</option>
                        <option value="1020019">Air density value provided by Spieweck’s:</option>
                        <option value="1020014">Buoyancy Correction</option>
                        <option value="1020020">Coefficient of expansion of the material of the volumetric apparatus 5 %
                        </option>
                        <option value="1020023">Deviation from reference Temperature-20 °C</option>
                        <option value="1020024">Difference in temperature of unit under calibration &amp; master used
                          for calibration</option>
                        <option value="1020025">Difference in thermal expansion coefficient unit under calibration
                          &amp;master used for calibration</option>
                        <option value="1020015">Drift in mass of the standard</option>
                        <option value="1020042">Drift of master RTD</option>
                        <option value="1020043">Drift of master T/C</option>
                        <option value="1020022">Evaporation (below 50 µl)</option>
                        <option value="1020026">Flatness of faces</option>
                        <option value="1020028">Flatness of scriber</option>
                        <option value="1020008">From master certificate</option>
                        <option value="1020036">From master certificate (I/P-SIDE)</option>
                        <option value="1020037">From master certificate (O/P-SIDE)</option>
                        <option value="1020030">Human error</option>
                        <option value="1020033">Human reaction time bias</option>
                        <option value="1020034">Human reaction time standard deviation</option>
                        <option value="1020002">Hysterisis</option>
                        <option value="1020011">Master for ambient measurement</option>
                        <option value="1020021">Meniscus</option>
                        <option value="1020045">Parallax of dials</option>
                        <option value="1020027">Parllelness of faces</option>
                        <option value="1020001">Repeatability</option>
                        <option value="1020005">Resolution of master</option>
                        <option value="1020040">Resolution of master (I/P SIDE)</option>
                        <option value="1020041">Resolution of master (O/P SIDE)</option>
                        <option value="1020004">Resolution of UUC</option>
                        <option value="1020006">Stability Bath</option>
                        <option value="1020012">Stability of furnance</option>
                        <option value="1020035">Temperature measurement</option>
                        <option value="1020044">THERMO HYGRO BAROMETER</option>
                        <option value="1020032">Uncertainty due to emissivity of black body source</option>
                        <option value="1020031">Uncertainty due to size of black body source effect</option>
                        <option value="1020007">Uniformity bath</option>
                        <option value="1020013">uniformity of furnance</option>
                        <option value="1020018">Water Density from the value provided by Tanaka</option>
                        <option value="1020017">Water temperature from certificate of themometer</option>
                        <option value="1020016">Weighing process(L.C.of balance)</option>
                        <option value="1020003">Zero deviation</option>
                      </select> </td>

                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="probabiltydistribution">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option value="1021001">NORMAL</option>
                        <option value="1021002">RECTANGULAR</option>
                        <option value="1021010">Weight scale</option>
                      </select></td>


                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="type">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option value="1022007">Auto Transformer</option>
                        <option value="1022001">Type A</option>
                        <option value="1022002">Type B</option>
                        <option value="1022006">Ultrasonoc Thickness Meter</option>
                      </select></td>

                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="dividingfactor">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option value="1023002">√3</option>
                        <option value="1023003">√6</option>
                        <option value="1023001">√n</option>
                        <option value="1023006">1</option>
                        <option value="1023004">1.96</option>
                        <option value="1023005">2</option>
                      </select></td>

                    <td>
                      <input class="w3-input form-control w3-border inputsmallsize7" type="text"
                        formControlName="sensitivitycoefficient">
                    </td>

                    <td> <input class="w3-input form-control w3-border inputsmallsize7" type="text"
                        formControlName="valueforestimate"></td>

                    <td> <label>&nbsp;Ag:</label><input class="w3-input form-control w3-border inputsmallsize4 "
                        style="display: inline;" type="text" formControlName="UNC">
                      <label style="font-size:14px;">&nbsp;Dg:</label> <input
                        class="w3-input form-control w3-border inputsmallsize4" style="display: inline;" type="text"
                        formControlName="percentageforestimate">
                    </td>

                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="degreeoffreedom">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option style="font-family:Arial;" value="1024002">∞</option>
                        <option style="font-family:Arial;" value="1024001">n-1</option>
                      </select></td>

                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="mastertype">
                        <option value="" disabled selected="" value="null">---Select---</option>
                        <option value="1017019">CALIBRATOR</option>
                        <option value="1017020">DMM</option>
                        <option value="1017021">FCDM</option>
                        <option value="1017016">MASS</option>
                        <option value="1017017">POWER</option>
                        <option value="1017018">PRESSURE</option>
                        <option value="1017013">RTD</option>
                        <option value="1017012">Setting Master</option>
                        <option value="1017022">SETTING RING</option>
                        <option value="1017011">Slip</option>
                        <option value="1017014">TC-K TYPE</option>
                        <option value="1017015">TC-R TYPE</option>
                        <option value="1017023">THREAD WIRE</option>
                      </select></td>

                    <td><select class="w3-input form-control w3-border inputsmallsize7" style="text-align:center;"
                        formControlName="masternumber">
                        <option value="0" disabled selected="" value="null">---Select---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select></td>
                  </tr>
                </table>
              </div>


            </div>

            <div class="form-row " style="background-color:white;">

              <button class="w3-btn box-2 btn btn-one margin-right button1  button11" style="background-color: #186CFB"
                type="button" (click)="addTable()">Add New Specification</button>
              <button class="w3-btn box-2 btn btn-one margin-right button2" style="background-color: #186CFB"
                type="button" (click)="deleteRow(i)">Remove</button>
              <button class="w3-btn box-2 btn btn-one margin-right button3" style="background-color: #186CFB"
                type="button" (click)="Create()">Create</button>

            </div>


          </div>

        </form>


      </div>
    </div>
  </div> -->



  <div >
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">
  
  
      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Create UNC Name</label><br>
      </div>
  
  
      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createUNCNameform">
  
          <div class="form-group w3-row-padding space" style="background-color:white;">
  
            <div class="w3-container w3-center w3-card register-card centercard1"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">UNC Name Master</label><br>
            </div>
            <br>
            <div class="form-row spaceTopBottom" style="background-color:white;">
  
              <div class="col-sm-3 spaceleft">
                <label class="required"> UNC</label><br>

                <!-- <input class="w3-input form-control w3-border inputsmallsize15" formControlName="uncName" [(ngModel)]="uncName"
                type="text" name="parameter" id="parameter" size="10"> -->

                <input class="w3-input form-control w3-border inputsmallsize15" list="uncname"
                style="display:inline-block;" type="text" placeholder="Search Unc Master Name"
                formControlName="uncName" [(ngModel)]="uncName">&emsp;

              <datalist id="uncname" required>
                <option [ngValue]="uncMastNm" selected
                  *ngFor="let uncMastNm of arrayUncMasterName">{{ uncMastNm | titlecase }}</option>
              </datalist>


              </div>

              <div class="col-sm-3 spaceleft">
                <label>Date Of Configuration</label>
                <ejs-datepicker class="w3-input form-control w3-border inputsmallsize15" format='dd-MM-yyyy'
                  id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="dateOfConfiguration">
                </ejs-datepicker>
              </div>
  
              <div class="col-sm-2 adjustleft">
                <label>Status</label><br>
                <select class="w3-input form-control w3-border inputsmallsize7" formControlName="status" [(ngModel)]="status">
                  <option selected value="Draft">Draft</option>
                  <option value="Submitted">Submitted</option>
                  <option value="Approved">Approved</option>
                </select>
              </div>
  
              <div class="col-sm-3 adjustleft">
                <label></label><br>
                <button class="w3-btn box-2 btn btn-one margin-right" style="background-color: #008080" type="button"
                  (click)="create()">Create</button>
                  <p id="demo"></p>
              </div>
  
            </div>
  
            <br>
  
            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <a (click)="openChildWindow()"> <label class=" w3-lobster w3-xlarge" >UNC Parameter Master</label></a><br>

              <!-- <a > <label class=" w3-lobster w3-xlarge" >UNC Parameter Master</label></a><br> -->
            </div>
            <br>
  
            <div class="form-row " style="background-color:white;">
  
              <div class=" form-group col-sm-12">
                <div>
                  <br>
                </div>
              </div>
            </div>
            <br>
  
          </div>
        </form>
  
  
      </div>
    </div>
  </div>
  