<div style="background-color:white">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card "
    style="background-color: white;">

    <div style="text-align:center;">
      <label style="font-size: 30px;">Multi Parameter List - {{nomenclatureName}} - {{inwardInstruNo}}</label>
    </div>


    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">

      <form [formGroup]="reqdocMultiParaDetailsForm">

        <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">

          <div id="printable">

            <div>
              <div class="adjusttable" id="tab">
                <table class="table" id="tblMultileads">
                  <thead>
                    <tr>
                      <th class="center">SELECT</th>
                      <th>PARAMETER</th>
                      <th>ID NO</th>
                      <th>RANGE FROM </th>
                      <th>RANGE TO</th>
                      <th>UOM</th>
                      <th>LEAST COUNT</th>
                      <th>UOM</th>
                      <th>ACCURACY</th>
                      <th>FORMULA ACCURACY</th>
                      <th>UOM ACCURACY</th>
                      <th>ACCURACY</th>
                      <th>FORMULA ACCURACY</th>
                      <th>UOM ACCURACY</th>
                      <th>LAB TYPE</th>
                      <th>SAVE</th>
                    </tr>
                  </thead>
                  <tbody id="tbodyLeads" formArrayName="Rows">


                    <tr
                      *ngFor="let itemrow of reqdocMultiParaDetailsForm.controls.Rows.controls; let i=index;let l=last"
                      [formGroupName]="i">
                      <td>

                      </td>

                      <td>

                        <input list="parameter" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="parameter" formControlName="parameter" autocomplete="off" required>
                        <datalist id="parameter" required>
                          <option [ngValue]="instruPara" [value]="instruPara"
                            *ngFor="let instruPara of arrayParameterName"></option>
                        </datalist>

                      </td>

                      <td>
                        <input type="text" class="form-control inputsmallsize5" formControlName="idNo">
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="rangeFrom">
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="rangeTo">
                      </td>

                      <td>

                        <input list="uom" type="text" class="w3-input form-control w3-border inputsmallsize7" name="uom"
                          formControlName="ruom" required>
                        <datalist id="uom" autocomplete="off" required>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </datalist>

                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="leastCount">
                      </td>

                      <td>
                        <input list="uom1" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="uom1" formControlName="lcuom1" autocomplete="off" required>
                        <datalist id="uom1" required>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </datalist>
                      </td>

                      <td><input type="text" class="form-control inputsmallsize5" formControlName="accuracy">
                      </td>

                      <td>
                        <input list="formulaAccuracy" type="text" id="selectTagFA-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize7" name="formulaAccuracy"
                          formControlName="formulaAccuracy" autocomplete="off" (change)="accuracyValue(i)"
                          (keyup)="accuracyValue(i)" required>
                        <datalist id="formulaAccuracy" required>
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>
                      </td>

                      <td>
                        <input id="selectTag-{{i}}" list="uomAccuracy" type="text"
                          class="w3-input form-control w3-border inputsmallsize7" name="uomAccuracy"
                          formControlName="uomAccuracy" (change)="accuracyUomValue(i)" (click)="accuracyUomValue(i)"
                          autocomplete="off" required>
                        <datalist id="uomAccuracy" required>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </datalist>
                      </td>


                      <td><input type="text" class="form-control inputsmallsize5" formControlName="accuracy1">
                      </td>


                      <td>

                        <input list="formulaAccuracy1" type="text" id="selectTagFA1-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize7" name="formulaAccuracy1"
                          formControlName="formulaAccuracy1" autocomplete="off" (change)="accuracyValue1(i)"
                          (keyup)="accuracyValue1(i)" required>
                        <datalist id="formulaAccuracy1" required>
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>

                      </td>

                      <td>

                        <input id="selectTag1-{{i}}" list="uomAccuracy1" type="text"
                          class="w3-input form-control w3-border inputsmallsize7" name="uomAccuracy1"
                          formControlName="uomAccuracy1" (change)="accuracyUomValue1(i)" (click)="accuracyUomValue1(i)"
                          autocomplete="off" required>
                        <datalist id="uomAccuracy1" required>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </datalist>

                      </td>


                      <td>

                        <input list="labType" type="text" class="w3-input form-control w3-border inputsmallsize7"
                          name="labType" formControlName="labType" autocomplete="off" required>
                        <datalist id="labType" required>
                          <option>Nabl</option>
                          <option>No Nabl</option>
                        </datalist>

                      </td>
                      <td>

                        <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                          style="width:50px; height:30px;" (click)="saveAllTrial(i)"
                          (keyup)="saveAllTrial(i)">{{ text }}</button>


                      </td>

                    </tr>
                  </tbody>

                </table>
              </div>
              <div>

                <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                  style="background-color: #008080; width:50px; height:40px;" (click)="addNewRow()">Add</button>

                <button class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                  style="background-color: #008080; width:50px; height:40px;" (click)="toClose()"> Back</button>

              </div>

            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

<br />
<br />
