<div>
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85,81,81);">Create Customer Purchase Order
        Document</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="createCustomerPurchaseForm" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">
<br>
          <div >
          <a (click)="moveToSearchsales()"><h5>Search Sales Quotation To Create Po</h5></a>
          </div>


          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label class="required">Document Type</label>
              <select class="form-control inputsmallsize30" [(ngModel)]="document_type" formControlName="documentType"
                name="document_type" id="document_type" required>
                <option selected disabled value="null">--Select Doc Type--</option>
                <option>Customer PO Closed</option>
                <option>Customer PO Open</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="createCustomerPurchaseForm.controls['documentType'].touched && createCustomerPurchaseForm.controls['documentType'].hasError('required')">
                Please select Document Type</div>
            </div>

            <div class=" form-group col-sm-4  spaceleft">
              <label class="required">Customer</label><br>
              <input style="display: inline-block;" list="customername" type="text"
                class="w3-input form-control w3-border inputsmallsize30" formControlName="customerName"
                name="customername" [(ngModel)]="customerName" (keyup)="customerNameValid()" autocomplete="off"
                required>
              <datalist id="customername" required>

                <option [ngValue]="customer1.name" [value]="customer1.name" selected
                  *ngFor="let customer1 of trialCustomerWithAddress">{{customer1.address}}</option>
              </datalist>

              <div class="w3-panel w3-text-red"
                *ngIf="createCustomerPurchaseForm.controls['customerName'].touched && createCustomerPurchaseForm.controls['customerName'].hasError('required')">
                Please select customer</div>
              <div style="color:red;" id="customerNameValidation"></div>
            </div>

            <div class="col-sm-4 spaceleft">
              <label class="required">Cust PO No</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" formControlName="custPoNo"
                required>
              <div class="w3-panel w3-text-red"
                *ngIf="createCustomerPurchaseForm.controls['custPoNo'].touched && createCustomerPurchaseForm.controls['custPoNo'].hasError('required')">
                Please enter PO Name</div>
            </div>

          </div>
          <br>

          <div class="form-row spaceTop" style="background-color:white;">

            <div class="col-sm-4 adjustleft">
              <label class="required">PO Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="poDate">
              </ejs-datepicker>


            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">Valid To Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="validToDate">
              </ejs-datepicker>
            </div>
          </div>

        </div>

        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #008080" type="submit"
            [disabled]="!createCustomerPurchaseForm.valid">Create</button>

        </div>

      </form>
    </div>

  </div>

</div>
<div>.</div>
<form [formGroup]="frm">
  <input type="hidden" formControlName="cName" value="text" size="10">
</form>
