<div>
  <div>
    <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">

      <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
        <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Update Specification Details Of Master
          Instrument</label><br>
      </div>


      <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
        <form [formGroup]="createMasterSpecificationForm">

          <div class="form-group w3-row-padding space" style="background-color:white;">

            <div class="w3-container w3-center w3-card register-card centercard1 sadjust"
              style="background-color:rgb(233,233,233);">
              <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">
                Specification Details
              </label>
            </div>

            <div class="form-row " style="background-color:white;">
              <div class="form-row  adjusttable" style="background-color:white;">

                <div class="form-row spaceTopBottom " style="background-color:white;">
                  <div class="col-sm-4 adjustleft">
                    <label>Status</label>
                    <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="status"
                      (click)="paraSpecifications()" formControlName="status">
                      <option value="Draft">Draft</option>
                      <option value="Submitted">Submitted</option>
                      <option value="Approved">Approved</option>
                    </select>
                  </div>
                  <div class="col-sm-4 adjustleft">
                    <label>Parameter</label>
                    <select class="w3-input form-control w3-border inputsmallsize30" [(ngModel)]="selectParameter"
                      formControlName="selectParameter" (click)="onChange()">
                      <option [value]="paraName" *ngFor="let paraName of arrayParameterNames">{{paraName}}</option>
                    </select>
                  </div>
                </div>

                <table class="w3-table  w3-bordered">
                  <thead>
                    <tr>

                      <th style="text-align:center;" *ngIf="showApprovePart==1">SELECT</th>
                      <th style="text-align:center;">RANGE FROM</th>
                      <th style="text-align:center;">RANGE TO</th>
                      <th style="text-align:center;">RANGE UOM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">FREQUENCY FROM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">UOM OF FREQ FROM</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">FREQUENCY TO</th>
                      <th style="text-align:center;" *ngIf="showFreq==1">UOM OF FREQ TO </th>
                      <th style="text-align:center;">LEAST COUNT </th>
                      <th style="text-align:center;">LEAST COUNT UOM</th>
                      <th style="text-align:center;">ACCURACY</th>
                      <th style="text-align:center;">FORMULA ACCURACY </th>
                      <th style="text-align:center;">UOM ACCURACY</th>
                      <th style="text-align:center;">ACCURACY1</th>
                      <th style="text-align:center;">FORMULA ACCURACY1 </th>
                      <th style="text-align:center;">UOM ACCURACY1</th>
                      <th style="text-align:center;">TEMP CHART TYPE</th>
                      <th style="text-align:center;">MODE</th>
                      <th>SAVE</th>
                      <th>DELETE</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="Rows">
                    <tr
                      *ngFor="let itemrow of  createMasterSpecificationForm.controls.Rows.controls | search: searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;let l=last"
                      [formGroupName]="fieldGlobalIndex(i)">

                      <td *ngIf="showApprovePart==1">
                        <input type="checkbox" style="width:20px;height:20px" formControlName="checkbox" name="checkbox" id="checkbox">
                      </td>
                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeFrom"
                          type="text" name="rang1" id="rang1" size="10">
                      </td>
                      <td> <input class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeTo"
                          type="text" name="rangeto1" id="rangeto1" size="5">
                      </td>
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="rangeUom">
                          <option hidden selected>{{itemrow.get('rangeUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayUomNameAccorToParam1">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td *ngIf="showFreq==1">
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="freqFrom"
                          type="text" type="text" name="frqFrom1" id="frqFrom1" size="5">
                      </td>
                      <td *ngIf="showFreq==1">
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="freqFromUom">
                          <option hidden selected>{{itemrow.get('freqFromUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayOfFrequencyUomNames">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td *ngIf="showFreq==1"> <input class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="freqTo" type="text" name="frqTo1" id="frqTo1" size="5">
                      </td>
                      <td *ngIf="showFreq==1">
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="freqToUom">
                          <option hidden selected>{{itemrow.get('freqToUom').value}}</option>
                          <option [value]="uomName" *ngFor="let uomName of arrayOfFrequencyUomNames">{{uomName}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="leastCount"
                          type="text" name="leastCount1" id="leastCount1" size="5">
                      </td>
                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="leastCountUom">
                          <option hidden selected>{{itemrow.get('leastCountUom').value}}</option>
                          <option value="Select uom">Select uom</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <input class="w3-input form-control w3-border inputsmallsize7" formControlName="accuracy"
                          name="accuracy11" id="accuracy11" size="5" style="width:100px">
                      </td>
                      <td>
                        <input list="formulaAccuracy" type="text" id="selectTagFA-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize9" name="formulaAccuracy"
                          formControlName="formulaAccuracy" autocomplete="off" (change)="accuracyValue(i)"
                          (keyup)="accuracyValue(i)" required>
                        <datalist id="formulaAccuracy">
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>
                      </td>

                      <td>
                        <select id="selectTag-{{i}}" class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="uomAccuracy" (change)="accuracyUomValue(i)" (click)="accuracyUomValue(i)">
                          <option hidden selected>{{itemrow.get('uomAccuracy').value}}</option>
                          <option value="Select uom">Select uom</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <input type="text" class="form-control inputsmallsize5" formControlName="accuracy1">
                      </td>

                      <td>
                        <input list="formulaAccuracy1" type="text" id="selectTagFA1-{{i}}"
                          class="w3-input form-control w3-border inputsmallsize9" name="formulaAccuracy1"
                          (change)="accuracyValue1(i)" (keyup)="accuracyValue1(i)" formControlName="formulaAccuracy1"
                          autocomplete="off" required>
                        <datalist id="formulaAccuracy1">
                          <option [ngValue]="formulaAccuracyName" [value]="formulaAccuracyName"
                            *ngFor="let formulaAccuracyName of arrayFormulaAccuracyName"></option>
                        </datalist>
                      </td>

                      <td>
                        <select id="selectTag1-{{i}}" class="w3-input form-control w3-border inputsmallsize7"
                          formControlName="uomAccuracy1" (change)="accuracyUomValue1(i)" (click)="accuracyUomValue1(i)">
                          <option hidden selected>{{itemrow.get('uomAccuracy1').value}}</option>
                          <option value="Select uom">Select uom</option>
                          <option [value]="uomName1" *ngFor="let uomName1 of arrayUomNameAccorToParam1">{{uomName1}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" formControlName="tempChartType"
                          type="text" name="tmpChart1" id="tmpChart1" style="width:100px">
                          <option hidden selected>{{itemrow.get('tempChartType').value}}</option>
                          <option [value]="tempChart" *ngFor="let tempChart of arrayTempChartTypeNames">{{tempChart}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <select class="w3-input form-control w3-border inputsmallsize7" type="text" name="mode"
                          id="mode" formControlName="modeType">
                          <option [value]="modeName" *ngFor="let modeName of arrayModeTypeListName">{{modeName}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <button id="btn-{{i}}" class="w3-btn box-2 btn btn-one margin-right button1  button11 noprint"
                          style="width:50px; height:30px;" (keyup)="saveData(i)" (click)="saveData(i)">Save</button>
                      </td>

                      <td>
                        <span><i class=" w3-medium custom-icon fa fa-trash" (click)="deleteRow(i)"></i></span>
                      </td>

                    </tr>
                  </tbody>
                </table>

                <br>
                <div style="color:red;" id="trial"></div>
                <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                <label>Items per page:
                  <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage"
                    formControlName="itemsPerPage">
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="form-row " style="background-color:white;">

              <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button" style="display: inline-block;"
                (click)="addNewRow()">Add </button>
                <div *ngIf="showApprovePart==1" style="display: inline-block;">
                <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
                (click)="approveCheckbox()">Approve </button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <pre>{{ createMasterSpecificationForm.value | json }}  </pre>