<div >
  <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge ">Search and Modify Environmental Master</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:rgb(255, 255, 255);">
      <form [formGroup]="searchEnvMasterForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row " style="background-color:white;">


            <div class="col-sm-4 spaceleft spaceBottom">
              <label>Search Environmental Masters</label> <br>
              <input style="display: inline;" class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="&#61442; Search Environmental Masters" formControlName="searchDocument">            
            </div>

            <div class="col-sm-3 spaceleft spaceBottom">
              <label></label>
              <button class="w3-btn box-2 btn1 btn-one margin-right button1  button11" type="button"
              (click)="searchData()">Search</button>
            </div>



            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <br>
              <table class="w3-table  w3-bordered">
                <tr>
                  <th style="text-align:center;"> CALIBRATION LAB</th>
                  <th style="text-align:center;">CALIBRATED AT</th>
                  <th style="text-align:center;">FROM DATE</th>
                  <th style="text-align:center;">TO DATE</th>
                  <th style="text-align:center;">PREVIEW</th>
                </tr>
                <tr *ngIf="envMasterInstruArray==0">
                  <td  width="100%" colspan="6">
                    <span>Enter Criteria To Search Records(s).</span>
                  </td>
                </tr>

                <tr *ngFor="let env of envMasterInstruArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">
                  <td><a class="a1" (click)="moveToMIUpdateScreen(i)">{{env[14]}}</a></td>
                  <td>{{env[1]}}</td>
                  <td>{{env[3]}}</td>
                  <td>{{env[4]}}</td>
                  <td></td>                
                </tr>


              </table>

              <br>

              <div style="color:red;" id="trial"></div>
              <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
              <label>Items per page:
                <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </label>
              
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
