<div id="vertical-menu">
    <ul>
      <!--  <li class="active">
            	<h3><span class="plus">+</span>Dashboard</h3>

            <ul>
                <h3><span class="plus">+</span>small Dashboard</h3>
                <li><a href="#">Reports</a>
                </li>
                <li><a href="#">Search</a>
                </li>
                <li><a href="#">Graphs</a>
                </li>
                <li><a href="#">Settings</a>
                </li>
            </ul>
        </li> -->




        <li class="active">
            <a href="#UserSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><h3>User<span class="plus">+</span></h3></a>
            <ul class="collapse list-unstyled" id="UserSubmenu">
              <li>
                <a href="#UserSubmenu1" data-toggle="collapse"  class="dropdown-toggle" aria-expanded="false"><h3>User<span class="plus">+</span></h3></a>
                <ul class="collapse list-unstyled" id="UserSubmenu1">
                  <li routerLinkActive="active"><a tabindex="-1" routerLink="usrcreate">Add New User</a></li>
                  <li routerLinkActive='active'><a tabindex="-1" routerLink="usrsearch">Search & Modify User</a></li>
                 <!-- <li routerLinkActive='active'><a tabindex="-1" routerLink="usrmanage">Manage Approvers</a></li>-->
                </ul>
              </li>
            </ul>
          </li>







          
        <!-- we will keep this LI open by default -->
        <li>
            	<h3><span class="plus">+</span>Tasks</h3>

            <ul>
                <li><a href="#">Today's tasks</a>
                    
                </li>
                <li><a href="#">Urgent</a>

                </li>
                <li><a href="#">Overdues</a>
                </li>
                <li><a href="#">Recurring</a>
                </li>
                <li><a href="#">Settings</a>
                </li>
            </ul>
        </li>
        <li>
            	<h3><span class="plus">+</span>Favorites</h3>

            <ul>
                <li><a href="#">Global favs</a>
                </li>
                <li><a href="#">My favs</a>
                </li>
                <li><a href="#">Team favs</a>
                </li>
                <li><a href="#">Settings</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!--The content below is only a placeholder and can be replaced.-->  
<div style="text-align:center">  
  <h2>Upload an QR code</h2>  
  <input type="file" #file name="file" id="file" (change)="preview(file.files)">  
  <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="value" [qrr-type]="elementType">  
  </ng2-qrcode-reader><br>  
  <div #result></div>  
</div> 