<div class="bgcolorcomponent">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Supplier</label><br>
    </div>


    <div class="w3-container w3-card register-card " style="background-color:white;">
      <form [formGroup]="AddSupplierform" (ngSubmit)="onSubmit()">

        <div class="form-group w3-row-padding space" style="background-color:white;">

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4">
              <label class="required">Supplier Type</label><br>
              <select id="department" class="form-control inputsmallsize30" formControlName="supplierType"
                [(ngModel)]="supplierType" name="supplierType" id="supplierType" required>
                <option selected disabled value="null">--Select Supplier Type--</option>
                <option [ngValue]="supplierType" *ngFor="let supplierType of arraySupplierTypeName">{{supplierType}}
                </option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['supplierType'].touched && AddSupplierform.controls['supplierType'].hasError('required')">
                Please select Supplier Type</div>

            </div>

            <div class="col-sm-3">
              <label class="required">Code</label>
              <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="code"
                [(ngModel)]="supplier.code" formControlName="code" required>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['code'].touched && AddSupplierform.controls['code'].hasError('required')">
                Please enter Code</div>
            </div>

            <div class="col-sm-5">
              <label class="required">Name</label>
              <input class="w3-input form-control w3-border inputsmallsize50" type="text" placeholder="Name"
                [(ngModel)]="supplier.name" formControlName="name">
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.name.invalid && (AddSupplierform.controls.name.dirty || AddSupplierform.controls.name.touched)">
                Please valid enter Name</div>
            </div>

          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4">
              <label class="required">Phone</label>
              <input type="tel" class="form-control inputsmallsize30" id="phoneNo" placeholder="Phone"
                [(ngModel)]="phoneNo" formControlName="phoneNo">
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.phoneNo.invalid && (AddSupplierform.controls.phoneNo.dirty || AddSupplierform.controls.phoneNo.touched)">
                Please enter valid phone no</div>
            </div>

            <div class="col-sm-3">
              <label class="required">Approval Status</label><br>
              <select class="form-control inputsmallsize15" formControlName="approvalStatus"
                [(ngModel)]="supplier.approvalStatus" required>
                <option selected disabled value="null">--Select Approval Status--</option>
                <option value="Provisionally Approved">Provisionally Approved</option>
                <option value="Approved">Approved</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['approvalStatus'].touched && AddSupplierform.controls['approvalStatus'].hasError('required')">
                Please select Approval Status</div>
            </div>


            <div class="col-sm-5">
              <label class="required">Email</label><br>
              <input style="display: inline-block;" class="w3-input form-control w3-border inputsmallsize50" type="text"
                [(ngModel)]="supplier.email" formControlName="email">
              <span data-tip="Email must contain atleast 1-dot and 1-@ for example abc@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.email.invalid && (AddSupplierform.controls.email.dirty || AddSupplierform.controls.email.touched)">
                Please enter valid email</div>
            </div>

          </div>

          <br>
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-7">
              <label>PAN No.</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Pan No" [(ngModel)]="panNo" name="panno" id="panno" formControlName="panNo">
              <span data-tip="Pan card number must contain 10 characters (combination of digits and alphabets)"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.panNo.invalid && (AddSupplierform.controls.panNo.dirty || AddSupplierform.controls.panNo.touched)">
                Please enter valid PAN No</div>
            </div>

            <div class="col-sm-5">
              <label>GST No</label><br>
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize3" type="text"
                formControlName="gstNo1" name="gstno1" id="gstno1" title="Invalid GST Number.">
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15" type="text"
                formControlName="gstNo2" name="gstno2" id="gstno2" value="{{panNo}}">
              <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize3" type="text"
                formControlName="gstNo3" name="gstno3" id="gstno3">

              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.gstNo1.invalid && (AddSupplierform.controls.gstNo1.dirty || AddSupplierform.controls.gstNo1.touched)"
                style="display: inline-block;">
                Please enter valid State code.</div>
              <div class="w3-panel w3-text-red" style="display: inline-block;"
                *ngIf="AddSupplierform.controls.gstNo2.invalid && (AddSupplierform.controls.gstNo2.dirty || AddSupplierform.controls.gstNo2.touched)">
                Please enter valid PAN No.</div>
              <div class="w3-panel w3-text-red" style="display: inline-block;"
                *ngIf="AddSupplierform.controls.gstNo3.invalid && (AddSupplierform.controls.gstNo3.dirty || AddSupplierform.controls.gstNo3.touched)">
                Please enter valid unique code</div>

            </div>
          </div>

          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-7">
              <label>Primary Contact</label>
              <input class="w3-input form-control w3-border inputsmallsize50" type="text" placeholder="Name"
                [(ngModel)]="supplier.primaryContact" formControlName="primaryContact">
              <!--       <div class="w3-panel w3-text-red"  *ngIf="AddSupplierform.controls.primarycontact.invalid && (AddSupplierform.controls.primarycontact.dirty || AddSupplierform.controls.primarycontact.touched)">Please valid primary contact</div>         -->
            </div>

            <div class="col-sm-5">
              <label>Primary Phone</label><br>
              <input type="tel" class="form-control inputsmallsize30" id="mobileNumber1" placeholder="Phone"
                [(ngModel)]="primaryPhoneNo" formControlName="primaryPhoneNo">
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.primaryPhoneNo.invalid && (AddSupplierform.controls.primaryPhoneNo.dirty || AddSupplierform.controls.primaryPhoneNo.touched)">
                Please enter valid phone no</div>
              <!--       <div class="w3-panel w3-text-red"  *ngIf="AddSupplierform.controls.primaryphoneno.invalid && (AddSupplierform.controls.primaryphoneno.dirty || AddSupplierform.controls.primaryphoneno.touched)">Please enter valid phone no</div>  -->
            </div>
          </div>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-7">
              <label>Secondary Contact</label>
              <input class="w3-input form-control w3-border inputsmallsize50" type="text" placeholder="Name"
                [(ngModel)]="supplier.secondaryContact" formControlName="secondaryContact">
              <!--      <div class="w3-panel w3-text-red"  *ngIf="AddSupplierform.controls.secondarycontact.invalid && (AddSupplierform.controls.secondarycontact.dirty || AddSupplierform.controls.secondarycontact.touched)">Please valid secondary contact</div>   -->
            </div>

            <div class="col-sm-5">
              <label>Secondary Phone</label><br>
              <input type="tel" class="form-control inputsmallsize30" id="mobileNumber2" placeholder="Phone"
                [(ngModel)]="secondaryPhoneNo" formControlName="secondaryPhoneNo">
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls.secondaryPhoneNo.invalid && (AddSupplierform.controls.secondaryPhoneNo.dirty || AddSupplierform.controls.secondaryPhoneNo.touched)">
                Please enter valid phone no</div>
              <!--     <div class="w3-panel w3-text-red"  *ngIf="AddSupplierform.controls.secondaryphoneno.invalid && (AddSupplierform.controls.secondaryphoneno.dirty || AddSupplierform.controls.secondaryphoneno.touched)">Please enter valid phone no</div>   -->
            </div>
          </div>



          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-7">
              <label class="required"> Address Line 1</label><br>
              <textarea class="w3-input form-control w3-border textboxareascrolling" style="display:inline-block;"
                [(ngModel)]="supplier.addressLine1" formControlName="addressLine1" required></textarea>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['addressLine1'].touched && AddSupplierform.controls['addressLine1'].hasError('required')">
                Please enter address</div>
            </div>

            <div class="col-sm-5">
              <label>Address Line 2</label>
              <textarea class="w3-input form-control w3-border textboxareascrolling" type="text"
                [(ngModel)]="supplier.addressLine2" formControlName="addressLine2"></textarea>
            </div>
            <br>
          </div>

          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;"><br>
            <div class="col-sm-3">
              <label class="required">Country</label>
              <div title="Please select the country that the customer will primarily be served from">
                <select class="w3-input form-control w3-border inputsmallsize15" placeholder="Phantasyland"
                  (change)="changeCountry($event.target.value)" [(ngModel)]="supplier.country" name="country"
                  id="country" formControlName="country" required>
                  <option *ngFor="let count of countryList">{{count.name}}</option>
                </select>
                <div class="w3-panel w3-text-red"
                  *ngIf="AddSupplierform.controls['country'].touched && AddSupplierform.controls['country'].hasError('required')">
                  Please select country</div>
              </div>
            </div>

            <div class="col-sm-3">
              <label class="required">State</label>
              <select class="w3-input form-control w3-border inputsmallsize15" placeholder="Anycity"
                [(ngModel)]="supplier.state" name="state" id="state" formControlName="state" required>
                <option value="null" selected>--Select--</option>
                <option *ngFor="let state of states">{{state.nm}}</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['state'].touched && AddSupplierform.controls['state'].hasError('required')">
                Please select state</div>
            </div>

            <div class="col-sm-3">
              <label class="required"> City</label><br>
              <input class="w3-input form-control w3-border inputsmallsize15" style="display:inline-block;" type="text"
                placeholder="city" [(ngModel)]="supplier.city" formControlName="city" required>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['city'].touched && AddSupplierform.controls['city'].hasError('required')">
                Please enter city</div>
            </div>



            <div class="col-sm-3">
              <label class="required">Status</label>
              <select class="form-control inputsmallsize15" [(ngModel)]="supplier.status" formControlName="status"
                required>
                <option selected disabled value="null">--Select Status--</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="AddSupplierform.controls['status'].touched && AddSupplierform.controls['status'].hasError('required')">
                Please select status</div>

            </div>
          </div>

          <br>
          <br>

          <div class="form-row spaceTop">
            <div class="form-group Adjustspace col-sm-6">
              <label>Date Created :</label>
              <h5 style="font-family: calibri;font-size: 15px; ">{{dateValue | date:'fullDate'}}</h5>
            </div>
            <!--   <div class="form-group  col-sm-6">
              <label>Date Modified :</label>
            </div>    -->

          </div><br>
          <div class="form-row spaceTop">
            <label class="w3-text-red spaceTop">* indicates required fields.</label>

          </div>

        </div>
        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" type="submit"
            [disabled]="!AddSupplierform.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="select">
  <input type="hidden" id="countryphno" name="countryphno" [(ngModel)]="trialp" />
  <input type="hidden" id="country1" name="country1" [(ngModel)]="trialp1" />
  <input type="hidden" id="country2" name="country2" [(ngModel)]="trialp2" />
</div>
