<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Search and Modify NABL Scope
        Masters</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="searchNablForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row " style="background-color:white;">

            <br>
            <div class="col-sm-6 spaceleft spaceBottom">
              <label>Search NABL Scope Masters</label> <br>
              <input style="display: inline;" class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="&#61442; Search NABL Scope Masters.." formControlName="searchDocument">
              <button class="w3-btn  box-1 btn btn-one margin-right1" style="background-color: #008080" type="button"
                (click)="searchNabl()">Search</button>
            </div>


            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <br>
              <table class="w3-table  w3-bordered">
                <tr>
                  <th style="text-align:center;">NAME</th>
                  <th style="text-align:center;">NABL CERTIFICATION NO</th>
                  <th style="text-align:center;">DATE OF ISSUE</th>
                  <th style="text-align:center;">VALID UPTO</th>
                  <th style="text-align:center;">PREVIEW</th>
                </tr>
                <tbody>

                  <tr *ngIf="nablScopeDataArray == 0">
                    <td width="100%" colspan="6"><span> Enter Criteria to search nabl scope(s).</span></td>
                  </tr>

                  <tr
                    *ngFor="let user of nablScopeDataArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">

                    <td style="text-align:center;"><a class="a1"><span
                          (click)="moveToNablUpdateScreen($event)">{{user[13]}}</span></a><br> </td>
                    <td style="text-align:center;">{{user[1]}}</td>
                    <td style="text-align:center;">{{user[3]}}</td>
                    <td style="text-align:center;">{{user[4]}}</td>

                  </tr>

                </tbody>

              </table>
              <br>
              <div style="color:red;" id="trial"></div>
              <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
              <label>Items per page:
                <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </label>
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
