<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv" >
  
    
    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Create or Update User</label><br>
    </div>
  
  
    <div class="w3-container w3-card register-card " style="background-color:white;" >
    <form  [formGroup]="validateForm">
     
      <div class="form-group w3-row-padding space" style="background-color:white;">
  
        <div  class="form-row spaceTopBottom" style="background-color:white;">
          <div class="col-sm-4  Adjustspace">
            <label class="required">First Name</label>
            <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="First Name" formControlName="firstName" >
            <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.firstName.invalid && (validateForm.controls.firstName.dirty || validateForm.controls.firstName.touched)">Please enter valid first name</div> 
            
          </div>
  
          <div class="col-sm-4 Adjustspace">
            <label>Middle Name</label>
            <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Middle Name" formControlName="middleName" >
            <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.middleName.invalid && (validateForm.controls.middleName.dirty || validateForm.controls.middleName.touched)">Please enter valid Middle name</div> 
          </div>
          <div class="col-sm-4">
            <label  class="required">Last Name</label>
            <input class="w3-input form-control w3-border inputsmallsize15" type="text" placeholder="Last Name" formControlName="lastName" >
            <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.lastName.invalid && (validateForm.controls.lastName.dirty || validateForm.controls.lastName.touched)">Please enter valid last name</div> 
            
          </div>
  
        </div> 
  
        <div  class="form-row spaceTopBottom">
          <div class="form-group Adjustspace col-sm-4">
             <label  class="required">PAN Number</label>
             <input type="text" class="form-control inputsmallsize15" id="pannumber" placeholder="PAN Number" formControlName="PANnumber">
             <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.PANnumber.invalid && (validateForm.controls.PANnumber.dirty || validateForm.controls.PANnumber.touched)">Please enter valid PAN Number</div> 
          </div>
          <div class="form-group Adjustspace col-sm-4">
             <label  class="required">GST Number</label>
             <input type="text" class="form-control inputsmallsize15" id="gstnumber" placeholder="GST Number" formControlName="GSTnumber">
             <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.GSTnumber.invalid && (validateForm.controls.GSTnumber.dirty || validateForm.controls.GSTnumber.touched)">Please enter valid GST Number</div> 
          </div>
          <div class="form-group  col-sm-4">
            <label  class="required">Aadhar Number</label>
            <input type="text" class="form-control inputsmallsize15" id="aadharnumber" placeholder="GST Number" formControlName="Aadharnumber">
            <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.Aadharnumber.invalid && (validateForm.controls.Aadharnumber.dirty || validateForm.controls.Aadharnumber.touched)">Please enter valid Aadhar number</div> 
         </div>
       </div>
  
       <div class="form-row spaceTopBottom">
        <div class=" form-group col-sm-4 Adjustspace">
          <label  class="required">Gender</label>
          <select id="department" class="form-control inputsmallsize15">
            <option selected>Male</option>
            <option>Female</option>
            <option>Other</option>
         </select>
        </div>
        <div class=" form-group col-sm-4">
          <label  class="required">Status</label>
          <select id="department" class="form-control inputsmallsize15">
            <option selected>Active</option>
            <option>Inactive</option>
         </select>  
        </div>
      </div>
    
  
       <div class="form-row spaceTopBottom">
          <div class="form-group Adjustspace col-sm-6">
             <label  class="required">Email Work</label>
             <input type="email" class="form-control inputsmallsize30" id="myEmail" placeholder="Email" formControlName="email">
             <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.email.invalid && (validateForm.controls.email.dirty || validateForm.controls.email.touched)">Please enter valid email</div> 
          </div>

          <div class="form-group  col-sm-6">
            <label >Email Password</label>
            <input type="text" class="form-control inputsmallsize15" id="emailpassword" placeholder="atleast 6 characters including 1 digit " formControlName="emailPassword" > 
            <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.emailPassword.invalid && (validateForm.controls.emailPassword.dirty || validateForm.controls.emailPassword.touched)">Please enter valid password</div> 
          </div>

       </div>
  
  

  
  


  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
    <div class="form-row spaceTopBottom">
      <div class="form-group Adjustspace col-sm-6">
        <label >Username</label>
        <input type="text" class="form-control inputsmallsize15" id="username" placeholder="Username" formControlName="Username">
        <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.Username.invalid && (validateForm.controls.Username.dirty || validateForm.controls.Username.touched)">Please enter valid username</div> 
      </div>
      <div class="form-group  col-sm-6">
        <label >Password</label>
        <input type="text" class="form-control inputsmallsize15" id="emailpassword" placeholder="atleast 6 characters including 1 digit" formControlName="Password"> 
        <div class="w3-panel w3-text-red"  *ngIf="validateForm.controls.Password.invalid && (validateForm.controls.Password.dirty || validateForm.controls.Password.touched)">Please enter valid password</div> 
      </div>
   </div>
  
  
  
   <div class="form-row spaceTopBottom" style="background-color:white;">
    <div class="form-group Adjustspace col-sm-6">
    <label for="inputAddress2">Address </label>
   
<textarea class="form-control textareabox" formControlName="address">write address here...</textarea>
</div>
 </div>
  
      </div>
      <div class="flex-parent jc-center ">
      <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #186CFB" type="button" >Create</button>
      <button class="w3-btn  box-1 btn btn-one" style="background-color: #186CFB;" type="button" >Back To Menu</button>
      </div>
    </form>
  </div>
  </div>
  
  </div>