css************* [data-tip] {
  position: relative;

}

[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 10;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: -10px;
  left: 25px;
  padding: 5px 8px;
  background: #f8f8f8;
  color: rgb(15, 15, 15);
  border-left: 5px solid #0a0a0a;
  border-right: 5px solid #0a0a0a;
  border-bottom: 5px solid #0a0a0a;
  z-index: 9;
  font-size: 0.95em;
  height: 80px;
  width: 200px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: black;
  white-space: pre-wrap;

  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
  border: black;
  border-top: 1px solid #0a0a0a;
  border-left: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid #0a0a0a;
}



/* code for hide and showing columns */

.btn-condensed.btn-condensed {
  padding: 0 5px;
  box-shadow: none;
}


/* use class to have a little animation */
.hide-col {
  width: 0px !important;
  height: 0px !important;
  display: block !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}



.disableBorder {
  border: 2px solid white;
}

.disableBordertr {
  border: 2px solid white;
}

.adjustWidthOftd {
  width: 15%;
  border: 2px solid white;

}

.adjustWidthOftd1 {
  width: 35%;
  border: 2px solid white;
}

.textboxareascrolling1 {
  width: 670px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.lessspace2 {
  resize: both;
  overflow: auto;
}

::placeholder {
  color: #070403;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
  text-decoration: underline;
  opacity: 1 !important;
}



#cross:hover i

/* when link is hovered select i */
  {
  /* when icon is hovered select i */
  visibility: visible;
}

#cross i {
  /* in all other case hide it */
  visibility: hidden;
}



.lessspace {
  width: 50px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

::placeholder {
  color: black;
}

.inp {

  border-bottom: 1px solid #008080;
  padding: 5px 10px;
  outline: none;
  border-width: 0 0 2px;
  height: 15px;
}

.inp:focus {
  border-color: green
}

.inputsmallsize1 {
  width: 10px;
  border: 1px solid white;
}

.textboxarea1 {
  width: 350px;
  height: 80px;
}

.upload-button {
  margin-left: 70px;
}

.Quotfile {
  margin-left: 70px;
}

h6 {
  font-size: 15px;
}

.inputsmallsize2 {
  width: 20px;
}

.inputsmallsize3 {
  width: 25px;
}

.inputsmallsize4 {
  width: 50px;
}

.inputsmallsize5 {
  width: 70px;
}

.inputsmallsize6 {
  width: 75px;
}

.inputsmallsize7 {
  width: 90px;
}

.inputsmallsize9 {
  width: 120px;
}

.inputsmallsize15 {
  width: 185px;
}

.inputsmallsize16 {
  width: 195px;
}

.inputsmallsize25 {
  width: 165px;
}

.inputsmallsize30 {
  width: 280px;
}

.inputsmallsizeta {
  resize: both;
}

.toppadding {
  margin-top: -200px;
}


.textboxareascrolling {
  width: 910px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: scroll;
}


.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap>textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */


  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid rgb(156, 152, 152);
  padding: 0.5rem;
  font: inherit;
  width: 280px;
  word-wrap: break-word;
  /* Place on top of each other */
  grid-area: 1 / 1;
}


.align-center {

  width: 85%;
  margin: auto;
}

.register-card {
  margin-top: 2%;
  border-radius: 10px;
  padding-bottom: 0px;

}

.centercard {
  margin-left: 35%;
  margin-right: 35%;
}

.w3-lobster {
  font-family: "calibri";
}

.space {
  padding-top: 13px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 45px;

}

.layout {
  height: 80%;
}

.spacetopfortr {
  padding-top: 13px;
}

.spaceTopBottom {
  padding-top: 23px;
  padding-bottom: 55px;
  margin-bottom: 1%;
  margin-left: 2%;

}

.leftmargin {
  margin-left: -27%;
}

.borderToDiv {
  border: 2px solid rgb(144, 138, 138);
}

.spaceleft {
  padding-left: 0px;
}

.spaceRight {
  margin-right: -920%;
}

.Adjustspaceleft {
  padding-left: 130px;
}

.adjusttable {
  margin-bottom: 5px;
  overflow-x: auto;
}

.Adjustspace {
  padding-right: 2%;
}

.adjustleft {
  padding-left: 0px;

}

.spaceTop {
  padding-top: 23px;
}

.add {
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 23px;
  background-color: lightblue;
}

a {
  color: #0093f5;
  border-bottom: rgb(19, 18, 18);
}

a:link {
  text-decoration: underline;
  color: #0093f5;
}

a:hover {
  color: rgb(255, 88, 116);
  font-size: 15px;
}

.centeralign {
  margin-left: 65px;
}

.centeralign1 {
  margin-left: 62px;
}

.leftspaceforcustomer {
  margin-left: 20px;
}

.right {
  text-align: right;
}

.textcenter {
  text-align: center;
  font-size: 20px;
}

.div1_trial {
  resize: both;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
  border: 0px solid grey;
  display: block;

}

table {
  font-family: 'calibri';
  border-collapse: collapse;

  width: 100%;
}

tr {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
  overflow: auto;

}

.td1 {
  width: 460px;
}

.td2 {
  width: 460px;
}

.fulllengthtd {
  width: 760px;
}

.noborderright {
  border-right: 0px solid white;
  border-right-style: none;
}

.noborderleft {
  border-left: 0px solid white;
  border-right-style: none;
  border-left-style: none;
}

.noborderup {
  border-top-style: none;

  border-top: none;
}

.noborderbottom {
  border-bottom-style: none;
  border-bottom: none;

}


.rowitem {
  max-height: 30em;
  padding: 15px 0;
  overflow: hidden;
}

th {
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);

}

.bg-primary {
  color: #ffffff;
  ;
  background-color: #caeaf7;
  ;
  margin-left: 25%;
  margin-right: 25%;
}

.button {
  font-size: 15px;
  padding: 10px;
  background-color: #008080;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
  background-color: #008080;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'calibri';
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}


/************************** Button CSS ********************************************************/


/* ...trial css animation......*/

.box-1 {
  background-color: #008080;
  height: 40px;
  width: 100px;
}


.btn {
  line-height: 20px;
  height: 3em;
  text-align: center;

  width: 130px;
  cursor: pointer;
  font-size: 15px;
  background-color: #008080;


}

.flex-parent {
  display: flex;
  margin-bottom: 1%;

}

.jc-center {
  justify-content: center;
  margin-bottom: 1%;
}

button.margin-right {
  margin-right: 2px;
}

/* 
      ========================
            BUTTON ONE
      ========================
      */

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;

}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(27, 25, 25, 0.5);
  border-bottom-color: rgba(29, 27, 27, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 15;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(14, 13, 13, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 10);
}


@media screen and (max-width: 500px) {


  h6 {
    font-size: 13px;
  }

  .box {
    width: 70%;

  }

  .popup {
    width: 70%;
  }

  .centercard {
    width: 70%;
    margin-left: 15%;
  }

  .register-card {
    height: auto;
  }

  .spaceTopBottom {

    margin-bottom: -25%;
  }

  .inputsmallsize15 {
    width: 93%;
  }

  .inputsmallsize30 {
    width: 93%;
  }

  .inputsmallsize45 {
    width: 93%;
  }

  .textboxareascrolling {
    width: 95%;
    height: 80px;
    overflow-y: scroll;
  }


  .textboxareascrolling1 {
    width: 95%;
    height: 80px;
    overflow-y: scroll;
  }


  .centeralign {
    margin-left: 2px;
  }

  .centeralign1 {
    margin-left: 2px;
  }

  .spaceleft {
    padding-left: 0px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustleft {
    padding-left: -90px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustlabel {
    margin-left: -18px;
    display: inline;
  }

  .adjustlabel2 {
    margin-left: 15px;
    margin-right: -1002px;
  }

  .adjusttable {
    margin-bottom: 15px;

  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .adjusttable {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -18px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  .mobiletdview {
    width: 360px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .upload-button {
    margin-left: 0px;
  }

  .Quotfile {
    margin-left: 0px;
  }

  .spacetopforbutton {
    margin-top: 3px;
  }

  .space {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

  }

  .buttoncss {
    height: 3em;
    width: 300px;

  }

}


@media screen and (min-width: 501px) and (max-width: 1000px) {

  .buttoncss {
    height: 3em;


  }


  .box {
    width: 70%;

  }

  .popup {
    width: 70%;
  }

  .centercard {
    width: 70%;
    margin-left: 15%;
  }

  .register-card {
    height: auto;
  }

  .spaceTopBottom {

    margin-bottom: -25%;
  }

  .inputsmallsize15 {
    width: 155%;
  }

  .inputsmallsize30 {
    width: 155%;
  }

  .inputsmallsize45 {
    width: 155%;
  }

  .textboxareascrolling {
    width: 159%;
    height: 80px;
    overflow-y: scroll;
  }

  .centeralign {
    margin-left: 2px;
  }

  .centeralign1 {
    margin-left: 2px;
    font-size: 14px;
  }

  .spaceleft {
    padding-left: 0px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustleft {
    padding-left: -90px;
    margin-left: -18px;
    width: 180px;
  }

  .adjustlabel {
    margin-left: -18px;
    display: inline;
  }

  .adjustlabel2 {
    margin-left: 15px;
    margin-right: -1002px;
  }

  .adjusttable {
    margin-bottom: 15px;
  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .adjusttable {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -18px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .upload-button {
    margin-left: 0px;
  }

  .Quotfile {
    margin-left: 0px;
  }

  .spacetopforbutton {
    margin-top: 3px;
  }
}


/********************************* trial adjusting **************************************************/



* {
  margin: 0px;
  padding: 0px
}


.media1140px,
.media768px,
.media480px,
.media300px {
  padding: 10px;
}

p {
  margin: 0 0 0px 0;
}

/* middle section end */

.backgroundfordiv {
  background-color: #399c92;
  ;
}

.required:after {
  content: " *";
  color: red;
}


/*****************************************************************************/


input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

::placeholder {
  color: black;
}

.widthofremove {
  width: 110px;
}

/*******************print************************/
@media print {

  @page {
    margin: 0;
  }

  body {
    display: none;
  }
}

@media print {

  .printMe {
    visibility: visible;
  }

  .noprint {
    visibility: hidden;
  }

}


/**************************** Css for manage-footer***************************************/
p {
  font-family: Lato;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.show {
  opacity: 1;
}

.modal {
  z-index: 1072;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


.modal-footer> :not(:first-child) {
  margin-left: 0.25rem;
}

.modal-footer> :not(:last-child) {
  margin-right: 0.25rem;
}

/* ========= */

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: 0.2rem 0 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

/* POP UP */
.popup {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 50%;
  transition: all 2s ease-in-out;
}

.popup-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}

@media (max-width: 320px) {
  .popup {
    top: 27% !important;
  }
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.cancel-btn {
  float: right;
  margin: 11px 20px 0 0;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #e40000;
}

.popup .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup .content p a {
  color: #e40000;
  text-decoration: none;
}

.webkit-square {
  -webkit-text-security: square !important;
  letter-spacing: 8px;
}

.done-btn {
  max-width: 100px !important;
}

.resend-code {
  position: absolute;
  right: 0;
  padding: 0;
  font-size: 14px;
  top: 24px;
  color: #e40000;
  font-weight: 500;
  text-decoration: none !important;
}

/* POP UP1 */
.popup1 {
  padding: 20px;
  top: 30%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  background: #fff;
  width: 70%;
  transition: all 2s ease-in-out;
}

.popup1-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  height: 100vh;
}

.popup1 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #333;
}

@media (max-width: 320px) {
  .popup1 {
    top: 27% !important;
  }
}

.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

.popup1-btn,
.cancel-btn,
.resend-code {
  background: transparent;
  border: none;
  outline: unset;
}

.popup1-btn {
  float: right;
  width: 100%;
  text-decoration: none;
  max-width: 130px;
  background: #e40000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.cancel-btn {
  float: right;
  margin: 11px 20px 0 0;
  text-decoration: none !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #e40000;
}

.popup1 .content p {
  text-align: center;
  font-weight: 400;
  position: relative;
}

.popup1 .content p a {
  color: #e40000;
  text-decoration: none;
}

.webkit-square {
  -webkit-text-security: square !important;
  letter-spacing: 8px;
}

.done-btn {
  max-width: 100px !important;
}

.resend-code {
  position: absolute;
  right: 0;
  padding: 0;
  font-size: 14px;
  top: 24px;
  color: #e40000;
  font-weight: 500;
  text-decoration: none !important;
}
