<div>
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard " style="background-color:white;">
      <label class=" w3-lobster w3-xlarge" style="color: rgb(85, 81, 81);">Create Calibration Certificate</label>
    </div>


    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">

      <form [formGroup]="calibCertificateForm">

        <div #content id="content" class="form-group w3-row-padding space" style="background-color:white;border:gray">
          <div id="printable">

            <div class="form-row spaceTopBottom borderToDiv" style="background-color:white;">
              <label style="font-size: 20px;">Certificate No & Date</label><br>
              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label>Certificate No</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="certificateNo" [(ngModel)]="certificateNo">
                </div>
                <div class="col-sm-2 adjustleft">
                  <label class="required">Date of Calibration</label>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize16" format='dd-MM-yyyy'
                    [ngModel]="dateCalibration| date:'dd-MM-yyyy'" formControlName="dateCalibration">
                  </ejs-datepicker>
                </div>
                <div class="col-sm-2 adjustleft">
                  <label class="required">Date of Issue Certificate</label>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize16" format='dd-MM-yyyy'
                    [ngModel]="dateOfIssueCertificate| date:'dd-MM-yyyy'" formControlName="dateOfIssueCertificate">
                  </ejs-datepicker>
                </div>
                <div class="col-sm-2 adjustleft">
                  <label class="required">Received Date</label>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize16" format='dd-MM-yyyy'
                    [ngModel]="dateReceived| date:'dd-MM-yyyy'" formControlName="dateReceived">
                  </ejs-datepicker>
                </div>
                <div class="col-sm-2 adjustleft">
                  <label class="required">Calibration Due On</label><br>
                  <ejs-datepicker class="w3-input form-control w3-border inputsmallsize16" format='dd-MM-yyyy'
                    [ngModel]="calibratedDueOn| date:'dd-MM-yyyy'" formControlName="calibratedDueOn">
                  </ejs-datepicker>
                </div>
              </div>
            </div>

            <div class="form-row spaceTopBottom borderToDiv" style="background-color:white;">
              <label style="font-size: 20px;">Select Certificate Type</label><br>
              <div class="col-sm-3 spaceTopBottom">
                <label>R & R Table : </label>
                <a>Observation Sheet </a> <i class="fa fa-close" style="font-size:19px;color:red"
                  (click)="deleteObservationSheet()"></i>
              </div>
            </div>

            <div class="form-row spaceTopBottom borderToDiv" style="background-color:white;">
              <label class="leftmargin" style="font-size: 20px;">Instrument Details</label><br>
              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label class="required">Nomenclature</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="nomenclature" [(ngModel)]="nomenclature" disabled>
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Make</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="make" [(ngModel)]="make">
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Range/Size</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize5"
                    type="text" formControlName="rangeFrom" [(ngModel)]="rangeFrom"> to
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize5"
                    type="text" formControlName="rangeTo" [(ngModel)]="rangeTo"> {{ruom}}
                </div>
                <div class="col-sm-3 adjustleft">

                  <label class="required">Least Count</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="leastCount" [(ngModel)]="leastCount"> {{lcuom1}}
                </div>
              </div>

              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label class="required">Id No</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="idNo" [(ngModel)]="idNo">
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Sr No</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="srNo" [(ngModel)]="srNo">
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Order No</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="orderNo" [(ngModel)]="orderNo">
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Select Certificate Print Mode</label><br>
                  <select class="w3-input form-control w3-border inputsmallsize30"
                    formControlName="certificatePrintMode" [(ngModel)]="certificatePrintMode">
                    <option value="Letter Head">Letter Head</option>
                    <option value="Nabl">Nabl</option>
                    <option value="No Nabl">No Nabl</option>
                  </select>
                </div>
              </div>

              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label class="required">Accuracy</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="accuracy" [(ngModel)]="accuracy"> {{formulaAccuracy }}

                  <span>+</span>
                </div>
                <div class="col-sm-3 adjustleft">
                  <label>Accuracy1</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="accuracy1" [(ngModel)]="accuracy1">
                  {{formulaAccuracy1}}
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Condition Of Instrument</label><br>
                  <select class="w3-input form-control w3-border inputsmallsize30" formControlName="instruCondition"
                    [(ngModel)]="instruCondition">
                    <option>Good</option>
                  </select>
                </div>


                <div class="col-sm-3 adjustleft">
                  <label class="required">Calibration At</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                    type="text" formControlName="calibratedAt" [(ngModel)]="calibratedAt" disabled>
                </div>

              </div>


              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label class="required">Location</label><br>
                  <div class="grow-wrap">
                    <textarea name="text" id="text" formControlName="location" [(ngModel)]="location"
                      onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                  </div>
                </div>

                <div class="col-sm-3 adjustleft">
                  <label class="required">Instrument Type</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="instrumentType" [(ngModel)]="instrumentType">
                </div>


                <div class="col-sm-2 adjustleft">

                </div>

              </div>
            </div>


            <div class="form-row spaceTopBottom borderToDiv" style="background-color:white;">
              <label style="font-size: 20px;">Input Output</label><br>
              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label>Input(optional)</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    type="text" formControlName="inputOptional" [(ngModel)]="inputOptional">to
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    type="text" formControlName="inputOptional1" [(ngModel)]="inputOptional1">
                  <select style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    formControlName="inputOptionalS" [(ngModel)]="inputOptionalS">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="col-sm-3 adjustleft">
                  <label class="required">Output (optional)</label><br>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    type="text" formControlName="outputOptional" [(ngModel)]="outputOptional">to
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    type="text" formControlName="outputOptional1" [(ngModel)]="outputOptional1">
                  <select style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize7"
                    formControlName="outputOptionalS" [(ngModel)]="outputOptionalS">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="col-sm-2 adjustleft">
                  <label class="required">Thermocouple RTD Type</label>
                  <select class="w3-input form-control w3-border inputsmallsize15" formControlName="thermocoupleType"
                    [(ngModel)]="thermocoupleType">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="col-sm-3 adjustleft">
                  <label class="required">Master Input(optional)</label>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="masterIp" [(ngModel)]="masterIp">
                </div>

              </div>

              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-2 adjustleft">
                  <label class="required">UUC Sensor Type</label>
                  <select class="w3-input form-control w3-border inputsmallsize15" formControlName="uucSensor"
                    [(ngModel)]="uucSensor">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="col-sm-2 adjustleft">
                  <label class="required">Master Type</label>
                  <select class="w3-input form-control w3-border inputsmallsize15" formControlName="masterType"
                    [(ngModel)]="masterType">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="col-sm-2 adjustleft">
                  <label class="required">UOM of first Master</label>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="uomMaster1" [(ngModel)]="uomMaster1">
                </div>

                <div class="col-sm-2 adjustleft">
                  <label class="required">UOM of second Master</label>
                  <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize15"
                    type="text" formControlName="uomMaster2" [(ngModel)]="uomMaster2">
                </div>


              </div>

            </div>


            <BR><br>
            <div class="form-row spaceTopBottom borderToDiv" style="background-color:white;">
              <div class="form-row" style="background-color:white;">
                <label style="font-size: 20px;">Select master(s) used for calibration : </label>
                <input style="display:inline-block;" class="w3-input form-control w3-border inputsmallsize30"
                  type="text" formControlName="masterCertificate" [(ngModel)]="masterCertificate">
              </div>
              <div class="form-row spaceTop" style="background-color:white;">
                <div class="adjusttable" id="tab">
                  <table class="table" id="tblMultileads" #tableid>
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Instrument SrNo and Name</th>
                        <th>Certificate No</th>
                        <th>Calibrated By</th>
                        <th>Valid Upto</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyLeads">
                      <tr>
                        <td>

                        </td>

                        <td>

                        </td>

                        <td>

                        </td>


                        <td>

                        </td>

                        <td class="lessspace">

                        </td>

                        <td>
                          <a (click)="removeMasters()" data-toggle="tooltip_remove_master"
                            title="Remove Masters">Remove</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="form-row spaceTopBottom" style="background-color:white;">
                <div class="col-sm-3 adjustleft">
                  <label class="required">Calibrated By</label><br>
                  <select class="form-control inputsmallsize30" formControlName="calibratedBy"
                    [(ngModel)]="calibratedBy" required>
                    <option value="ravi">ravi</option>
                    <option value="ram">ram</option>
                  </select>
                </div>
                <div class="col-sm-3 adjustleft">
                  <label class="required">Autorized By</label><br>
                  <select class="form-control inputsmallsize30" formControlName="authorizedBy"
                    [(ngModel)]="authorizedBy" required>
                    <option selected value="K. M. Bhosale">K. M. Bhosale</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="flex-parent jc-center">
              <button class="w3-btn  box-1 btn btn-one margin-right" [disabled]="!calibCertificateForm.valid"
                (click)="updateData()">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
