<!-- <div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Search and Modify UOM Calculator</label><br>
    </div>

    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="SearchUserform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row " style="background-color:white;">


            <div class="col-sm-6 spaceleft spaceBottom">
              <label>Search UOM Caluculator</label> <br>
              <input style="display: inline;" class="w3-input form-control w3-border inputsmallsize50 icon" type="text"
                placeholder="&#61442; Type here to filter records from table below..">
              <button class="w3-btn  box-1 btn btn-one margin-right1" style="background-color: #186CFB" type="button"
                (click)="functionname()">Search</button>
            </div>


            <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
              <br>
              <table class="w3-table  w3-bordered">
                <tr>

                  <th style="text-align:center;">PARAMETER</th>
                  <th style="text-align:center;">PREVIEW</th>
                </tr>
                <tr>

                  <td width="100%" colspan="2">
                    <span>Enter Criteria To Search Records(s).</span>
                  </td>

                </tr>
              </table>
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div> -->






<div style="background-color: rgb(223, 223, 223);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge " style="color: rgb(85,81,81);">Search and Modify UOM Calculator</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card" style="background-color:white;">
      <form [formGroup]="searchUomForm">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 spaceleft">
              <label>Search UOM Caluculator</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text" placeholder="Name"
                formControlName="name">


                <!-- <div class="w3-panel w3-text-red"
                *ngIf="searchUncForm.controls.name.invalid && (searchUncForm.controls.name.dirty || searchUncForm.controls.name.touched)">
                please enter minimum 3 characters to search</div> -->




            </div> 

            <div class="col-sm-4">
              <label></label><br>
              <button class="w3-btn  box-1 btn btn-one " style="background-color: #008080"
              (click)="searchData()">Search</button>
            </div>
            </div>


          <div class="form-row spaceTopBottom adjusttable" style="background-color:white;">
            <table class="w3-table  w3-bordered">
              <tr>
                <th style="text-align:center;">PARAMETER</th>
                  <th style="text-align:center;">PREVIEW</th>
              </tr>
              <tbody>

                <tr *ngIf="uomCalculatorData == 0">
                  <td width="100%" colspan="2"><span> Enter Criteria to search uom calculator parameter(s).</span></td>
                </tr>


                <tr 
                  *ngFor="let uomCal of uomCalculatorData | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: count}; let i = index;">

                  <td style="text-align:center;"><a class="a1"><span
                        (click)="uncNameToUpdateUnc($event)">{{uomCal[1]}}</span></a></td>
                  <td style="text-align:center;"></td>
                
                </tr>

              </tbody>

            </table>
            <br>
            <div style="color:red;" id="trial"></div>
            <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
            <label>Items per page:
              <select class="form-control inputsmallsize5" [(ngModel)]="itemsPerPage" formControlName="itemsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div>.</div>








