<div style="background-color: rgb(248, 248, 248);">
  <div class="w3-lobster container-fluid mt-3 w3-container  align-center w3-card register-card backgroundfordiv">


    <div class="w3-container w3-center w3-card register-card centercard" style="background-color:white;">
      <label class=" w3-lobster w3-xlarge w3-text-blue ">Create Delivery Challan/Purchase Order</label><br>
    </div>


    <div class="w3-container container-fluid w3-card register-card " style="background-color:white;">
      <form [formGroup]="CreateDeliveryChallanform">

        <div class="form-group w3-row-padding space" style="background-color:white;">
          <div class="form-row spaceTopBottom" style="background-color:white;">

            <div class="col-sm-4 spaceleft">
              <label class="required">Company Prefix</label>
              <select class="form-control inputsmallsize30" formControlName="CompanyPrefix" required>
                <option selected disabled value="null">--Select Company Prefix--</option>
                <option>RAM/SDC/16-17/-</option>
                <option>UCL/SDC/16-17/-</option>
                <option>UCSPL/SDC/16-17/-</option>
                <option>UI/SDC/16-17/-</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="CreateDeliveryChallanform.controls['CompanyPrefix'].touched && CreateDeliveryChallanform.controls['CompanyPrefix'].hasError('required')">
                Please select Document Type</div>

            </div>
            <div class="col-sm-4 spaceleft">
              <label>Branch</label>
              <select class="form-control inputsmallsize30" formControlName="Branch">
                <option selected disabled value="null">--Select Branch--</option>
                <option> KOLHAPUR</option>
                <option>MUMBAI</option>
                <option>PUNE</option>
              </select>


            </div>
            <div class="col-sm-4 spaceleft">
              <label class="required">Document Type</label>
              <select class="form-control inputsmallsize30" formControlName="DocType" required>
                <option selected disabled value="null">--Select Document Type--</option>
                <option>po_v1.xsl</option>
                <option>sup_delivery_challan.xsl</option>
              </select>
              <div class="w3-panel w3-text-red"
                *ngIf="CreateDeliveryChallanform.controls['DocType'].touched && CreateDeliveryChallanform.controls['DocType'].hasError('required')">
                Please select Document Type</div>

            </div>

          </div>
          <br>

          <div class="form-row spaceTopBottom" style="background-color:white;">
            <div class="col-sm-4 adjustleft">
              <label>Document No</label>
              <h6>(Auto Generated)</h6>
            </div>

            <div class="col-sm-4 spaceleft">
              <label>Document Name</label>
              <input class="w3-input form-control w3-border inputsmallsize30" type="text"
                placeholder="Type Here To Search Customer" formControlName="DocName">
            </div>

            <div class="col-sm-4 adjustleft">
              <label class="required">Document Date</label>
              <ejs-datepicker class="w3-input form-control w3-border inputsmallsize30" format='dd-MM-yyyy'
                id='datepicker' [ngModel]="dateValue| date:'dd-MM-yyyy'" formControlName="DocumentDate">
              </ejs-datepicker>

            </div>

          </div>
        </div>






        <!--   <input class="w3-input form-control w3-border inputsmallsize30" [ngModel] ="dateValue | date:'yyyy-MM-dd'" type="date" formControlName="poDate" >
              {{dateValue | customDate}}    -->






        <div class="flex-parent jc-center ">
          <button class="w3-btn  box-1 btn btn-one margin-right" style="background-color: #186CFB" type="button"
            (click)="functionname()">Create</button>
        </div>


      </form>
    </div>
  </div>
</div>
