
<div class="w3-container  align-center w3-card register-card ">

  <div class="w3-container w3-center w3-card register-card" style="background-color:white;">
    <label class=" w3-lobster w3-xxlarge w3-text-teal">Forgot Password</label><br>
    <label class="w3-large" style="text-align: center;"> Only for Active Users</label>
  </div>

<div class="w3-container w3-card register-card" style="background-color:white;" >
<form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
 

    <div class="form-group" style="background-color:white;">

      
    <div class="w3-row-padding  space" style="background-color:white;">
      <div class="col-sm-3">
        <label>User Name:</label>
      </div>
      <div class="col-sm-9">
        <input class="w3-input w3-border inputsmallsize30" type="text"  placeholder="User Name" [(ngModel)]="username"  (keyup)="Usernamevalid1()" formControlName="username"
        name="username" id="username" style="display: inline-block;">
      </div>
    </div>

    <div class="w3-row-padding  space" style="background-color:white;">
      <div class="form-group Adjustspace ">
        <div style="color:red;" id="UserNameValidation"></div>
      </div>
      </div>

      <div class="w3-row-padding  space" style="background-color:white;">
        <div class="col-sm-3">
        <label class="required">Email:</label>
        </div>
        <div class="col-sm-9">
              <input style="display:inline-block;" type="email" class="w3-input w3-border inputsmallsize30"
                placeholder="Email" [(ngModel)]="email" formControlName="email" name="email" id="email">&nbsp;
              <span data-tip="Email must contain atleast 1-dot and 1-@ for example abc@gmail.com"> <i
                  class="fa fa-question-circle" style="font-size:18px;color:gray"></i> </span>
                 
              <div class="w3-panel w3-text-red"
                *ngIf="ForgotPasswordForm.controls.email.invalid && (ForgotPasswordForm.controls.email.dirty || ForgotPasswordForm.controls.email.touched)">
                Please enter valid email</div>
                </div>
              </div>
 
    <!--  <input type="text" class="form-control inputsmallsize30" value="UserName" [(ngModel)]="user.username"
                (click)="change()" (click)="Usernamevalid1()" (keyup)="Usernamevalid1()" formControlName="username"
                name="username" id="username">   w3-btn  box-1 btn btn-one margin-right -->

    

    <div class="w3-row-padding space add flex-parent jc-center" style="background-color:rgb(255, 255, 255);">

        <button  class="w3-btn w3-teal w3-text-black btn " type="submit" *ngIf="userstatus==1">Submit</button> &emsp;
        <a (click)="backtologin()" class="w3-btn w3-teal w3-text-black btn">Cancel</a>

    </div>
    </div>
</form>
</div>
</div>
